
<div class="productsByCategoryTabs-products--carousel {{#if theme_settings.general_rtl '==' 'rtl' }}dir-rtl{{/if}}">
	<section class="productCarousel products-list"
	    {{#if category.products }}
		data-slick='{
	        "dots": false,
	        "arrows": false,
	        "infinite": false,
	        "mobileFirst": true,
	        "slidesToShow": 1,
	        "slidesToScroll": 1,
			
	        "responsive": [
	            {
	                "breakpoint": 1260,
	                "settings": {
	                    "slidesToScroll": 1,
	                    "slidesToShow": 1
	                }
	            },
				{
					"breakpoint": 991,
					"settings": {
						"slidesToScroll": 1,
						"slidesToShow": 1
					}
				},
				{
					"breakpoint": 400,
					"settings": {
						"slidesToScroll": 1,
						"slidesToShow": 1
						
					}
				},
				{
					"breakpoint": 0,
					"settings": {
						"slidesToScroll": 1,
						"slidesToShow": 1,
						"arrows": false
					}
				}
	        ]
	    }'
		{{/if}}
	>
		
	    {{#if category.products }}
			
			{{#forEach (limit category.products 6)}}
				
				{{#if isFirst}}
					<div class="first-side productCarousel-slide product-layout product-grid">
						{{> components/sbthemes/module/sb_listing_tabs/home1_first/card_listing_first
							show_rating=../../theme_settings.show_product_rating
							alternate=../../alternate
							theme_settings=../../theme_settings customer=../customer}}
						
				{{/if}}
				
				{{#or 
					(if index '===' (add 1 ../theme_settings.homepage_listingtabs_row))
					(if index '===' (add 1 (multiply 2 ../theme_settings.homepage_listingtabs_row))) 
					(if index '===' (add 1 (multiply 3 ../theme_settings.homepage_listingtabs_row))) }}
					<div class="productCarousel-slide product-layout product-grid">
				{{/or}} 
						
						{{> components/sbthemes/module/sb_listing_tabs/home1_first/card_listing
							show_rating=../theme_settings.show_product_rating
							alternate=../alternate
							theme_settings=../theme_settings customer=../customer}}
							
					
				{{#or 
					(if index '===' ../theme_settings.homepage_listingtabs_row)
					(if index '==='(multiply 2 ../theme_settings.homepage_listingtabs_row)) 
					(if index '==='(multiply 3 ../theme_settings.homepage_listingtabs_row) 
					(if index '===' total))}}
					</div>
				{{/or}}
				

			{{/forEach}}
		{{else}}
			<div class="alert alert-info" role="alert" style="margin:30px">
				<i class="fa fa-info-circle"></i> 
			   {{{lang 'sb_themes.sb_listing_tabs.noItem' }}}
			</div>
		{{/if}}
	</section>
</div>

