{{#if children}}
<a class="navPages-action has-subMenu" href="{{url}}" data-collapsible="navPages-{{id}}">
	{{#if (lang (concat (concat 'sb_themes.sb_megamenu.vertical.menu_cat_'../index_cat)'.icon')) '!=' ' '}}
		<img class="navPages__icon" src="{{ lang  (concat (concat 'sb_themes.sb_megamenu.vertical.menu_cat_'../index_cat)'.icon')}}" alt="icons">
	{{/if}} {{name}} 
	<i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i>
</a>
<div class="navPage-subMenu is-open" id="navPages-{{id}}" aria-hidden="true" tabindex="-1">
    <div class="row">
		{{#if (lang (concat (concat 'sb_themes.sb_megamenu.menu_cat_'../index_cat)'.image')) '!=' ' '}}
		<div class="col-sm-9">
		{{else}}
		<div class="col-sm-12">
		{{/if}}
			<ul class="navPage-subMenu-list">
				{{#forEach children}}
					<li class="navPage-subMenu-item">
						{{#if children}}
							<a
								class="navPage-subMenu-action navPages-action has-subMenu"
								href="{{url}}"
								data-collapsible="navPages-{{id}}"
								data-collapsible-disabled-breakpoint="medium"
								data-collapsible-disabled-state="open"
								data-collapsible-enabled-state="closed">
								{{name}} <i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i>
							</a>
							<ul class="navPage-childList" id="navPages-{{id}}">
								{{#each children}}
								<li class="navPage-childList-item">
									<a class="navPage-childList-action navPages-action" href="{{url}}">{{name}}</a>
								</li>
								{{/each}}
								
							</ul>
						{{else}}
							<a class="navPage-subMenu-action navPages-action" href="{{url}}">{{name}}</a>
						{{/if}}
						
					</li>
				{{/forEach}}
			</ul>
		</div>
		{{#if (lang (concat (concat 'sb_themes.sb_megamenu.vertical.menu_cat_'../index_cat)'.image')) '!=' ' '}}
		<div class="col-sm-3">
			<div class="banners">
				<div>
					<a href="{{lang  (concat (concat 'sb_themes.sb_megamenu.vertical.menu_cat_'../index_cat)'.url')}}"><img src="{{lang  (concat (concat 'sb_themes.sb_megamenu.vertical.menu_cat_'../index_cat)'.image')}}" alt="banner"></a>  
				</div>
			</div>
		</div>
		{{/if}}
	</div>
	
</div>
{{else}}
<a class="navPages-action" href="{{url}}">
	{{#if (lang (concat (concat 'sb_themes.sb_megamenu.vertical.menu_cat_'index_cat)'.icon')) '!=' ' '}}
		<img class="navPages__icon" src="{{ lang  (concat (concat 'sb_themes.sb_megamenu.vertical.menu_cat_'index_cat)'.icon')}}" alt="icons">
	{{/if}}
{{name}}
</a>
{{/if}}
