{{#with theme_settings}}
    {{#or show_accept_amex show_accept_discover show_accept_mastercard show_accept_paypal show_accept_visa}}
        <div class="footer-payment-icons">
            {{#if show_accept_amex}}
                <img class="img-responsive lazyload" src="{{cdn '/assets/img/loading.svg'}}" data-src="{{cdn '/assets/img/pay-3.png'}}" alt="loading" >
            {{/if}}
            {{#if show_accept_discover}}
                <img class="img-responsive lazyload" src="{{cdn '/assets/img/loading.svg'}}" data-src="{{cdn '/assets/img/pay-5.png'}}" alt="loading" >
            {{/if}}
            {{#if show_accept_mastercard}}
                <img class="img-responsive lazyload" src="{{cdn '/assets/img/loading.svg'}}" data-src="{{cdn '/assets/img/pay-1.png'}}" alt="loading" >
            {{/if}}
            {{#if show_accept_paypal}}
                <img class="img-responsive lazyload" src="{{cdn '/assets/img/loading.svg'}}" data-src="{{cdn '/assets/img/pay-4.png'}}" alt="loading" >
            {{/if}}
            {{#if show_accept_visa}}
                <img class="img-responsive lazyload" src="{{cdn '/assets/img/loading.svg'}}" data-src="{{cdn '/assets/img/pay-2.png'}}" alt="loading" >
            {{/if}}
        </div>
    {{/or}}
{{/with}}
