
//====== SB SlideShow  =======
.section-slideshow{ margin: 20px 0;
        @media (min-width: 1200px){ margin-top: 30px; margin-bottom: 30px;}
        .block-slideshow__left{
            @media (min-width: 1200px){
                max-width: 70%;
                flex: 0 0 70%;
            }
        }
        .block-slideshow__right{
            @media (min-width: 1200px){
                max-width: 30%;
                flex: 0 0 30%;
            }
        }

        .slick-slider{ margin: 0;
            ul.slick-dots{  bottom: 20px; width: 100%;  line-height: 100%; text-align: center;  display: inline-block;@media (max-width: 421px){ bottom: 10px;  }
                li{ display: inline-block; padding: 0 1px; width:auto; height: auto;
                    button{ width: 30px; height:6px; background-color: #222; border:none; margin:0 5px; opacity: 1; border-radius: 3px;
                        display: block; @include transition(all .2s ease 0s);
                        &:before{display:none;}
                    }
                    &.slick-active button{ background-color: $background;  }
                    &:hover button{background-color: $background;}
                }
            }
            .heroCarousel-slide{
                &.slick-active{
                    .heroCarousel-content{
                        .heroCarousel-title{
                            opacity: 1;
                            animation: myeffect-slideshow 2s ease-in-out ;
                        }
                        h3.description-tilte{
                            opacity: 1;
                            animation: myeffect-slideshow 1.5s ease-in-out ;
                        }
                        .heroCarousel-action{
                            opacity: 1;
                            animation: myeffect-slideshow 1s ease-in-out ;
                        }
                    }
                }
            }
            .heroCarousel-content{
                transform: none;text-align: center; background: none;  top: 15%; position: absolute;
                @media (max-width: 421px){
                    top: 0;
                   
                }
                .heroCarousel-title{
                    width: auto;
                    opacity: 0;
                    top: 21%;
                    font-size: 28px; 
                    color: $color-primary;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    @media (max-width: 421px){
                        top: 5%;
                        font-size: 15px; 
                        letter-spacing: 0;
                        margin-bottom: 4px;
                    }
                   @media (min-width: 991px){
                        font-size: 44px;
                        top: 31%;
                   }
                }
                .heroCarousel-description{
                    width: 65%;
                    color: #fff;
                    display: inline-block;
                    @media (max-width: 421px){
                        width: 95%;
                    }
                }
                h3.description-tilte{ 
                    opacity: 0;
                    color: #222; margin: 0 0 15px;  
                    font-weight: normal;
                    font-size: 14px;
                    @media (max-width: 421px){
                        font-size: 10px; margin: 0 0 10px;  
                    }
                }
                .heroCarousel-action{
                    opacity: 0;
                    margin-top: 15px;
                    font-size: 14px;
                    text-transform: none;
                    margin-top: 15px;
                    display: block;
                    background: $color-primary;
                    display: inline-block;
                    padding: 3px 10px;
                    border-radius: 3px;
                    @media (max-width: 421px){
                        padding: 0px 8px;
                        font-size: 10px;
                        margin-top: 0;
                    }
                    @media (min-width: 992px){
                        padding: 8px 25px;
                        font-weight: bold;
                    }
                    .fa{ display: none; }
                    &:hover{
                        background: #222;
                    }
                }
            }
        }
        
    
}
