
// SB Listing Tabs
// -----------------------------------------------------------------------------

.sb-listingtabs--bigfirst{
    .products-list .product-grid {
        .product-item-container {width:33.333%; float: $left; padding: 0 15px; background: none;   
            @media (max-width: 321px){ width:100%; }
            @media (max-width: 567px){ width:50%; }      
            @media (min-width: 1200px){ width:19%; }  
            &:first-child{width:100%;  padding:side-values(0 15px 0 0);
                @media(max-width: 1199px){
                    padding: 0 15px;
                }
                @media (min-width: 1200px){ width: 43%; }  
                .right-block{ padding: 29px 12px; }
            }
           .left-block{padding: 0!important; background-color: #f7f7f7;}
        }
    }
    .sb-listing-tabs .ltabs-container .productCarousel .productCarousel-slide{ 
        @media(max-width: 1199px){
            padding: 0;
        }
        @media(min-width: 1200px){
            padding-#{$right}:0;  
        }
    }
}
.sb-listing-tabs{
    .ltabs-heading{
        position: relative;
        .block-title{
                border-bottom: 2px solid #eee;
                display: inline-block;
                width: 100%;
                position: relative;
                margin-top: 0;
                margin-bottom: 20px;
                font-size: 16px;
                color: #000;
                font-weight: 700;
                text-transform: uppercase;
            a{
                font-size: 16px;
                color: #fff;
                font-weight: 700;
                float: left;
                text-transform: uppercase;
                margin-bottom: 0;
                background-color: #232f3e;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                padding: 11px 20px;
                position: relative;
                bottom: -2px;
                @media (max-width: 767px){
                    padding: 8px 15px;
                    font-size: 14px;
                }
            }
        }
        ul.tabs{
            border: 0;
            background: transparent;
            padding: 0;
            position: absolute;
            right: 0;
            top: 14px;
            @media (max-width: 575px){
                position: relative;
                top: -10px;
                text-align: center;
            }
            li.tab{
                border: none; float: none; display: inline-block; margin-#{$left}: 20px;  @media (max-width: 575px){margin-#{$left}: 10px;}
                &:first-child{ margin: 0; }
                position: relative;
                top: 0;
                &:before{
                    position: absolute;
                    content: "";
                    bottom: -4px;
                    #{$left}: 50%;
                    width: 0;
                    height: 2px;
                    background-color: $color-primary;
                    transition: all 0.2s ease-in-out 0s;
                    @media (max-width: 575px){display: none;}
                }
                &:hover,
                &.is-active{
                    border: none;
                    &:before{
                        width: 100%;
                        #{$left}: 0;
                    }
                }
            }
            .tab-title{
                padding: 0;
                color: #999;
                display: block;
                font-size: 14px;
                font-weight: 400;
                padding: 0;
                text-transform: capitalize;
                @media (max-width: 575px){text-transform: uppercase; font-size: 13px}
            }
            .is-active a,li:hover a{
                color: $color-textLink-hover;
            }
        }
    }
    .ltabs-container{
        .ltabs-items-image{width: 196px;float: left;}
        .ltabs-items-container{display: inline-block; width: 100%; float: left;}
        .tab-content{padding:0;
            @include listingtabArrow();
        }

        .productCarousel{margin:0 -15px;

            .productCarousel-slide{ padding: 0 15px;
                .product-item-container{margin-bottom: 30px; border:none; position: relative;z-index: 1;
                }
                .left-block{padding: 10px 15px 0;}
            }
            /*.first-side{width:43%;}*/
        }
    }
    
}

@media only screen and (max-width: 992px) and (min-width: 576px){
    .productCarousel,
    .sb-listing-tabs .ltabs-container .productCarousel{
        margin-left: -8px;
        margin-right: -8px;
    }
    .productCarousel-slide,
    .sb-listingtabs--bigfirst .products-list .product-grid .product-item-container:first-child,
    .sb-listingtabs--bigfirst .products-list .product-grid .product-item-container,
    .sb-listing-tabs .ltabs-container .productCarousel .productCarousel-slide{
        padding-left: 8px;
        padding-right: 8px;
    }
    .sb-listing-tabs .ltabs-container .productCarousel .productCarousel-slide .product-item-container,
    .sb-listing-tabs .ltabs-container .productCarousel .productCarousel-slide .product-item-container{
        padding-bottom: 0;
        margin-bottom: 16px;
    }
}
@media only screen and (max-width: 575px){
    .productCarousel,
    .sb-listing-tabs .ltabs-container .productCarousel{
        margin-left: -5px;
        margin-right: -5px;
    }
    .productCarousel-slide,
    .sb-listingtabs--bigfirst .products-list .product-grid .product-item-container:first-child,
    .sb-listingtabs--bigfirst .products-list .product-grid .product-item-container,
    .sb-listing-tabs .ltabs-container .productCarousel .productCarousel-slide{
        padding-left: 5px;
        padding-right: 5px;
    }
    .sb-listing-tabs .ltabs-container .productCarousel .productCarousel-slide .product-item-container,
    .sb-listing-tabs .ltabs-container .productCarousel .productCarousel-slide .product-item-container{
        padding-bottom: 0;
        margin-bottom: 10px;
    }
}