{{#if banners.top}}
    <div data-alert  class="banners--top alert-box" data-banner-location="top">
        <div class="container">
            {{{limit banners.top 1}}}
           
        </div>
        <a href="#" class="close">&times;</a>
    </div>
   
{{/if}}

<header class="header logo-content--{{logoPosition}}" >

    {{!-- HEADER TOP --}}
    <div class="header-top ">
        <div class="container">
            <div class="header-top-inner">
                <div class="row">
                    <div class="header-top-left col-lg-6 col-md-6 col-sm-6 d-none d-sm-block" >
                        <ul class="">
                            <li class="header_well"><span>{{lang 'sb_themes.header.welcome' }}</span></li>
                            <li class="header_login"><a href="{{urls.auth.login}}">{{lang 'common.login'}}</a> <span>{{lang 'sb_themes.header.or' }}</span> </li>
                                {{#if settings.account_creation_enabled}}
                                <li class="header_regisred">  <a href="{{urls.auth.create_account}}">{{lang 'common.sign_up'}}</a></li>
                                {{/if}}
                        </ul>
                    </div>
                    <div class="header-top-right col-lg-6 col-md-6 col-sm-6 text-right">
                        {{> components/common/navigation}}
                        
                    </div>
                </div>
            </div> 
        </div>
    </div> 
 
    {{!-- HEADER CENTER --}}
    <div class="header-center"  {{#if stickyHeader }} data-sticky-header  {{/if}}>
        <div class="container ">
            <div class="row">
                <div class="navbar-logo col-xl-2 col-lg-3 col-sm-4 col-6 logo-container">
                    {{> components/common/store-logo}}
                </div>
                <div class="header-search col-xl-7 col-lg-6 col-sm-8 col-6">
                    <div class="header-bottom__search collapsed-block">
                        <h5 class="search-info-heading  d-sm-none d-xl-none">
                            <span class="expander btn btn-outline-secondary" > <i class="fa fa-search"></i> </span>
                        </h5>
                        <div class="sb-quickSearch search-info-content"  aria-hidden="true" tabindex="-1" data-prevent-quick-search-close>
                            {{> components/sbthemes/common/quick-search}}
                        </div>
                    </div>
                </div>
               <div class="header-sub col-xl-3 col-lg-3 col-sm-2 col-2">
                    <ul>
                        {{#if theme_settings.show_product_compare}}
                        <li class="toplink-item compare d-none d-lg-block"><a href="{{urls.compare}}" data-compare-nav><i class="fa fa-refresh"></i> <span class="">{{lang 'common.compare'}}</span> </a></li>
                        {{/if}}
                        {{#if theme_settings.show_product_wishlist}}
                        <li class="toplink-item wishlist d-none d-lg-block"><a href="{{urls.account.wishlists.all}}"><i class="fa fa-heart"></i><span class=""> {{lang 'account.mobile_nav.wishlists'}}</span></a></li>
                        {{/if}}
                        
                    </ul>
                </div>

                
                 
            </div>
        </div>
    </div>


    {{!-- HEADER BOTTOM --}}
    <div class="header-bottom">
        <div class="container ">
            <div class="row">
                 <div class="horizontal_menu col-xl-9 col-lg-9 col-sm-9 col-6">
                    {{> components/sbthemes/module/sb_megamenu/default status=true  display_mode="horizontal" }}
                </div>
                <div class="middle-right col-xl-3 col-lg-3 col-sm-3 col-6 navbar-container">
                    <div class="navUser-item cart-group">
                        <a
                            class="cart-button cart-button--primary"
                            data-cart-preview
                            data-dropdown="cart-preview-dropdown"
                            data-options="align:left"
                            href="{{urls.cart}}">
                            <span class="cart-group__ico">
                                <i class="fa fa-shopping-bag"></i>
                                <span class="countPill{{#if cart.items}} countPill--positive{{/if}} cart-quantity cart-group__quantity">{{cart.quantity}}</span>
                            </span>
							<span class="text-shopping-cart">{{lang 'sb_themes.cart.myCart'}}</span>
							<span class="items_carts"> - {{cart.sub_total.formatted}} </span>
                        </a>
                        <div class="dropdown-menu" id="cart-preview-dropdown" data-dropdown-content aria-hidden="true"></div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
  
   
</header>
