{{#if banners.top}}
    <div data-alert  class="banners--top alert-box" data-banner-location="top">
		<div class="container">
            {{{limit banners.top 1}}}
           
        </div>
        <a href="#" class="close">&times;</a>
    </div>
   
{{/if}}

<header id="header" class="header logo-content--{{logoPosition}} variant" >

    {{!-- HEADER TOP --}}
    <div class="header-top hidden-compact">
        <div class="container">
            <div class="row">
                <div class="header-top-left col-lg-7 col-md-4 col-sm-4 col-xs-4">
                    <div class="welcome-msg hidden-md hidden-sm hidden-xs">
                    {{lang 'sb_themes.home4_header.welcome' }} <span>{{lang 'sb_themes.home4_header.welcome1' }}</span> {{lang 'sb_themes.home4_header.welcome2' }}
                    </div>
                </div>
                <div class="header-top-right collapsed-block col-lg-5 col-md-8 col-sm-8 col-xs-8">
                    {{#if theme_settings.show_phone}}
                    <div class="telephone hidden-xs hidden-sm">
                        <i class="fa fa-phone-square"></i> {{lang 'sb_themes.header.hotline' }} <a href="mailto:{{theme_settings.address_email}}"> {{theme_settings.phone}}</a>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div> 

    {{!-- HEADER MIDDLE --}}
    <div class="header-middle">
        <div class="container ">
            <div class="row">
                <div class="navbar-logo col-lg-2 col-md-2 col-sm-4 col-xs-6">
                    {{> components/common/store-logo}}
                </div>

                <div class="main-menu col-lg-6 col-md-7 col-sm-4 col-xs-3">
					{{> components/sbthemes/module/sb_megamenu/default status=true  display_mode="horizontal" }}
                </div>

                <div class="middle-right col-lg-4 col-md-3 col-sm-4 col-xs-3">
                    <div class="shopping_cart">
                        <div id="cart" class="btn-shopping-cart navUser-item cart-group">
                            <a
                                class="cart-button cart-button--primary top_cart"
                                data-cart-preview
                                data-dropdown="cart-preview-dropdown"
                                data-options="align:left"
                                href="{{urls.cart}}">
                                <div class="shopcart">
                                    <span class="icon-c"></span>
                                    <div class="shopcart-inner">
                                        <p class="text-shopping-cart">{{lang 'sb_themes.cart.myCart'}}</p>
                                        <span class="total-shopping-cart cart-total-full cart-group__ico">
                                            <span class="items_cart cart-quantity cart-group__quantity">{{cart.quantity}}</span>
                                            <span class="items_cart2"> item(s)</span><span class="items_carts"> - {{cart.sub_total.formatted}} </span>
                                        </span>
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-menu" id="cart-preview-dropdown" data-dropdown-content aria-hidden="true"></div>
                        </div>
                    </div>

                    <div class="signin-w hidden-md hidden-sm hidden-xs">
                        <ul class="signin-link">
                            <li class="log login">
                                <a href="{{urls.auth.login}}">{{lang 'common.home4_login'}}</a>
                            </li>
                            <li class="log regis">
                                <a href="{{urls.auth.create_account}}">{{lang 'common.sign_up'}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {{!-- HEADER BOTTOM --}}
    <div class="header-bottom hidden-compact">
        <div class="container ">
            <div class="row">
                <div class="bottom1 menu-vertical col-lg-2 col-md-3 col-sm-3 col-xs-8">
					{{> components/sbthemes/module/sb_megamenu/default status=true  display_mode="vertical" limit_item=11 }}
                </div>
                <div class="bottom2 col-lg-8 col-md-9 col-sm-9 col-xs-4">
                    <div class="inner">
                        <div class="search-header-w">
                            <div class="sb-quickSearch search-info-content"  aria-hidden="true" tabindex="-1" data-prevent-quick-search-close>
                                {{> components/sbthemes/common/quick-search}}
                            </div>
                        </div>
                        <div class="sublinks-block clearfix">
                            {{#if theme_settings.show_home4_header_sublinks}}
                            {{> components/sbthemes/module/sb_menu/home4_header_sublinks status=true prefix="home4_header_sublinks" limitation=6 icon-fontawesome="" class_sfx="col-lg-3 col-md-3 col-sm-3 col-xs-12 col-style"}}
                            {{/if}}
                        </div>
                    </div>
                </div>
                <div class="bottom3 col-lg-2 hidden-md hidden-sm hidden-xs banners-effect-5">
                    {{#if theme_settings.show_home4_header_banner}}
                    <div class="banners banners-h">
                        <div class="banner">
                            <a href="{{lang 'sb_themes.home4_header_banner.url'}}"><img src="{{lang 'sb_themes.home4_header_banner.image'}}" alt="image"></a>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</header>
