---
blog:
    posts:
        limit: 12
        pages: 3
        summary: 250
    
---
{{#partial "head"}}
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
{{/partial}}

{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs active_url=blog.url}}

<main class="page page--blog">
    
    <div class="row">
        <aside class="col-md-3 page-sidebar sidebar-offcanvas">
            {{> components/sbthemes/blog/sidebar}}
        </aside>
        <div class="col-lg-9 col-md-12 page-content">
            <div class=" row filters-panel">
                <div class="col-sm-12 view-mode">
					<div class="sidebar-overlay"></div>
					<a href="javascript:void(0)" class="open-sidebar d-md-block d-lg-none"><i class="fa fa-bars"></i> {{lang 'sb_themes.categories.sidebar' }} </a>
		
                    <div class="list-view">
						<div class="btn btn-gridview">{{lang 'sb_themes.categories.gridview' }} </div>
                        <button type="button" id="grid-view" class="btn btn-default grid hidden-md-down" title="{{ button_grid }}"><i class="fa fa-th-large"></i></button>
                        <button type="button" id="list-view" class="btn btn-default list " title="{{ button_list }}"><i class="fa fa-bars"></i></button>
                    </div>
                </div>
            </div>

            <div class="row blog-category">
                 
                {{#each blog.posts}}
                    {{> components/blog/post post=this hide_social_icons=false settings=../settings  }}
                {{/each}}

            <script type="text/javascript"><!--
            reinitView();
            function reinitView() {
                $('.view-mode .list-view button').bind("click", function() {
                    $(this).parent().find('button').removeClass('active');
                    $(this).addClass('active');
                }); 
                // Product List
                $('#list-view').click(function() {
                    $('.page--blog .blog-post').attr('class', 'blog-post product-list col-sm-12');
                    localStorage.setItem('blogview', 'list');
                });

                // Product Grid
                $('#grid-view').click(function() {
                    $('.page--blog .blog-post').attr('class', 'blog-post product-grid col-xl-3 col-md-4 col-sm-6 col-6 ');
                    localStorage.setItem('blogview', 'grid');
                });

               
                if(localStorage.getItem('blogview')== null) localStorage.setItem('blogview', 'grid');
                
                if (localStorage.getItem('blogview') == 'grid') {
                   $('#grid-view').trigger('click');
                } else{
                    $('#list-view').trigger('click');
                    
                }
            }

            //--></script> 

            </div>
            {{> components/common/paginator pagination.blog}}

        </div>
    </div>
    
</main>

{{/partial}}
{{> layout/base}}
