---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
category:
    shop_by_price: true
    products:
        new:
            limit: {{theme_settings.categorypage_products_per_page}}
        limit: {{theme_settings.categorypage_products_per_page}}
---
{{inject "currentPage" category.url}}



{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{#partial "head"}}
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs active_url=category.url}}

<div class="row page">
    
    <aside class="col-sm-3 page-sidebar sidebar-offcanvas" id="faceted-search-container">
        {{> components/category/sidebar }}
    </aside>
    
    <main class="col-lg-9 col-md-12 page-content" id="product-listing-container">
        <div class="products-category clearfix">
            {{#if category.name}}
            <div class="form-group category-info">
                <h3 class="title-category ">{{category.name}}</h3>

                {{#if category.image}}
                <div class="category-info__image">
                    <div class="banners">
                        <div class="banner-figure">
                            <a href="{{url}}"><img src="{{getImage category.image 'zoom_size'}}"></a>
                        </div>
                            
                    </div>
                </div>
                {{/if}}
                
                {{#if category.description}}
                <div class="category-info__desc">
                    {{{category.description}}}
                </div>
                {{/if}}
                {{{snippet 'categories'}}}
            </div>
            {{/if}}
            
            {{#all category.subcategories theme_settings.settings_subcategory}}
            <div class="refine-search form-group clearfix">
                <h3 class="title-category">{{lang 'sb_themes.sub_categories.heading' }}</h3>
                <div class="refine-search__content blank row">
                {{#each category.subcategories}}
                <div class="refine-search__subitem col-lg-2 col-md-2 col-6">
                        <a href="{{url}}" class="thumbnail"><img class="img-thumbnail" src="{{getImage image 'category_card_size' (cdn ../theme_settings.default_image_product)}}" alt="{{name}}" /></a>
                        <div class="refine-search__subitem-body">
                            <h4 class="refine-search__subitem-name">
                                <a href="{{url}}">{{name}}</a>
                            </h4>
                            
                        </div>
                </div>
                {{/each}}
                </div>
            </div>
            {{/all}}

                
            {{#if category.products}}
                {{> components/category/product-listing}}
            {{else}}
                {{#unless category.subcategories}}
                    <p>{{lang 'categories.no_products'}}</p>
                {{/unless}}
            {{/if}}
        </div>
        
    </main>
</div>



<script type='text/javascript'>
 $(document).ready(function() {
/* Ajax in Product Color Options */
	$('.products-list .product-layout').each(function(index, el) {
	var _this = $(el);
	var thisProductName = _this.find('.product-item-photo');
	var thisProductURL = thisProductName.attr('href');
	 
	// AJAX to this product
	$.ajax({
		url: thisProductURL,
		type: 'GET',
		dataType: 'html',
		async: false
	}).done(function(data) {
		console.log(data);
		// find “color” swatches
		var thisSwatches = $('.productAttributeRow', data)
		.filter(function() {
		return $(this).find('.productAttributeLabel .name').text().trim() == "Color:";
	});
	}); 
	// end ajax done
	});  

});
</script>
{{/partial}}
{{> layout/base}}
