{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<main class="page page--contact">


    {{#if page.sub_pages}}
        <nav class="navBar">
            <ul class="navBar-section">
                {{#each page.sub_pages}}
                    <li class="navBar-item"><a class="navBar-action" href="{{url}}">{{title}}</a></li>
                {{/each}}
            </ul>
        </nav>
    {{/if}}

    <div class="page-content row flex-row-reverse">
       
        {{#if forms.contact.success}}
		<div class="col-sm-12">
            {{{lang 'forms.contact_us.successful' shopPath=urls.home}}}
		</div>
        {{else}}
            <div class="col-sm-12">
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBf-EZpcLV72omKDDxOlhG6-i8Ga8NenRo"></script>
                <script>
                  var geocoder;
                  var map;
                  function initialize() {
                    geocoder = new google.maps.Geocoder();

                    var mapOptions = {
                      zoom: 16, //Change the Zoom level to suit your needs
                      mapTypeId: google.maps.MapTypeId.ROADMAP
                    }
                    //map_canvas is just a <div> on the page with the id="map_canvas"
                    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

                    //Your Variable Containing The Address
                    var address = "{{{settings.address}}}"; 
                    geocoder.geocode( { 'address': address}, function(results, status) {
                      if (status == google.maps.GeocoderStatus.OK) {
                        map.setCenter(results[0].geometry.location);
                        //places a marker on every location
                        var marker = new google.maps.Marker({
                            map: map,
                            position: results[0].geometry.location
                        });
                      } else {
                        alert('Geocode was not successful for the following reason: ' + status);
                      }
                    });

                  }
                   google.maps.event.addDomListener(window, 'load', initialize);  
                </script>
                <div id="map-canvas"></div>
				
            </div>

            <div class="col-sm-4  col-md-5 ">
                {{{page.content}}}
            </div>
            <div class="col-sm-8  col-md-7 " >
                <h1 class="page-heading">{{page.title}}</h1>
                <p>{{lang 'sb_themes.contact_us.description'}}</p>
                {{> components/page/contact-us-form}}
            </div>
        {{/if}}
       

        
    </div>

</main>

{{/partial}}

{{> layout/base}}
