---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{{snippet 'SlideShow'}}}
{{#partial "hero"}}

	{{#if theme_settings.theme_style '==' 'home2' }}
		{{> components/sbthemes/sections/slideshow-home2}}
	{{else if theme_settings.theme_style '==' 'home3' }}
		{{> components/sbthemes/sections/slideshow-home3}}
	{{else if theme_settings.theme_style '==' 'home4' }}
	{{else}}
		{{> components/sbthemes/sections/slideshow-home1}}
	{{/if}}
    
{{/partial}}

{{#partial "page"}}
	{{#each shipping_messages}}
			{{> components/common/alert-info message}}
	{{/each}}

	<div class="main-full ">

		{{#if theme_settings.theme_style '==' 'home2' }}
			{{> components/sbthemes/home/home2}}
		{{else if theme_settings.theme_style '==' 'home3' }}
			{{> components/sbthemes/home/home3}}
		{{else if theme_settings.theme_style '==' 'home4' }}
			{{> components/sbthemes/home/home4}}
		{{else}}
			{{> components/sbthemes/home/default}}
		{{/if}}
		
		{{#if banners.bottom}}
			<div class="banners--bottom" data-banner-location="bottom">
				<div class="container">
					<div class="row">{{{limit banners.bottom 1}}}</div>
				</div>
			</div>
		{{/if}}
	</div>
{{/partial}}

{{> layout/base}}

