<section class="section-content">
	<div class="row">
		<div class="col-xl-10 col-lg-9 col-sm-12 col-12 main-left">
			{{> components/sbthemes/sections/slideshow-home4}}
			{{> components/sbthemes/sections/section-home4 section=theme_settings.home_section2 }}
			{{> components/sbthemes/sections/section-home4 section=theme_settings.home_section5 }}
			{{> components/sbthemes/sections/section-home4 section=theme_settings.home_section3 }}
			{{> components/sbthemes/sections/section-home4 section=theme_settings.home_section4 }}
			{{> components/sbthemes/sections/section-home4 section=theme_settings.home_section6 }}
			{{> components/sbthemes/sections/section-home4 section=theme_settings.home_section7 }}
			{{> components/sbthemes/sections/section-home4 section=theme_settings.home_section9 }}
		</div>

		<div class="col-xl-2 col-lg-3 col-sm-12 col-12 main-right">
			{{> components/sbthemes/sections/section-home4 section=theme_settings.home_section1 }}
		</div>
	</div>
</section>


{{> components/sbthemes/sections/section-home4 section=theme_settings.home_section8 }}
{{> components/sbthemes/sections/section-home4 section=theme_settings.home_section10 }}
{{> components/sbthemes/sections/section-home4 section=theme_settings.home_section11 }}
 