<div class="modules">
    {{#unless hide_heading}}
    <h5 class="footer-info-heading">{{lang 'sb_themes.sb_instagram.title'}}<span class="expander" ><i class="fa fa-chevron-circle-down"></i></span></h5>
    {{/unless}}
    <div id="instafeed" class="sb-instagram-gallery row" data-clearing></div>
</div>

<script type="text/javascript" src="{{cdn '/assets/js/sbthemes/instagram.min.js'}}"></script>
<script type="text/javascript" src="{{cdn '/assets/js/sbthemes/instafeed/instafeed.min.js'}}"></script>
<script type="text/javascript">
// <![[
    (function() {
        "use strict";
        var feed = new Instafeed({
            get: 'user',
            userId: '{{lang "sb_themes.sb_instagram.user_id"}}',
            clientId: '{{lang "sb_themes.sb_instagram.client_id"}}',
            accessToken: '{{lang "sb_themes.sb_instagram.access_token"}}',
            resolution: 'standard_resolution',
            template: '<div class="instagram-item col-4"><a href="{'+'{link}}" target="_blank" id="{'+'{id}}"><img class="card-image lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="{'+'{image}}" /></a></div>',
            sortBy: 'most-recent',
            limit: 5,
            links: false
        });
        feed.run();
    })();
// ]]>
</script>
