{{#contains textCountdown "[countdown]"}}
	<div class="countdown--group">
		<div class="item-timer defaultCountdown defaultCountdown-{{product_id}}" data-timer="{{last (split (first (split textCountdown '[/countdown]')) '[countdown]')}}" data-countdown-id="{{product_id}}"></div>
	</div>
{{/contains}}
