
{{#if category_id '!==' ' '}}

{{#each categories}}
	{{#if id '===' ../category_id}}
		{{#if (merge ../../this 
			category_name = name
			category_url = url)}}
		{{/if}}
		
	{{else}}
		{{#each children}}
			{{#if id '===' ../../../category_id}}
				{{#if (merge ../../../../this
					category_name = name
					category_url = url)}}
				{{/if}}
			{{/if}}
		{{/each}}
	{{/if}}
{{/each}}

	<div class="block-content " >
		{{#if banner '==' 'left'}}
		<div class="sb-extraslider-image col-md-3 d-none d-lg-block">
			<div class="banners" {{#if theme_settings.general_fadeimage}}data-fade-image data-size-image{{/if}} >
				<div class="banner-figure">
					{{#if banner_img '!=' ' '}}
						<a href="{{banner_url}}">
							<img  class="img-fluid"  src="{{cdn banner_img}}" alt="banner"  />
						</a>
					{{else}}
						<a href="{{banner_url}}">
							<img  class="img-fluid" src="{{cdn placeholderImage}}" alt="banner" />
						</a>
					{{/if}}
				</div>
			</div>
		</div>
		{{/if}}
		
		{{#or (if banner '==' 'left') (if banner '==' 'right') }}
		<div class="sb-extraslider-container col-lg-9 col-12">
			
			<div class="block-title d-flex justify-content-between align-self-center">
				<h3 class="block-title-left ">
					{{lang 'sb_themes.sb_deals_home3.heading' }}
				</h3>
				<div class="block-title-right">
					
					<div class="block-item-timer">
						<div class="timer-label d-none d-sm-block"><i class="fa fa-clock-o"></i>{{lang 'sb_themes.sb_deals_home3.endIn' }}</div>
						<div class="countdown--box ">
							<div class="defaultCountdown defaultCountdown-{{category_id}}" data-timer="{{countdown}}" data-countdown-id="{{category_id}}"></div>
						</div>
					</div>
					
					<div class="block-viewall"><a href="{{category_url}}"> {{lang 'sb_themes.sb_deals_home3.viewAll' }} </a></div>
				</div>
			</div>
		{{/or}} 
		
		{{#if banner '==' 'no'}}
			<div class="sb-extraslider-container">
			<div class="home-title">
			<h5 class="block-title">
				{{lang 'sb_themes.sb_deals_home3.heading' }}
			</h5>
			</div>
		{{/if}}		
		
			{{#if category_url}}
				<div class="sb-deals-container {{#if theme_settings.general_rtl '==' 'rtl' }}dir-rtl{{/if}}" 
					data-products-by-category-tabs="{{ concat category_url '?sort='}}{{theme_settings.homepage_deal_sort}}"
					data-urltemplate="sbthemes/module/sb_deals/home3/default_deals_item"				
				>
					<div class="productLoading">
						<img class="img-responsive lazyload" src="{{cdn '/assets/img/loading.svg'}}" alt="loading" width="50" height="50" >
					</div>
				</div>
			{{else}}
				<div class="alert alert-info" role="alert"  style="margin:60px 20px 0">
					<i class="fa fa-info-circle"></i> 
				   {{{lang 'sb_themes.sb_deals_home3.noCategory' }}}
				</div>
			
			{{/if}}
			
			</div>
			
		{{#if banner '==' 'right'}}
		<div class="sb-extraslider-image col-md-3 d-none d-lg-block">
		
			<div class="banners" {{#if theme_settings.general_fadeimage}}data-fade-image data-size-image{{/if}} >
				<div class="banner-figure">
					{{#if banner_img '!=' ' '}}
						<a href="{{banner_url}}">
							<img  class="img-fluid"  src="{{cdn banner_img}}" alt="banner"  />
						</a>
					{{else}}
						<a href="{{banner_url}}">
							<img  class="img-fluid" src="{{cdn banner_placeholder}}" alt="banner" />
						</a>
					{{/if}}
				</div>
			</div>
		</div>
		{{/if}}
		
	</div>
	
{{/if}}
