
{{#if category.products }}
<section class="productCarousel products-list {{#if theme_settings.general_rtl '==' 'rtl' }}dir-rtl{{/if}}"
	data-slick='{
		"dots": true,
		"arrows": false,
        "infinite": false,
        "mobileFirst": true,
        "slidesToShow": 1,
        "slidesToScroll": 1,
		"arrows": true,
		"responsive": [
			{
				"breakpoint": 1260,
				"settings": {
					"slidesToScroll": 1,
					"slidesToShow": 1
				}
			},
			{
				"breakpoint": 991,
				"settings": {
					"slidesToScroll": 1,
					"slidesToShow": 1
				}
			},
			{
				"breakpoint": 400,
				"settings": {
					"slidesToScroll": 1,
					"slidesToShow": 1
					
				}
			},
			{
				"breakpoint": 0,
				"settings": {
					"slidesToScroll": 1,
					"slidesToShow": 1,
					"arrows": false
				}
			}
		]
	}'
>
	{{#forEach (limit category.products theme_settings.homepage_deals_count) }}
		
			{{#if isFirst}}
				<div class="first-side productCarousel-slide product-layout product-grid">
			{{/if}}
			
			{{#or (if index '===' (add 1 ../theme_settings.home3_deals_row)) (if index '===' (add 1 (multiply 2 ../theme_settings.home3_deals_row))) (if index '===' (add 1 (multiply 3 ../theme_settings.home3_deals_row))) }}
				<div class="productCarousel-slide product-layout product-grid">
			{{/or}} 
		
			{{> components/sbthemes/module/sb_deals/home3/card_listing
				show_rating=../theme_settings.show_product_rating
				theme_settings=../theme_settings 
				customer=../customer
				alternate=../alternate
				isFirst = isFirst
				
			}}
			
			{{#or (if index '===' ../theme_settings.home3_deals_row)(if index '==='(multiply 2 ../theme_settings.home3_deals_row)) (if index '==='(multiply 3 ../theme_settings.home3_deals_row) (if index '===' total))}}
				</div>
			{{/or}}
		
			
	
	{{/forEach}}
	
</div>

{{else}}
	<div class="alert alert-info" role="alert" style="margin:30px 0">
		<i class="fa fa-info-circle"></i> 
	    {{{lang 'sb_themes.sb_deals_home3.noItem' }}}
	</div>
{{/if}}
