// =============================================================================
// HEADER (CSS)
//
// 1. Setting font size of header-logo to 0, since wrapper element may vary, and
//    inline-block whitespace messes with header height. Font-size is reset to
//    appropriate size on header-logo-text.
// 2. Needs left/right margin so it doesn't cover left/right nav bar toggles
// 3. Offset the letter-spacing on the last character by adding a right negative
//    margin. This centers the text logo properly.
// 4. When the word "cart" is added to the mobile header's cart link, add more
//    margin to compensate.
//
// -----------------------------------------------------------------------------

// 1. Header Layout 
// -----------------------------------------------------------------------------
.header {
    background-color: $header-color;
    width: 100%;
    z-index: zIndex("low");

    .navUser-section{margin-bottom: 0; float: none; display: inline-block; vertical-align: top; margin: 0;}
}

.header-top{
    background-color: #f5f5f5;
border-bottom: 1px solid rgba(255,255,255,0.1);
color: #666;
font-size: 12px;
min-height: 40px;
line-height: 40px;
    ul.list-inline{margin: 10px 0;}
    .navUser {padding: 0 ; position: static ; transform: translateY(0); z-index: 2; }
    .navUser-section{
        + .navUser-section{
            .navUser-item:before{display:none;}
        }
        .fa{font-size: 14px; padding-#{$right}: 5px;}
        .navUser-item + .navUser-item{padding: 0 10px;}

        .navUser-item{
            @media (min-width: 992px){
                &:before{
                    content: "|";display: inline-block;
                    float: right;margin:  0;transform: translateX(#{if-rtl('10px','10px')}); color: #999;
                }
                &:last-child{
                    &:before{ display: none; }
                    padding-right:0;
                    > a{
                        padding-#{$right}:0;
                    }
                }
            }
            svg {
                fill: $header-color-text;
                stroke: $header-color-text;
                transition: all 0.15s ease;
            }
        }
        .navUser-action{padding: 0 10px; text-transform: capitalize; font-weight: normal;}
    }
    .navUser-section + .navUser-section{margin: 0;}
    .sb-brand--item > a,
    .navUser-item >a{ color: $header-color-text;
        &:hover{
            color: $color-primary;
        }
    }
    .navUser-section{
        .navUser-item{
            position: relative;
        }
    }
    .header-top-right{ position: relative;z-index: 8; }
}
.header-center{
    padding: 10px 0px;
    color: $header-color-text;
    @media (min-width: 992px){
         padding: 25px 0px;
    }
    @media (max-width: 991px){
        .horizontal_menu{
            text-align: $right;
        }
    }
    .navPages-horizontal ul.navPages-list .navPages-action-moreIcon svg{
        fill: $header-color-text;
        stroke: $header-color-text;
         &:hover{
            fill: $color-primary;
        stroke: $color-primary;
        }
    }
    .minilink-header li > a,
    .navPages-horizontal ul.navPages-list > li.navPages-item >.navPages-action{ color: $header-color-text;
        &:hover{
            color: $color-primary;
        }
    }
    

    .header-sub{
        >ul{
            float: $right;
            margin: 0;
            >li{
                float: $left;
                margin-#{$left}: 15px; 
                &.toplink-item{
                    width: 40px;
                    height: 40px;
                    list-style: none;
                    .fa{
                        font-size: 26px;
                        color: #666;
                        &:hover{
                          color:  $color-primary;
                        }
                    }
                    @media (min-width: 992px){
                        padding-top: 8px;
                        margin-right: 15px;
                    }
                    &.compare a{
                        position: relative;
                        .countPill{
                            position: absolute;
                            #{$right}: -14px;
                            top: -18px;
                            background: #fff;
                        }
                    }
                }
            }
        }
        .cart-group{
            .cart-group__ico{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                float: $left;
                text-align: center;
                line-height: 40px;
                background-color: $color-primary;
                color: #fff;
                position: relative;
                .fa{
                    font-size: 18px;    
                }
                
                .cart-group__quantity{
                    width: 22px;
                    height: 22px;
                    line-height: 22px;
                    text-align: center;
                    border-radius: 100%;
                    position: absolute;
                    top: -5px;
                    left: 30px;
                    font-size: 13px;
                    font-weight: bold;
                    color: #fff;
                    background-color: #000;  
                    display: none;   
                    @media (max-width: 1199px){
                         display: block;   
                    }
                }
            }
            .text-shopping-cart{
                font-size: 14px;
                font-weight: 700;
                margin-top: 0;
                margin-bottom: 0;
                line-height: 45px;
                color: #444!important;
                text-transform: uppercase;
                padding-#{$left}: 10px; 
                @media (max-width: 1200px){
                    display: none;
                }
            }
            .items_carts{
                @media (max-width: 1200px){
                    display: none;
                }
            }
        }
        
    }
}
.header-bottom{
   @media (max-width: 991px){
        padding: 10px 0 0;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
         background-color: $color-primary;
   }
   .minilink-header{
        text-align: $right;
        padding-top: 9px;
        margin: 0;
        .login{
            @include if-rtl {
                span{ float: left; padding-right: 3px; }
            }
        }
        >li{
            display: inline-block;
            position: relative;
            font-size: 14px;
            @media (min-width: 1600px){
                padding-#{$left}: 18px;
                margin-#{$left}: 18px;
            }
            padding-#{$left}: 10px;
            margin-#{$left}: 10px;
            &.regisred{
                margin: 0;
                padding: 0;
                &:after {
                    display: none;
                }
            }
            &:after {
                background-color: #bcbcbc;
                content: "";
                height: 11px;
                position: absolute;
                #{$left}: 0;
                top: 6px;
                width: 1px;
            }
            &:first-child{
                margin: 0;
                padding: 0;
                &:after {
                    display: none;
                }
            }
        }
    }
}
.header-bottom-right,.header-bottom__search{position: static;}
.header-center .navPages{ text-align: $left; margin-top: 8px; height: auto;}

// 2. Logo
// -----------------------------------------------------------------------------
.logo_center{
    .col-sm-3{max-width: 100%;flex: 0 0 100%;text-align: center;}
}
.navbar-logo{
    > a{display: inline-block;}
}
.navbar-phone{
    display: inline-block;
    margin-top: 15px;
   
    .icon-headset_mic{ fill: $linkColor; float: $left; margin-#{$right}: 10px;}
}

.header-logo {
    margin: 5px 0; 
    display: inline-block;
}

.header-logo-text {
    display: block;
    font-size: 24px;  
    letter-spacing: remCalc(1px);
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;

    @include breakpoint("small") {
        font-size: 24px;
        letter-spacing: remCalc(9px);
        padding-bottom: 0;
        padding-top: 0;
    }

    @include breakpoint("medium") {
        display: inline;
        font-size: 32px;
        margin-left: 0;
        margin-right: -(remCalc(9px)); // 3
        max-width: none;
        overflow: auto;
        white-space: normal;

        .header.fixed & {
            font-size: fontSize("larger");
        }
    }
}

.header-logo-image {

    @include breakpoint("medium") {
        max-height: none;
    }
}

// Drop DownMenu
.navUser-section{
    .dropdown-menu {
        border: 1px solid rgba(0,0,0,.15); box-shadow: none; background:white;
        min-width: 150px;
        padding: 0; list-style: none;  #{$left}: auto!important; #{$right}: 0!important;
         &.is-open:before,
        &.is-open:after{
            display: none;
        }
        @include breakpoint("large") {
            &.is-open:before,
            &.is-open:after{
                width: 0;
                content: "";
                border-color: transparent transparent #d2d2d2;
                display: none;
            }

            &.is-open:after{border-color: transparent transparent #fff;}
        }
    
    }
}


//
// Mobile Menu Toggle
//
// 3. Animate lines from 'x' to hamburger
// -----------------------------------------------------------------------------

.mobileMenu-toggle {
   
    display: inline-block;
    font-size: 0;
    width: 42px;height: 40px;
    overflow: hidden;
    padding: 0 10px;
    position: relative;
    z-index: 4;
    background: linear-gradient(to bottom, #474747 0%, #212121 100%);
    border: 1px solid #000;
    border-radius: 5px;
    margin: 0px;
    @include breakpoint("medium") {
        display: none;
    }

    .mobileMenu-toggleIcon,
    .mobileMenu-toggleIcon::before,
    .mobileMenu-toggleIcon::after {
        background: #fff;
        content: "";
        display: block;
        height: 2px;
        position: absolute;
        transform: rotate(0deg);
        transition: transform 100ms ease-in, top 100ms ease-in 150ms, bottom 100ms ease-in 150ms; // 1
        width: remCalc(20);
    }

    .mobileMenu-toggleIcon {
        top: 17px;
        transition: background-color 10ms ease-in 100ms;
    }

    .mobileMenu-toggleIcon::before {
        top: -0.5rem;
    }

    .mobileMenu-toggleIcon::after {
        bottom: -0.5rem;
    }

    &.is-open .mobileMenu-toggleIcon {
        background-color: transparent;
        transition-delay: 100ms;

        // scss-lint:disable NestingDepth
        &::before,
        &::after {
            background-color:#fff;
            bottom: auto;
            top: auto;
            transition: transform 100ms ease-in 150ms, top 100ms ease-in, bottom 100ms ease-in; // Animate lines from hamburger to 'x'
        }

        &::before {
            top: 0;
            transform: rotate(45deg);
        }

        &::after {
            bottom: 0;
            transform: rotate(-45deg);
        }

    }
}
// 4. Main Menu
// -----------------------------------------------------------------------------


// 5. Quicksearch
// -----------------------------------------------------------------------------
.sb-quickSearch{ position: relative;z-index: 999;}
.sb-searchpro{ z-index: 2;position: relative;
    .input-group{
        .form-control{
            border-radius: corner-values(4px 0 0 4px); 
            border: none;
            background-color: #fff;
            z-index: 0;
            height: 40px;
            padding-#{$left}: 20px;
            font-size: 12px;
            color: #999;
            opacity: 1;
            border: 1px solid #ddd;
        }
        .btn {
            border-radius: corner-values(0 3px 3px 0);
            background:  $color-primary;
            border: 0;
            font-size: 16px;
            height: 40px;
            padding: 0 8px;
            min-width: 68px;
            color: #fff;
            text-align: center;
            &:hover{
                background-color: #222;
            }
        }
    } 
}

// Responsvie searchpro
@media only screen and (max-width: 640px){
    .collapsed-block{
        .search-info-heading{ margin: 0; padding: 0; height: 40px;
            .expander {
                width: 40px;
                height: 40px;
                display: inline-block;
                background: $background;
                border-radius: 50%;
                margin: 0 5px;
                position: relative;
                font-size: 16px;
                border: none;
                color: #fff;
                padding: 0;
                line-height: 40px;
            }
            &.open .fa:before{content: "\f00d";}
        }
        .sb-searchpro .input-group .form-control,   
        .sb-searchpro .input-group .btn{ height: 36px; }
        .footer-info-heading.open .fa:before{content: "\f139";}
        .search-info-content{
            display: none;
            position: absolute;
            z-index: 10;
            width: 100%;
            left: 0;
            z-index: 65;
            background: #eee;
            padding: 10px 23px;
        }
    }
}

.dropdown--quickSearch { 
    padding: 0;  max-height: 300px;background-color: white; box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);  overflow-y: scroll;
    &.is-open {
        width: calc(100% - 78px) !important;
        #{$left}: 0px !important;
    }
    .quickSearchResults .modal-close{color: #999;#{$right}: 0.75rem;#{$left}: auto;}
    .quickSearchMessage{margin: 15px;font-size: 18px;}
    .products-list {
        padding: 0; 
        display: inline-block;
        width: 100%;
        margin: 0;
        .product-layout{
            .product-item-container{
                width: 100%; margin-bottom: 0; float: none;
                border: none;padding:  10px;border-bottom: 1px solid #e5e5e5;
                &:hover{background:#efefef;};
                .left-block{width: 60px;}
                .right-block{margin: 0; overflow-y: hidden;}

            }
        }
        
    }
    
   
    
}



//7.SHOW PREVIEW CART
// -----------------------------------------------------------------------------
.header-bottom__cart{
    margin-top: 8px;
    .cart-button {
        width: 36px;
        height: 36px;
        display: inline-block;
        background: white;
        border-radius: 50%;
        margin: 0 5px;
        position: relative;
        text-align: center;
         .countPill{
            display: block;
            width: 22px;
            height: 22px;
            line-height: 22px;
            border-radius: 100%;
            background: white;
            position: absolute;
            top: -4px;
            color: #222;
            overflow: hidden;
            text-align: center;
            right: -10px;
            box-shadow: 1px 0px 3px rgba(0,0,0,0.4);
        }
        svg{margin: 8px 0 0;fill: #545454;}
        &:hover{
            svg{fill: $linkColor;}
        }
    }

    .cart-button--compare{margin: 0 10px}
    .dropdown-menu{    
        transform: translate(45px,47px);
        min-width: 315px;
        &.is-open:before{right:12px;}
        &.is-open:after{right:14px;}
    }
}
.navUser-item--cart,.navUser-item--account{
    .fa{font-size: 18px;}
    .countPill{position: absolute;display: block; top: 4px; right: 10px;z-index: 2;    background: #df8f90;}
}
.navUser-item--cart .dropdown-menu{transform: translate(45px,50px); min-width: 315px;}
.previewCart{
    .previewCartItem{padding: 5px 0;}
    .previewCartItem-image{  padding: 0 ; width: 60px;}
    .previewCartItem-content{padding: 10px;}
    .previewCartItem-name{margin-bottom: 10px;}
    .previewCartItem-price{color: $background; font-weight: 600;}
    .previewCartAction{    padding: 1rem 0 0.5rem;
        .button{color: white;}
    }
}
@include breakpoints(md){
    .minilink-header{
        .oder,
        .phone{ display: none!important; }
    }

}

@media (max-width: 1649px) and (min-width: 1366px){
    .header-center .minilink-header > li.oder{ display: none; }
    .verticalCategories .navPages-item > .navPages-action{
        padding: 5px 0 ;
    }
    .products-list .product-grid .product-item-container .right-block {
        padding: 12px 12px 14px 12px;
    }
    .footer-newsletter .input-group {
        width: 480px!important;
    }
    .footer-newsletter .form-field {
        padding: 0!important;
    }
    .footer-newsletter .newsletter-block-title:before{ top: 0; }
    .sb-deals-carousel .products-list .product-grid .product-item-container .right-block .item-time-w .time-title {
        display: none!important;
    }
}

@media (max-width: 1650px) and (min-width: 1200px){
    .header-bottom .horizontal_menu  {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 55%;
        flex: 0 0 55%;
        max-width: 55%;
    }
    .header-bottom .middle-right{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 24%;
        flex: 0 0 24%;
        max-width: 24%;
    }
    .header-bottom .header-bottom-left {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 21%;
        flex: 0 0 21%;
        max-width: 21%;
    }
    .header-bottom .minilink-header > li.phone{ display: none; }
    .section-content{
        .main-left{
            -webkit-box-flex: 0;
            -ms-flex: 0 0 21%;
            flex: 0 0 21%;
            max-width: 21%;
        }
        .main-right{
            -webkit-box-flex: 0;
            -ms-flex: 0 0 79%;
            flex: 0 0 79%;
            max-width: 79%;
        }
    }
    .block-slideshow{
        margin-#{$left}: 21%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 79%;
        flex: 0 0 79%;
        max-width: 79%;
    }
    .verticalCategories .navPages-item > .navPages-action {
        padding: 4px 0;

    }
    .footer-socials .socialLinks .socialLinks-item span,
    .sb-deals-carousel .products-list .product-grid .product-item-container .right-block .item-time-w .time-title{ display: none!important; }

}
