
/*===============================================
    [SASS DIRECTORY ]
    
    [1] BLOCK HEADER

    
==============================================*/

.home4--style{
    background-color: #fff;
    #sbsearchpro .chosen-container-single .chosen-single div b{
        background-position: 5px 12px;
    }
    // MENU ON TOP

    .header-top{
        font-size: 13px;
        min-height: 40px;
        background-color: #f5f5f5;
        border-bottom: 1px solid #e5e5e5;
        .module{
            display: table-cell;
            margin-bottom: 0;
        }
        .dropdown-menu{
            li{
                line-height: 22px;
            }
        }

    }

    .telephone {
        float: $right;
        line-height: 40px;
    }
    .header-middle{
        padding: 22px 0;

    }

    .welcome-msg{  line-height: 40px;
        span{
            border-bottom: 1px dashed;
            color: $background;
        }
    }
    .signin-w{
        float: $right;
    }
    .signin-link{
        min-height: 34px;
        padding-#{$left}: 40px;
        position: relative;
        line-height: 1.3;
        &:before{
            content: '';
            display: block;
            width: 28px;
            height: 34px;
            background: url('../img/id16-icon-image.png') no-repeat -18px -16px;
            position: absolute;
            #{$left}: 0;
            top: 0;
        }
        li{
            display: inline-block;
            width: 100%;
            font-size: 12px;
            margin: 0;
            &.regis{
                font-size: 14px; color: #222; font-weight: 600;
            }
        }
    }

    .wishlist-comp{
        float: $right;
        margin-#{$right}: 20px;
        li{
            width: 40px;
            height: 40px;
            list-style: none;
            float: $left;
            padding-top: 8px;
            margin-#{$left}: 15px;

            a{
                i{
                    font-size: 26px;
                    color: #232f3e;
                }
                span{
                    display: none;
                }
                &.top-link-wishlist{
                    width: 40px;
                    height: 32px;
                    display: block;
                    overflow: hidden;
                    text-indent: -999em;
                    &:before{
                        font-family: 'FontAwesome';
                        content: "\f004";
                        font-size: 26px;
                        color: #232f3e;
                        display: block;
                        text-indent: 0;
                    }
                }
            }
        }
    }

    ul.top-link{list-style: none;margin:0; vertical-align:top;
        display: inline-flex;
        .dropdown-menu{

        }
        > li{
            display: inline-block;
            position: relative;
            list-style: outside none none;
            line-height: 40px;

            .btn-group{
                display: inline;
                line-height: 40px;
                padding: 12px 0;
                .btn-link{
                    padding: 0;
                    border: none;
                    //color: #fff;
                }
            }
            .fa-caret-down{
                font-size: 12px;
            }
            &.account{
                .dropdown-menu {
                    #{$right}: auto;
                    #{$left}: 0;
                }
            }
        }
    }

    .header-bottom{
        padding: 10px 0;
        background-color: #0b79bf;
        .bottom1{
            @media (min-width: 992px){ padding-#{$right}: 5px; }
            @media (min-width: 1200px) and (max-width: 1649px){
                width: 20%;
            }
        }
        .bottom2{
            @media (min-width: 992px){
                padding-#{$right}: 10px;
                .inner{ margin-#{$right}: 10px;}
            }
            @media (min-width: 1200px) and (max-width: 1649px){
                width: 63.333337%;
            }

        }
        .bottom3{
            @media (min-width: 992px){ padding-#{$left}: 5px; }
        }
    }

    .sublinks-block {
        background: #fff;
        margin-top: 10px;
        border-radius: 4px;
        ul{
            display: table;
            width: 100%;
            text-align: center;
            li{
                display: table-cell;
                &:not(:last-child) {
                    border-#{$right}: 1px solid #e5e5e5;
                }
                a{
                    color: #444;
                    display: block;
                    padding: 0px 10px;
                    line-height: 30px;
                }
            }
        }
    }
    /*=====SEARCH ======*/

    #sbsearchpro .search{
        position: relative;
        margin: 0;
        width: 100%;
        .chosen-container-single .chosen-single{
            height: 42px; line-height: 42px;
            padding-#{$left}: 15px;
            div{
                width: 42px; height: 42px;
                background-color: #ededed;
                line-height: 42px; text-align: center;
                border-bottom-#{$right}-radius: 4px;
                border-top-#{$right}-radius: 4px;
                b{
                    width: 20px; margin: 0 auto;
                }

            }
        }

        .select_category{
            border: none;
            background-color: #fff;
            border-radius: 4px !important;
            width: 22%;

        }
        .input-group-btn{
            width: 0;
        }
        button{
            position: absolute;
            top: 0px;
            #{$right}: 0px;
            height: 42px;
            text-align: center;
            line-height: 42px;
            padding: 0 20px;
            color: #fff;
            border-radius: 0;
            text-transform: upper-case;
            border-bottom-#{$right}-radius: 4px;
            border-top-#{$right}-radius: 4px;
            i{
                font-size: 16px;
                color: #fff;
            }
        }

        input{
            margin-#{$left}: 10px;
            border: none;
            border-radius: 4px;
            background-color: #fff;
            z-index: 0;
            height: 42px;
            padding-#{$left}: 20px;
            font-size: 12px;
            width: 98%;
            background-color: #fff;
            color: #999;
            &::-moz-placeholder {
                color: #999;
                opacity: 1;
            }
            &:-ms-input-placeholder { color: #999; }
            &::-webkit-input-placeholder  { color: #999; }
            &:focus{
                z-index: 0;
            }
        }

    }


    /*BLOCK CART*/
    .shopping_cart{
        float: $right;
        .btn-shopping-cart .top_cart{
            position: relative;
            padding-bottom: 8px;
            .icon-c{
                float: $left;
                display: block;
                width: 35px;
                height: 34px;
                background: url('../img/id16-icon-image.png') no-repeat -124px -16px;
                i{
                    display: none;
                }

            }
            .shopcart-inner{
                float: $left;
                position: relative;
                min-height: 35px;
                margin-#{$left}: 12px;
                .text-shopping-cart{
                    font-size: 12px;
                    font-weight: 400;
                    margin-top: 0px;
                    margin-bottom: 0;
                    line-height: 20px;
                    text-transform: capitalize;
                    float: $left;
                    padding-#{$right}: 5px;
                    &:after{
                        content: "-";
                    }
                }
                .total-shopping-cart{
                    font-size: 12px;
                    float: $left;
                    line-height: 20px;
                    font-weight: 400;
                    .items_carts{
                        position: absolute;
                        bottom: -3px;
                        #{$left}: 0;
                        font-weight: 600; font-size: 14px;
                        display: block; overflow: hidden;
                        text-indent: -8px;
                        color: $background;
                    }
                }
            }

        }
        .dropdown-menu{ top: 100%; #{$right}: -15px; #{$left}: auto;
            color: #666;
        }
        .shoppingcart-box:before{right: 50px;}
    }
    @include if-rtl {
        .navPages-horizontal ul.navPages-list > li.style-page > .sub-menu{
            right: auto !important;
        }
    }
    /*MENU MEGA*/
    .megamenu-style-dev{
        .navbar-default{ background: transparent; }
    }

    .navPages-horizontal ul.navPages-list > li > a strong img{
        display: none;
    }
    .navPages-horizontal ul.navPages-list > li{
        margin-#{$right}: 30px;
        > a{
            line-height: 100%;
            color: #222;
            font-size: 15px;
            padding: 15px 0 !important;
            strong{ font-weight: 500; }
        }

    }

    /*-- MEGA MENU VERTICAL --*/
    .container-megamenu.vertical .vertical-wrapper ul.megamenu{
        box-shadow: none;
        border: 1px solid #ccc; border-top: none;
        > li.id16-item,
        > li.id6-item{
            display: block;
        }
        .loadmore{
            border-top: 1px solid #ccc;
        }
    }
    .container-megamenu.vertical .vertical-wrapper ul.megamenu .loadmore .more-view,
    .container-megamenu.vertical .vertical-wrapper ul.megamenu .loadmore i{
        color: #666;
    }

    .container-megamenu.vertical{
        position: relative;
        #menuHeading{
            .megamenuToogle-wrapper{
                background-color: transparent;
            }
            .megamenuToogle-pattern{
                .container{
                    color: #fff; font-size: 14px;
                    text-shadow: none;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                    > div{
                        padding-top: 13px;
                        span {
                            background-color: #fff;
                            height: 2px;
                        }
                    }


                }
            }
        }
        @media (min-width: 992px)  {
            .vertical-wrapper ul.megamenu{
                padding-top: 6px;
                .loadmore i{
                    top: 14px;
                }
            }
            .vertical-wrapper ul.megamenu > li{
                > a{
                    padding: 8px 0;
                    line-height: 21px;
                    @media (min-width: 1200px) and (max-width: 1649px){
                        padding: 5px 0;
                    }
                }
                &:hover{
                    box-shadow: none;
                }
            }

            .vertical-wrapper{
//                @include effect-block-hide();
                position: absolute;
                width: 100%;
                top: 60px;
            }
            &:hover{
                .vertical-wrapper{
                    //@include effect-block-show();
                    top: 40px;
                }
            }
        }

    }
}


@media (min-width: 1200px)  {

    .home4--style .header.navbar-compact .container-megamenu.vertical,
    .home4--style.navbar-compact .container-megamenu.vertical{
        .vertical-wrapper ul.megamenu{
            padding-top: 6px;
            .loadmore i{
                top: 14px;
            }
        }
        .vertical-wrapper ul.megamenu > li{
            > a{
                padding: 8px 0;
                line-height: 21px;
            }
            &:hover{
                box-shadow: none;
            }
        }

        .vertical-wrapper{
//            @include effect-block-hide();
            position: absolute;
            width: 100%;
            top: 60px;
        }
        &:hover{
            .vertical-wrapper{
                //@include effect-block-show();
                top: 40px;
            }
        }
    }

    .home4--style{
        .header{
            .container-megamenu.vertical{


                .vertical-wrapper{
                    //@include effect-block-show();
                    top: 40px;
                }
                &:hover{
                    .vertical-wrapper{
                       // @include effect-block-show();
                        top: 40px;
                    }
                }
            }

        }
    }
}

//
// Mobile Menu Toggle
//
// 3. Animate lines from 'x' to hamburger
// -----------------------------------------------------------------------------

.mobileMenu-toggle {

    display: inline-block;
    font-size: 0;
    width: 42px;height: 40px;
    overflow: hidden;
    padding: 0 10px;
    position: relative;
    z-index: 4;
    background: linear-gradient(to bottom, #474747 0%, #212121 100%);
    border: 1px solid #000;
    border-radius: 5px;
    margin: 0px;
    @include breakpoint("medium") {
        display: none;
    }

    .mobileMenu-toggleIcon,
    .mobileMenu-toggleIcon::before,
    .mobileMenu-toggleIcon::after {
        background: #fff;
        content: "";
        display: block;
        height: 2px;
        position: absolute;
        transform: rotate(0deg);
        transition: transform 100ms ease-in, top 100ms ease-in 150ms, bottom 100ms ease-in 150ms; // 1
        width: remCalc(20);
    }

    .mobileMenu-toggleIcon {
        top: 17px;
        transition: background-color 10ms ease-in 100ms;
    }

    .mobileMenu-toggleIcon::before {
        top: -0.5rem;
    }

    .mobileMenu-toggleIcon::after {
        bottom: -0.5rem;
    }

    &.is-open .mobileMenu-toggleIcon {
        background-color: transparent;
        transition-delay: 100ms;

        // scss-lint:disable NestingDepth
        &::before,
        &::after {
            background-color:#fff;
            bottom: auto;
            top: auto;
            transition: transform 100ms ease-in 150ms, top 100ms ease-in, bottom 100ms ease-in; // Animate lines from hamburger to 'x'
        }

        &::before {
            top: 0;
            transform: rotate(45deg);
        }

        &::after {
            bottom: 0;
            transform: rotate(-45deg);
        }

    }
}

// 5. Quicksearch
// -----------------------------------------------------------------------------
.sb-quickSearch{
    z-index: 2;
    position: relative;
}

.sb-searchpro{ z-index: 2;position: relative;
    .input-group{
        .form-control{
            border-radius: corner-values(4px 0 0 4px);
            border: none;
            background-color: #fff;
            z-index: 0;
            height: 40px;
            padding-#{$left}: 20px;
            font-size: 12px;
            color: #999;
            opacity: 1;
        }
        .btn {
            border-radius: corner-values(0 3px 3px 0);
            background:  $color-primary;
            border: 0;
            font-size: 16px;
            height: 40px;
            padding: 0 8px;
            min-width: 68px;
            color: #fff;
            text-align: center;
            &:hover{
                background-color: #222;
            }
        }
    }
}

.dropdown--quickSearch {
    padding: 0;  max-height: 300px;background-color: white; box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);  overflow-y: auto;
    &.is-open {
        width: calc(100% - 68px) !important;
        #{$left}: 0px !important;
    }
    .quickSearchResults .modal-close{color: #999;#{$right}: 0.75rem;#{$left}: auto;}
    .quickSearchMessage{margin: 15px;font-size: 18px;}
    .products-list {
        padding: 0;
        display: inline-block;
        width: 100%;
        margin: 0;
        .product-layout{
            .product-item-container{
                width: 100%; margin-bottom: 0; float: none;
                border: none;padding:  10px;border-bottom: 1px solid #e5e5e5;
                &:hover{background:#efefef;};
                .left-block{width: 60px;}
                .right-block{margin: 0; overflow-y: hidden;}

            }
        }

    }
}

.banners-effect-5 .banners > div a {
    display: block;
    position: relative;
    overflow: hidden;
}

.banners-effect-5 .banners > div a:before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    border: 70px solid rgba(255, 255, 255, 0);
    top: 0;
    left: 0;
    transition: all 0.5s ease-in-out;
}

.banners-effect-5 .banners > div a:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.5;
    border: 30px solid #fff;
    top: 0;
    left: 0;
    transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transition: all 0.5s ease-in-out;
}

.banners-effect-5 .banners > div a:hover:before {
    border: 0 solid rgba(255, 255, 255, 0.7);
}

.banners-effect-5 .banners > div a:hover:after {
    transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    opacity: 0;
    transition-delay: 0.1s;
}

// Drop DownMenu
.navUser-section{
    .dropdown-menu {
        border: 1px solid rgba(0,0,0,.15); box-shadow: none; background:white;
        min-width: 150px;
        padding: 0; list-style: none;  #{$left}: auto!important; #{$right}: 0!important;
        &.is-open:before,
        &.is-open:after{
            display: none;
        }
        @include breakpoint("large") {
            &.is-open:before,
            &.is-open:after{
                width: 0;
                content: "";
                border-color: transparent transparent #d2d2d2;
                display: none;
            }

            &.is-open:after{border-color: transparent transparent #fff;}
        }

    }
}

.cart-group .dropdown-menu{
    box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.2);
    border: none;
    padding: 0;

    &.is-open {
        .previewCart {
            .previewCartItem-content {
                padding: 15px 10px 15px 20px;
                width: 70%;
            }

            .previewCartAction {
                padding: 20px 20px 10px;

                .button {
                    border: none;
                    border-radius: 3px;
                    padding: 12px 20px;
                    color: #fff;
                    text-transform: capitalize;
                    font-weight: normal;
                    font-size: 14px;
                }

                .previewCartAction-checkout {
                    float: right;
                    .button {
                        background: $background;
                    }
                }

                .previewCartAction-viewCart {
                    .button {
                        background: #495057;
                    }
                }

                .previewCartAction-checkout,
                .previewCartAction-viewCart {
                    width: auto;
                    padding: 0;
                }
            }
        }
    }
}

    .previewCart{
        .previewCartItem{
            padding: 5px 0;
            &:nth-child(2n + 1) {
                background: #f9f9f9;
            }
        }
        .previewCartItem-image {
            padding: 0 ;
            width: 60px;
            img {
                border-radius: 4px;
            }
        }

        .previewCartItem-name {
            margin-bottom: 10px;
        }
        .previewCartItem-price {
            color: $background;
        }
        .previewCartAction {
            padding: 1rem 0 0.5rem;
            .button{color: white;}
        }
    }
