<article class="product-item-container {{#if alternate}}card--alternate{{/if}}">
    <div class="left-block">
        <a href="{{url}}" class="product-item-photo">
            <img class="card-image lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="{{getImage image 'productthumb_size' (cdn theme_settings.default_image_product)}}" alt="{{image.alt}}" width="85" height="85">
        </a>
    </div>

    <div class="right-block">
        <h4 class="card-title">
            <a href="{{url}}">{{name}}</a>
        </h4>
		
        {{#if theme_settings.show_product_brand}}
            <p class="card-text" data-test-info-type="brandName">{{brand.name}}</p>
        {{/if}}
		{{#if theme_settings.show_product_rating}}
        <div class="ratings ">
            <div class="prod-rating" data-test-info-type="productRating">
                <span class="rating--small">
                    {{> components/products/ratings rating=rating}}
					
                </span>
            </div>
        </div>
        {{/if}}
	   
        {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
            {{> components/products/price price=price customer=customer}}
        {{else}}
            {{> components/common/login-for-pricing}}
        {{/or}}
        
      
    </div>
</article>
