
<div class="productView">
    {{#each product.reviews.messages}}
        {{#if error}}
            {{> components/common/alert-error error}}
        {{/if}}
        {{#if success}}
            {{> components/common/alert-success success}}
        {{/if}}
    {{/each}}

    <section class="productView-images" data-image-gallery>
		{{#if gallery '==' 'bottom'}}
			{{> components/sbthemes/gallery/gallery-bottom}}
		{{else if 	gallery '==' 'left'}}	
			{{> components/sbthemes/gallery/gallery-left}}
		{{else if 	gallery '==' 'list'}}	
			{{> components/sbthemes/gallery/gallery-list}}
		{{else if 	gallery '==' 'grid'}}	
			{{> components/sbthemes/gallery/gallery-grid}}
		{{else}}
			{{> components/sbthemes/gallery/gallery-bottom}}
		{{/if}}
		{{#if theme_settings.settings_productlabel}}
			{{> components/sbthemes/shortcode/default prefix="badges" content = product.description }}
		{{/if}}
    </section>

    <section class="productView-details">
        <div class="productView-product">
            <h1 class="productView-title" {{#if schema}}itemprop="name"{{/if}}>{{product.title}}</h1>

           <div class="productView-rating rating--small"{{#if schema}} itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating"{{/if}}>
                {{#if settings.show_product_rating}}
                    {{#if product.num_reviews '>' 0}}
                        {{#if schema}}
                            <meta itemprop="ratingValue" content="{{product.rating}}">
                            <meta itemprop="ratingCount" content="{{product.num_reviews}}">
                            <meta itemprop="reviewCount" content="{{product.num_reviews}}">
                        {{/if}}
                    {{/if}}
                    {{> components/products/ratings rating=product.rating}}
                    <span class="productView-reviewLink">
                        {{#if product.num_reviews '>' 0}}
                            <a href="{{product.url}}#product-reviews">
                                {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                            </a>
                        {{else}}
                            {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                        {{/if}}
                    </span>
                {{/if}}
                {{#if settings.show_product_reviews}}
                    <span class="productView-reviewLink">
                        <a href="{{product.url}}{{#if is_ajax}}#write_review{{/if}}"
                           {{#unless is_ajax }}data-reveal-id="modal-review-form"{{/unless}}>
                           {{lang 'products.reviews.new'}}
                        </a>
                    </span>
                    {{> components/products/modals/writeReview}}
                {{/if}}
            </div>

            {{#if product.call_for_price}}
                <p class="productView-price">
                    <span>{{product.call_for_price}}</span>
                </p>
            {{/if}}

            <div class="productView-price">
                {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                    {{> components/products/price price=product.price schema_org=schema}}
                {{else}}
                    {{> components/common/login-for-pricing}}
                {{/or}}
            </div>
            
           
            
            {{product.detail_messages}}

            <div class="productView-info">
				{{#if theme_settings.settings_sizechart}}
				<a class="image-popup-sizechart" href="{{cdn img_sizechart}}">
					<i class="fa fa-photo" aria-hidden="true"></i>
					{{title_sizechart}} 
				</a>
				{{/if}}
				
				{{#if theme_settings.settings_countdown}}
					{{> components/sbthemes/shortcode/default prefix="countdown" product_id= product.id content = product.description }}
				{{/if}}
				<dl class="productView-info-dl">
					 {{#if product.brand.name}}
						<dt class="productView-info-name">{{lang 'sb_themes.categories.brand'}}</dt>
						<dd class="productView-info-value" data-product-sku><a href="{{product.brand.url}}"{{#if schema}} itemprop="url"{{/if}}><span{{#if schema}} itemprop="name"{{/if}}>{{product.brand.name}}</span></a></dd>
					{{/if}}
					{{#if product.sku}}
						<dt class="productView-info-name">{{lang 'products.sku'}}</dt>
						<dd class="productView-info-value" data-product-sku>{{product.sku}}</dd>
					{{/if}}
					{{#if product.upc}}
						<dt class="productView-info-name">{{lang 'products.upc'}}</dt>
						<dd class="productView-info-value" data-product-upc>{{product.upc}}</dd>
					{{/if}}
					{{#if product.condition}}
						<dt class="productView-info-name">{{lang 'products.condition'}}</dt>
						<dd class="productView-info-value">{{product.condition}}</dd>
					{{/if}}
					{{#if product.availability}}
						<dt class="productView-info-name">{{lang 'products.availability'}}</dt>
						<dd class="productView-info-value">{{product.availability}}</dd>
					{{/if}}
					{{#if product.weight}}
						<dt class="productView-info-name">{{lang 'products.weight'}}</dt>
						<dd class="productView-info-value" data-product-weight>{{product.weight}}</dd>
					{{/if}}
					{{#if product.min_purchase_quantity}}
						<dt class="productView-info-name">{{lang 'products.min_purchase_quantity'}}</dt>
						<dd class="productView-info-value">{{lang 'products.purchase_units' quantity=product.min_purchase_quantity}}</dd>
					{{/if}}
					{{#if product.max_purchase_quantity}}
						<dt class="productView-info-name">{{lang 'products.max_purchase_quantity'}}</dt>
						<dd class="productView-info-value">{{lang 'products.purchase_units' quantity=product.max_purchase_quantity}}</dd>
					{{/if}}
					{{#if product.gift_wrapping_available}}
						<dt class="productView-info-name">{{lang 'products.gift_wrapping'}}</dt>
						<dd class="productView-info-value">{{lang 'products.gift_wrapping_available'}}</dd>
					{{/if}}
					{{#if product.shipping}}
						{{#if product.shipping.calculated}}
							<dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
							<dd class="productView-info-value">{{lang 'products.shipping_calculated'}}</dd>
						{{else}}
							{{#if product.shipping.price.value '===' 0}}
								<dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
								<dd class="productView-info-value">{{lang 'products.shipping_free'}}</dd>
							{{else}}
								<dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
								<dd class="productView-info-value">{{lang 'products.shipping_fixed' amount=product.shipping.price.formatted}}</dd>
							{{/if}}
						{{/if}}
					{{/if}}
					{{#if product.bulk_discount_rates.length}}
						<dt class="productView-info-name">{{lang 'products.bulk_pricing.title'}}</dt>
						<dd class="productView-info-value">
							<a href="{{product.url}}"
								{{#unless is_ajax }}data-reveal-id="bulkPricingModal" {{/unless}}>
								{{lang 'products.bulk_pricing.view'}}
							</a>
						</dd>

						<div id="bulkPricingModal" class="modal modal--small" data-reveal>
							<div class="modal-header">
								<h2 class="modal-header-title">{{lang 'products.bulk_pricing.modal_title'}}</h2>
								<a href="#" class="modal-close" aria-label="Close"><span aria-hidden="true">&#215;</span></a>
							</div>
							<div class="modal-body">
								<p>{{lang 'products.bulk_pricing.instructions'}}</p>
								<ul>
								{{#each product.bulk_discount_rates}}
									<li>
										{{lang 'products.bulk_pricing.range' min=min max=max}}
										{{#if type '===' 'percent'}}
											{{lang 'products.bulk_pricing.percent' discount=discount.formatted}}
										{{/if}}
										{{#if type '===' 'fixed'}}
											{{lang 'products.bulk_pricing.fixed' discount=discount.formatted}}
										{{/if}}
										{{#if type '===' 'price'}}
											{{lang 'products.bulk_pricing.price' discount=discount.formatted}}
										{{/if}}
									</li>
								{{/each}}
								</ul>
							</div>
						</div>
					{{/if}}

					{{#each product.custom_fields}}
						{{#unless name '==' '__tags'}}
						<dt class="productView-info-name">{{name}}:</dt>
						<dd class="productView-info-value">{{{value}}}</dd>
						{{/unless}}
					{{/each}}
				</dl>
			
            </div>

           
        </div>
    </section>

    

    <section class="productView-details ">
        <div class="productView-options">
            {{#if product.release_date }}
                <p>{{product.release_date}}</p>
            {{/if}}
            <form class="form" method="post" action="{{product.cart_url}}" enctype="multipart/form-data"
                  data-cart-item-add>
                <input type="hidden" name="action" value="add">
                <input type="hidden" name="product_id" value="{{product.id}}"/>
                    {{#each product.customizations}}
                        {{{dynamicComponent 'components/products/customizations'}}}
                    {{/each}}
                <div data-product-option-change style="display:none;">
                    {{#each product.options}}
                        {{{dynamicComponent 'components/products/options'}}}
                    {{/each}}
                </div>
                {{#if product.event_date}}
                    {{> components/products/event-date}}
                {{/if}}
                <div class="form-field form-field--stock{{#unless product.stock_level}} u-hiddenVisually{{/unless}}">
                    <label class="form-label form-label--alternate">
                        {{lang 'products.current_stock'}}
                        <span data-product-stock>{{product.stock_level}}</span>
                    </label>
                </div>
                {{#if product.can_purchase}}
                    {{> components/products/add-to-cart}}
                {{/if}}
                {{#if product.out_of_stock}}
                    {{#if product.out_of_stock_message}}
                        {{> components/common/alert-error product.out_of_stock_message}}
                    {{else}}
                        {{> components/common/alert-error (lang 'products.sold_out')}}
                    {{/if}}
                {{/if}}
            </form>
            {{#if settings.show_wishlist}}
                {{> components/common/wishlist-dropdown}}
            {{/if}}
        </div>
        
        {{{snippet 'product_details'}}}
    </section>

    <section class="productView-details productView-details--bottom">
        <div class="wrap-content"><div class="addthis_inline_share_toolbox"></div></div>
        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-529be2200cc72db5"></script>
		
		{{> components/sbthemes/module/sb_banner/banner status=true prefix="buyFromus" limitation=4 display_mode="horizontal" class_sfx=""}}
		
        <div class="productView-details__payment" >
            {{> components/common/payment-icons}}
        </div>

    </section>
	
    <article class="productView-description {{theme_settings.settings_producttab}}-tabs" {{#if schema}} itemprop="description"{{/if}}>
		
        <ul class="tabs {{#if theme_settings.settings_producttab '==' 'vertical'}} col-lg-3 col-md-4 {{/if}}" data-tab>
            <li class="tab is-active">
                <a class="tab-title" href="#tab-description">{{lang 'products.description'}}</a>
            </li>
            {{#if product.warranty}}
                <li class="tab">
                    <a class="tab-title" href="#tab-warranty">{{lang 'products.warranty'}}</a>
                </li>
            {{/if}}
            {{#if product.videos.list.length}}
                <li class="tab">
                    <a class="tab-title" href="#tab-video">{{lang 'products.videos.header'}}</a>
                </li>
            {{/if}}
		
            {{#if settings.show_product_reviews}}
                <li class="tab">
                    <a class="tab-title" href="#tab-review"> {{lang 'products.reviews.show'}}</a>
                </li>
            {{/if}}
        </ul>

        <div class="tabs-contents {{#if theme_settings.settings_producttab '==' 'vertical'}} col-lg-9 col-md-8 {{/if}}">
            <div class="tab-content is-active" id="tab-description">
				{{> components/sbthemes/shortcode/summary content = product.description }}
                {{{snippet 'product_description'}}}
            </div>
			
           {{#if product.warranty}}
               <div class="tab-content" id="tab-warranty">
                   {{{product.warranty}}}
               </div>
           {{/if}}
		   
           {{#if product.videos.list.length}}
               <div class="tab-content" id="tab-video">
                   {{> components/products/videos product.videos}}
               </div>
           {{/if}}
               
			
           {{#if settings.show_product_reviews}}
               <div class="tab-content" id="tab-review">
                   {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
               </div>
           {{/if}}
        </div>
    </article>
</div>

<div id="previewModal" class="modal modal--large" data-reveal>
    <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">
        <span aria-hidden="true">&#215;</span>
    </a>
    <div class="modal-content"></div>
    <div class="loadingOverlay"></div>
</div>
