<figure class="productView-image"
		data-image-gallery-main
		data-zoom-image="{{getImage product.main_image 'zoom_size' (cdn theme_settings.default_image_product)}}"
		>
	<a class="productView-image-main " href="{{getImage product.main_image 'zoom_size' (cdn theme_settings.default_image_product)}}">
		<img class="productView-image--default lazyload" 
			 data-sizes="auto" 
			 src="{{cdn 'img/loading.svg'}}" 
			 data-src="{{getImage product.main_image 'product_size' (cdn theme_settings.default_image_product)}}"
			 alt="{{product.main_image.alt}}" title="{{product.main_image.alt}}" data-main-image>
	</a>
	
</figure>
<div class="btn-productViewzoom text-center">
	<button class="btn btn-outline-secondary" id="btn-productViewzoom" type="submit"><i class="fa fa-search"></i>  Click to zoom in</button>
</div>
<ul class="productView-thumbnails">
	 {{#each product.images}}
	<li class="productView-thumbnail">
		<a
			class="productView-thumbnail-link  {{#if @first}}is-active {{/if}}"
			 href="{{getImage this 'product_size' (cdn ../theme_settings.default_image_product)}}"
			data-image-gallery-item ="{{@index}}"
			data-image-gallery-new-image-url="{{getImage this 'product_size' (cdn ../theme_settings.default_image_product)}}"
			data-image-gallery-zoom-image-url="{{getImage this 'zoom_size' (cdn ../theme_settings.default_image_product)}}">
			<img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage this 'productview_thumb_size' (cdn ../theme_settings.default_image_product)}}" alt="{{this.alt}}" title="{{this.alt}}">
		</a>
	</li>
	{{/each}}
</ul>
<script type="text/javascript"><!--
$(document).ready(function() {
	$('.image-popup-sizechart').magnificPopup({
        type: 'image',
        closeOnContentClick: true,
        mainClass: 'mfp-img-mobile',
        image: {
        verticalFit: true
        }
    });
	
	{{#if product.images}}
	$('#btn-productViewzoom').magnificPopup({
		items: [
		{{#each product.images}}
			{src: "{{getImage this 'zoom_size' (cdn ../theme_settings.default_image_product)}}"},
		{{/each}}
		],
		gallery: { enabled: true, preload: [0,2] },
		type: 'image',
		mainClass: 'mfp-fade',
		callbacks: {
			open: function() {
				{{#if product.images}}
					var activeIndex = parseInt($('ul.productView-thumbnails .is-active').data('image-gallery-item'));
				{{ else }}
					var activeIndex = 0;
				{{/if}}
				var magnificPopup = $.magnificPopup.instance;
				magnificPopup.goTo(activeIndex);
			}
		}
	});
	{{/if}}
});
//--></script>