{{!--
Arguments:
- category_id (number)
- placeholder

Global variables:
- categories (array)

--}}

{{json categories}}

{{#each categories}}
    {{#if id '===' ../category_id}}
        <li>
            <div class="sb-categories__thumb">
                <a href="{{url}}" title="category_name" target="_blank" class="sub-cate-img">
                    <img class="card-image lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="{{getImage image 'sb_category_size' (cdn ../../../theme_settings.default_image_product)}}" alt="{{name}}" title="{{name}}">
                </a>
                <a class="sub-cate-name" href="{{url}}">{{name}}</a>
            </div>
        </li>
    {{/if}}
{{/each}}






