// =============================================================================
// Navpages (CSS)
// =============================================================================
.navPages-container{z-index: 260;}
.navPages-action svg{stroke: none;}

.navPages-horizontal{  
	.badge{
		
		background: $brand-danger;
		position: absolute;
	    z-index: 1;
	    top: -10px;
	    right: 15%;
	    color: white;
	    border-radius: 0;
	    font-size: 10px;
	    font-family: "Arial";
	    padding: 4px 6px;
	    @include triangle(down, 10px 5px, $color: $brand-danger);
	    &:after{
	    	position:absolute;
	    	bottom: -4px;
	    	left: 5px;
	    	z-index: 2;
	    }
	    &.badge--hot{background: $brand-info;
	    	 @include triangle(down, 10px 5px, $color: $brand-info);
	    }
	}
	@include breakpoint("medium") {
		
		ul.navPages-list{ width: 100%; vertical-align: middle;
			ul{list-style: none; margin: 0; padding: 0;}
			/*--more arrow--*/
			.navPages-action-moreIcon{transform: rotate(90deg); width: 16px; height: 16px; display: inline-block;}
			
			> li.navPages-item{ position: relative;float: $left;
				> .has-subMenu{
					//Triangle submenu
	    			/*&:before{
		                width: 0;
		                content: "";
		                display: block;
		                position: absolute;
		                border: 8px inset;
		                height: 0;
		                border-color: transparent transparent #fff;
		                border-bottom-style: solid;
		                bottom: 0;
		                left: calc(50% - 16px);
		                opacity: 0;
		                
		            }*/

		            /*&:after{ 
		            	border: inset 8px;
					    border-color: transparent transparent white;
					    border-bottom-style: solid;
					    left: 1.12857rem;
		            }*/
				}
				> .navPages-action{font-size:14px;  padding: 0.78571rem 1.14286rem;}
				

				.navPage-subMenu {   
					display: block;
				 	background: #fff;
					box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
				    transition: all 0.35s ease-in-out;
	    			transform: translateY(50px);
	    			opacity: 0;
	    			visibility: hidden;
	    			z-index: -1;
	    			padding: 1rem !important;
	    			#{$left}: 0;
	    			margin: 0;
	    			min-width: 200px;
	    			max-width: 1170px;
	    			text-align: $left;
	    			.imageArea {color:$gray;}
	    			.navPage-subMenu-item{width: 100%;}
	    			.navPages-action-moreIcon{
	    				transform: rotate(0deg); width: 16px; height: 16px;
	    				position: absolute;
					    right: 0;
					    z-index: 5;
					    margin: 6px;
	    			}
	    			.subMenu--level2{
	    				left: 100%;top:0;
	    			}

	    			// Link Menu Item
	    			.navPages-action{
						border-bottom: none; margin-bottom: 0;
						padding: 0 0 10px 0;
						font-size: 14px;
						font-weight: 400;
						&:hover{ color: $background; }
					}
				}
				
				
				//Hover submenu level 1
				&:hover{
					.has-subMenu{
						&:before,
		            	&:after{opacity:1;bottom: 0;}
					}
				}
				&:hover > .navPage-subMenu,
				.navPage-subMenu.is-open{
					opacity: 1;
					visibility: visible;
					z-index: 5;
					transform: translateY(0px);

				
				}

				//Hover submenu level2
				li.navPage-subMenu-item{ position: relative;z-index: 10;
					&:hover > .subMenu--level2{
	    				opacity: 1;
						visibility: visible;
						transform: translate(0px,0px);
	    			}
				}
				

			}

			/** NavPages item categories **/
			> li.hasMegamenu{ position: static;
				> .navPages-action{position: relative;z-index: 1; background: none;
					
					
				}

				.navPage-subMenu {   
					    width: 100%;
					    /*@include breakpoints(lg){min-width: 1170px!important;min-width: 930px!important;}*/
    					
    					padding:  15px !important;

	    			.navPage-subMenu-item{width: 20% ; float: $left; margin: 0;}
					.columns-2 .navPage-subMenu-item{width: 50%;}
					.columns-3 .navPage-subMenu-item{width: 33.33%;}
					.columns-4 .navPage-subMenu-item{width: 25%;}
					.columns-5 .navPage-subMenu-item{width: 20%;}

	    			// Link Menu Item
	    			ul.navPage-childList{margin-bottom: 20px;}
	    			.navPages-action{
						padding: 0 0 5px 0;
					
					}
					.navPages-action-depth-max{
						margin-bottom:5px; font-weight: bold; text-transform: uppercase;
						@include text-overflow();
					}
				}
				

			}

		}
	}
}


// =============================================================================
// Navpages - verticalCategories (CSS)
// =============================================================================
.navPages-verticalCategories .megamenuToogle-wrapper{
    background-color: $color-primary;
    text-transform: uppercase;
    font-weight: bold;
    padding: side-values(0 10px 0 15px) !important;
    height: 40px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 0;
    box-shadow: none;
    border: 0;
    color: #fff;
    line-height: 40px;
    text-align: $left;
    width: 100%;
    border-radius: side-values(4px 4px 0 0);
    &:before{
    	background:  url(../img/icon-tit.png) no-repeat center center;
		bottom: -26px;
		content: "";
		height: 32px;
		left: 4px;
		position: absolute;
		width: 5px;
		z-index: 99;
    }
    &:after{
    	background:  url(../img/icon-tit.png) no-repeat center center;
    	bottom: -26px;
	    content: "";
	    height: 32px;
	    right: 4px;
	    position: absolute;
	    width: 5px;
	    z-index: 99;
    }
    .title-mega{display: inline-block; padding:  0 10px;}
    .icon-alignleft{margin-top: 10px; float: left;}
    .icon-caret-circle{float: right; margin-top: 10px;}
   
}

.verticalCategories {
	@include breakpoint("medium") {
		position: absolute;z-index: 2;
		width: 100%;
		background: #fff;
		top: calc(100% + 21px) !important;
	    box-shadow: 0 0 6px 0 rgba(0,0,0,0.15);
	    background-color: #fff;
	    border-bottom-right-radius: 3px;
	    border-bottom-left-radius: 3px;
		&.is-open {
			transform: rotateX(0);
		}
		ul{list-style: none; padding: 0; margin: 0 0 15px;}
		ul.navPage-subMenu-list{
			width: 100%;float: left; margin: 0;

			// Submenu content_column
			&.grid-2{
				.navPage-subMenu-item {width: 50%;
					&:nth-child(2n+1){clear: both !important;}
				}
			}
			&.grid-3{
				.navPage-subMenu-item {width: 33%;
					&:nth-child(3n+1){clear: both !important;}
				}
			}
			&.grid-4{
				.navPage-subMenu-item {width: 25%;
					&:nth-child(4n+1){clear: both !important;}
				}
			}
			&.grid-5{
				.navPage-subMenu-item {width: 20%;
					&:nth-child(45n+1){clear: both !important;}
				}
			}
		}
		.navPages-list {
			display: block;
		}

		.navPages-item {
			width: 100%;
			padding: 0 15px;
			> .navPages-action {
				color: #666;
				display: block;
				padding: 8px 0 7px;
				font-size:14px;
			    text-transform: capitalize;
			    font-weight: normal;
			    &:hover{
			    	.fa  {color:$color-textLink-hover;}
			    };
				
			}
			.fa {font-size: 16px;color: #7d7d7d; min-width: 22px;}
			.fa-mobile{font-size: 22px;}
			.navPages__icon{margin-right: 5px;}
			&:hover{
				box-shadow: 0 0 5px rgba(0,0,0,.15);
				>.navPages-action{
					color: $color-textLink-hover;
				}
			}
		}

		.loadmore{cursor: pointer;
			.navPages-action{border: none;}
			&:hover{color:$color-textLink-hover;
				.fa{color:$color-textLink-hover; }
			}
			
		}
		.navPages-action-moreIcon {
			float: $right;
			width: 22px;
			height: remCalc(fontSize("smaller") * lineHeight("base"));
			svg{fill: #999;stroke: none;}
			@include if-rtl {
		       transform: rotate(180deg);
		    }
		}

		/*-- Submenu Moo Dropdown---*/
		.navPages-item--default{position: relative;z-index: 1;}
		.subMenu--default{
			width: 240px;
			#{$left}: 100%;
			top: 0;
			background: #fff;
			display: block;
			padding:1.5rem 0 !important;
			text-align:$left;
			box-shadow: 0 2px 2px rgba(color("blacks"), 0.15);
			.navPages-action-moreIcon{
				display: block;
				@include if-rtl {
			       transform: rotate(180deg);
			    }
			}
			.navPage-subMenu-item{width: 100%; padding: 0 !important;}
			.navPage-subMenu-action {
				display: block;
				padding: 5px 1.5rem;
			    border: none;
			    margin-bottom: 0;
			    font-size: 14px;
			    font-weight: normal;
			    &:hover{
			    	color: $background;
			    }
			}

			//Hover submenu level2
			ul{margin-bottom: 0;}
			div.subMenu--level2{left: 100%;top:-21px; display: none;}
			li.navPage-subMenu-item{ position: relative;z-index: 10;
				&:hover > .subMenu--level2,
				.is-open.subMenu--level2{
    				opacity: 1;
					visibility: visible;
					transform: translate(0px,0px);
					display: block;
    			}
			}
				
		}

		/*-- Submenu Mega Dropdown---*/
		.subMenu--mega {
			width: 300%;
			#{$left}: 100%;
			top: 0;
			background: #fff;
			display: block;
			box-shadow: 0 2px 2px rgba(color("blacks"), 0.15);
			.navPage-childList-item{padding: 3px 0;
				.navPages-action{font-size: 13px;}
			}
			.navPage-subMenu-action {
				display: block;
				padding: 5px 0;
			    border-bottom: 1px solid #eaeaea;
			    text-transform: uppercase;
			    font-size: 14px;
			}
			
		}
	}

	/*@include breakpoints(md){
		.navPage-subMenu.is-open{
			margin-left: 0; 
			opacity: 1;
		}
	}*/
}

// =============================================================================
// verticalCategories -  Make the main menu open when hover
// =============================================================================
@mixin showSubMenu($vertical: true) {
		margin-#{$left}: 0;
		opacity: 1;
		transform: if($vertical, translateY(0), translateX(0));
		transition: 0s margin-left, opacity 0.2s ease 0.2s, transform 0.15s ease 0.2s;
}

@mixin hideSubMenu($vertical: true) {
	opacity: 0;
	margin-#{$left}: -9999px;
	transform: if($vertical, translateY(32px), translateX(48px));
	transition: 0s margin-left 0.4s, opacity 0.2s ease 0.2s, transform 0.15s ease 0.2s;
}
@include breakpoint("medium") {

	/*Hover megamenuToogle-wrapper all Catelgory*/
	.verticalCategories.is-open {@include hideSubMenu(true);}
	.navPages-verticalCategories:hover {
		.verticalCategories.is-open {@include showSubMenu(true);}
	}
}

@include breakpoints(lg){
	.verticalCategories {
		/*Hover and Click navPage-subMenu*/ 
		.navPage-subMenu {@include hideSubMenu(false);}
		.navPages-item:hover {
			.navPage-subMenu {
				@include showSubMenu(false);
			}
		}
	}
}

@include breakpoints(md){
	.verticalCategories {
		.navPage-subMenu {@include hideSubMenu(false);}
		.navPage-subMenu.is-open {@include showSubMenu(false);}
	}
}


//  verticalCategories -  layout Mobile
// -----------------------------------------------------------------------------
@media (max-width: 991px){
	header .mobileMenu--vertical{
		.mobileMenu-toggleIcon::before{width:12px;}
		&.is-open .mobileMenu-toggleIcon::before{width:1.42857rem;}
		.mobileMenu-toggleIcon{width:16px;}
	}
	.navPages-container{
		background: #fff;
	    width: 280px;
	    position: fixed;
	    padding: 15px;
	    z-index: 150;
	    left: 0; right: auto; display: block;
        box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.55);
	    transition: all 0.5s cubic-bezier(0.99, 0.95, 0.49, 1.03);
	    transform: translateX(-100%);
	     &.is-open{z-index: 990; padding-top: 15px;overflow: scroll; transform: translateX(0%);}
	    .megamenuToogle-wrapper,.banners{display: none;}
	    .mobileMenu-toggle{right: 0;}
	   
	    ul.navPages-list{list-style: none;text-align: $left;
	    	> .navPages-item {border-bottom: 1px solid #ececec; position: relative;z-index: 2;
	    		&:last-child{border-bottom:none;}
	    		.badge{top: 5px;}
	    	}
	    	.navPage-subMenu-list, .navPage-childList{list-style: none; }
	    	.navPage-childList{    border-left: 1px solid #e6e6e6;}
	    	.navPages-action{padding: 8px 0; font-size: 13px; color: #222!important;
	    		.fa{min-width: 22px;}
	    	}
	    	.navPage-childList-action{padding: 0 0 0.35714rem; }
	    	.navPages-action-moreIcon{
	    		float: $right;
				width: 22px;
				height: remCalc(fontSize("smaller") * lineHeight("base"));
				svg{fill: #999;}
	    	}
	    }
	}
}

// =============================================================================
// horizontal   -  Make the main menu Feature
// =============================================================================
.navPages-horizontal .shoppage {margin: 0 -15px 15px;
        
        .title-shoppage{
            text-transform: uppercase;
            font-weight: bold;
            font-size: 15px;
        }
        ul{
            li{
                transition: all 0.2s  ease-in-out;
            }
            .submenuitem{color: #777;}
            a{display: inline-block; padding: 4px 0; position: relative;}


        }
        .submenu-shop{
            position: relative;
            .fa-angle-right {
                position: absolute;#{$right}: 0; margin: 10px ;
                @include if-rtl {transform: rotate(180deg);}
            }
            .menu-label {
                #{$right}: -25px;
                #{$left}: auto;
                margin-top: -14px;
            }
            .menu-label-new{
                background-color: #0f8db3;
                &:after{color: #0f8db3;}
            }
            .menu-label-hot {
                background-color: #ef7c0a;
                &:after{color: #ef7c0a;}
            }
            .menu-label {
                position: absolute;
                top: 80%;
                #{$right}: -30px;
                padding: 2px 4px;
                margin-top: -20px;
                color: #fff;
                line-height: 1.3;
                font-size: 8px;
                font-family: Karla,Arial,Helvetica,sans-serif;
                text-transform: uppercase;
                transform: translateY(-50%);
                transition: opacity .3s ease-in-out;

                &:after {
                    content: "\f0da";
                    font-family: FontAwesome;
                    position: absolute;
                    z-index: -1;
                    bottom: 5px;
                    font-size: 16px;
                    position: absolute;
                    bottom: -9px;
                    left: 3px;
                }
            }
            &:hover{
                ul{display:block;}
            }
            ul{
                display: none;
                width: 210px;
                position: absolute;
                z-index: 10;
                #{$left}: 90%;
                top: -15px;
                box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 25px;
                padding: 20px;
                background: rgb(255, 255, 255);
                border-width: 1px;
                border-style: solid;
                border-color: rgb(230, 230, 230);
                border-image: initial;
                border-radius: 2px;

                &:before{
                    position: absolute;
                    display: block;
                    border-color: transparent;
                    border-style: solid;
                    border-width: 10px;
                    content: "";
                    top: 20px;
                    #{$left}: -11px;
                    border-right-color: #e6e6e6;
                    border-left-width: 0;

                    @include if-rtl {transform: rotate(180deg);}

                }
                &:after{
                    position: absolute;
                    display: block;
                    border-color: transparent;
                    border-style: solid;
                    border-width: 10px;
                    content: "";
                    top: 20px;
                    #{$left}: -10px;
                    border-right-color: #fff;
                    border-left-width: 0;
                    @include if-rtl {transform: rotate(180deg);}
                   
                }
            }
           
        }

    }

