/*============ BOX SALE,NEW ==============*/
.product-layout{
    display: block !important;
}

.product-options{
    label{padding:0;color: #666;}
    .label{font-weight: normal;font-size: 11px;}
    .radio{position: relative;z-index: 2;  text-transform: capitalize; cursor: pointer;
    .fa{display: none;}
    }
   
    .active .fa{display: block;}
    .fa{position: absolute;top: 0;z-index: 2;width: 22px;height: 22px; color: white;line-height: 22px;text-align: center; #{$left} : 0; }
}

// PRODUCT COUNTDOWN
// -----------------------------------------------------------------------------

.countdown--box{ margin-bottom: 15px;
        .countdow--_inner{display: table;width:100%; text-align: center;}
        .title {border-bottom: 1px solid rgba(255,255,255,0.2); color: #fff;padding: 8px; display: none; }
        .time-item{
            display:inline-block;  color: #fff;font-size: 12px; text-align: center;
            padding: 1px 0;background: rgba(0,0,0,0.6);border: none;margin-right: 2px; width: 40px;
        .num-time {font-size: 14px;color: #fff;margin: 0;border: none;height: 18px;line-height: 20px; font-weight: bold;}
        .name-time {font-size: 10px;color: #fff; margin: 0; height: 20px;line-height: 20px; text-transform: uppercase;}
        
    }
}

// =============================================================================
// PRODUCT Sale Badges (CSS)
// =============================================================================

// BURST BADGE
// -----------------------------------------------------------------------------

.sale-flag-discount{
    background: stencilColor("color_badge_product_sale_badges");
    border-radius:  50px ;
    color: stencilColor("color_text_product_sale_badges");
    #{$right}: 15px;
    height: 40px;
    width: 40px;
    font-size: 12px;
    line-height: rem-calc(40px);
    padding-left: spacing("third");
    padding-right: spacing("half");
    padding-top: spacing("eighth") / 2;
    position: absolute;
    text-align: center;
    z-index: zIndex("lower");

}
.flag-badges{
    #{$left}: 15px;
    #{$right}: auto;
    top:10px;
    position: absolute;
    z-index: zIndex("lower");
}
.sale-flag-star,
.sale-flag-star:before,
.sale-flag-star:after {
    background: stencilColor("color_badge_product_sale_badges");
    content: "";
    display: block;
    height: rem-calc(50px);
    left: 0;
    overflow: visible;
    position: absolute;
    top: 0;
    transform: scaleX(1) scaleY(1) scaleZ(1);
    transform-origin: 50% 50% 0;
    width: rem-calc(50px);
    z-index: zIndex("lower");
}

.sale-flag-star:before {
    transform: rotateZ(30deg) scaleX(1) scaleY(1) scaleZ(1);
}

.sale-flag-star:after {
    transform: rotateZ(60deg) scaleX(1) scaleY(1) scaleZ(1);
}

.starwrap {
    height: rem-calc(50px);
    position: absolute;
    top: 10px;
    width: rem-calc(50px);
}

.sale-text-burst {
    color: stencilColor("color_text_product_sale_badges");
    font-weight: 600;
    line-height: rem-calc(15px);
    position: absolute;
    text-align: center;
    top: 20%;
    width: rem-calc(50px);
    z-index: 11;
}

// -----------------------------------------------------------------------------
// TOP LEFT BADGE
// -----------------------------------------------------------------------------

.sale-flag-side {
    background: stencilColor("color_badge_product_sale_badges");
    border-radius:  50px ;
    color: stencilColor("color_text_product_sale_badges");
    font-size: 12px;
    height: rem-calc(20px);
    line-height: rem-calc(20px);
    padding-left: spacing("third");
    padding-right: spacing("half");
    padding-top: spacing("eighth") / 2;
    position: absolute;
    transition: 800ms ease;
    z-index: zIndex("lower");
}

.product:hover .sale-flag-side {
    background: stencilColor("color_hover_product_sale_badges");
    transition: 800ms ease;
}

// -----------------------------------------------------------------------------
// SASH BADGE
// -----------------------------------------------------------------------------

.sale-flag-sash {
    background: stencilColor("color_badge_product_sale_badges");
    color: stencilColor("color_text_product_sale_badges");
    font-size: 12px;
    font-weight: 700;
    height: rem-calc(20px);
    left: -25px;
    line-height: rem-calc(16px);
    padding-top: spacing("eighth") / 2;
    position: absolute;
    text-align: center;
    top: 25px;
    transform: rotate(-45deg);
    transition: 800ms ease;
    width: rem-calc(119px);
    z-index: zIndex("lower");
}

.product:hover .sale-flag-sash {
    background: stencilColor("color_hover_product_sale_badges");
    transition: 800ms ease;
}


/*============ BOX RATE ==============*/
.rating--small{margin-bottom: 5px;
    .icon{width: 12px;height: 12px; margin: 0;}
    .icon--ratingEmpty svg{fill: #999;}
    .icon--ratingFull svg{fill: #ff5c00;}
}
    

.price-section{
    color: #999;
    font-size: 16px;
    font-weight: 700;
    .price--noSaleWithoutTax,
    .price--rrp{
        padding: 0 5px;
        display: inline-block;
        text-decoration: line-through;
        font-size: 13px;
        font-weight: normal;
    }
    .price--withoutTax{color: $linkColor;}
    
    
}
// =============================================================================
// PRODUCT GRID (CSS)
// =============================================================================
.title-category{
    font-size: 16px;
    text-transform: uppercase;
    color: #222;
    margin-top: 0;
    padding-bottom: 10px;
   
}
.category-info{ margin-bottom: 30px;
    .category-info__image{margin-bottom: 15px;}
}

/*REFINE SEARCH CATEGORY*/
.refine-search__content{
    @include clearfix();
    .refine-loadmore{
        float: left;
        border: 1px solid #ddd; overflow: hidden; min-height: 49px; height: 120px; width: 80px;
        padding: 10px;text-align: center; cursor: pointer; border-radius: 4px;
        background: #f4f4f4; 
        > span{display: inline-block; padding: 0 5px;}
        &:hover{background: $background;border-color: $background; color: white};
    }
    
    .refine-search__subitem {margin-bottom: 15px; }
    .refine-search__subitem-name{margin: 0px;font-size: 14px;}
    .refine-search__subitem-productsCount{font-size: 11px; color: #999;}
}
.refine-search{margin-bottom: 30px;
    .thumbnail{margin-bottom: 10px;
        &:hover{
            .img-thumbnail{border-color:$background;}
        }
    }
    a{@include linkGray(); display: block;}
}



//TOOLBAR LISTING TOP
// -----------------------------------------------------------------------------
.filters-panel{ margin-bottom: 20px;
    .form-field{margin: 0;}
    .list-view{ display: inline-block;
        .btn-gridview{ border: none;  float: left; padding:0.5em ;text-transform: uppercase;letter-spacing: .05em; } 
             
        button.btn{
            margin: 0px;
            margin-left: 1px;
            float: left;
            width: 33px;
            height: 33px;
            line-height: 34px;
            background: #666;
            text-align: center;
            padding: 0;
            border-radius: 0px !important;
            border: none;
            color: #fff;
            i{color: #fff;}
            &:hover,
            &.active{background: $color-primary; box-shadow: none; color: #fff;
                i{color: #fff;}
            }
            
            &:focus{border-radius: 0; outline: none;}
        }
        .fa{font-size: 14px;}
    }

}


// Product grid view
// -----------------------------------------------------------------------------
//
// 1. Re-set the font-size, as we're reducing it to 0 in the .products class.
//
// -----------------------------------------------------------------------------


/*================ PRODUCT LIST ===================*/
.products-category {
    .products-list{margin:0 -10px;
        .product-layout{padding: 0 10px;}
    }
}
.products-list { 
    .product-layout {  transition: all .5s ease 0s; display: block;
        .product-item-container{
            &:focus{outline:0 !important;}
            .product-card__gallery{
                position: absolute;z-index: 90;  top: 0; visibility: hidden; 
                @media(max-width: 1200px){ display: none!important; }
               @include transition(all 0.3s ease-in 0s); margin: 10px;width: 45px;

                &.product-card__left{ transform: translateX(if-ltr(-100%, 100%)); #{$left}:0;  }
                &.product-card__right{transform: translateX(if-ltr(100%,-100%)); #{$right}:0;}
                &.product-card__bottom{
                    top: auto;
                    bottom: 10px;
                    margin:0;
                    left:0;
                    @include align-items(stretch);
                    display: flex!important;
                    flex-direction: row!important;
                    @include justify-content(center);
                    width: 100%;
                    @media(max-width: 1200px){ display: none!important; }
                    .item-img{width: 20px;height: 8px;  background: #999; margin:1px; margin-#{$left}: 1px; border: none;
                         &.thumb-active{border: none;width: 60px;background: $background;}
                        img{display: none;}
                    }

                }
                .item-img{padding: 1px; background: white; border: 1px solid #eaeaea;   margin: 0 0 3px;  cursor: pointer; opacity: 0.6;
                    &.thumb-active{ opacity: 1; border: 1px solid #ccc; }
                }
                
            }
            .countdown--box{
                position: absolute;
                top: 50%;margin-top: -8px;
                left: 50%;
                width:170px;
                @include transition(all 0.2s ease-in-out);
                @include transform(scale(1) translateX(-50%));
            }
            .left-block{
                position: relative;
                overflow: hidden;
                padding: 10px ;
                .quickview{
                    height: 36px; width: 36px; text-align: center; line-height: 36px;
                     background: $background; color: #fff; cursor: pointer; z-index: 99;
                     position: absolute; top: 20%; margin: 0; opacity: 0;
                    @include transition(all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.2s); 
                    
                    border-radius: 50%; #{$left}: 50%; margin-#{$left}: -18px;
                } 
                .lazyloaded{display: inline-block;}
            } 
            .right-block{
                .card-title > a {
                    font-weight: normal;
                    color: #222;
                    &:hover{
                        color: $background;
                    }
                }
                .card-text{color: #999; margin-bottom: 0; font-size: 13px; min-height: 24px;}

            }
            .compare  {  padding: 0; width: 32px; @include transition(bottom 0.6s ease-in-out); color: $linkColor;
                .form-check-label{padding: 3px 2px; cursor: pointer; }
                .form-check-input{ margin: 8px 3px;position: absolute;z-index: 2; cursor: pointer;opacity: 0;} 
                .form-check-input:checked + .form-check-label{
                    .fa:before{content: "\f00c";}
                }
             }
            &:hover{
                .product-card__gallery{
                    visibility: visible;
                    transform: translateX(0%);
                }
                .countdown--box{ @include transform(translate(-50%,50%) ); opacity: 0; visibility: hidden; }
                .quickview{opacity: 1; top: 40%;
                    &:hover{background-color: $linkColorHover;}
                }
            }       
        }
    }
    /*====================PRODUCT GRID ====================*/ 
    .product-grid{
            .product-item-container{ 
                background-color: #f7f7f7;          
                margin: 0 0 30px 0;
                padding: 0;
                position: relative;
                overflow: hidden;
                border-radius: 3px;
                > .list-block,.description{display: none;}
                

                .left-block{
                    position: relative; 
                    .product-item-photo{ text-align: center; 
                            display: block;
                    }
                    .button-group{
                        padding: 0;
                        position: absolute;
                        z-index: 99;
                        .action-item{
                            border: none;
                            display: block;
                            margin-top: 5px;
                            padding: 0;
                            background-color: #666666;
                            border-radius: 3px;
                            color: #fff;
                            width: 30px;
                            height: 30px;
                            line-height: 30px;
                            transform: all 0.3s ease 0s;
                            position: relative;
                            @include transition(all 0.3s ease-in-out 0s);
                            @include opacity(0);
                            top: auto!important;
                            @-moz-document url-prefix() { 
                              line-height: 28px;
                            }
                            span{
                                color: #fff;
                                display: inline-block;
                                font-size: 12px;
                                font-weight: 300;
                                height: auto;
                                visibility: hidden;
                                position: static;
                                transition: all 0.15s ease-in-out 0s;
                                white-space: nowrap;
                               
                            }
                            label,
                            .action-link{ padding: 0;}
                            .fa{
                                font-size: 12px;
                                color: #fff;                              
                                height: 30px;
                                line-height: 30px;
                                width: 30px;
                                text-align: center;
                                position: absolute;
                                 top: 0;
                            }
                            
                            &.addToCart{
                                transition-delay: 0.1s;
                            }
                            &.wishlist {
                                transition-delay: 0.2s;
                            }
                            &.compare{
                                transition-delay: 0.3s;
                            }
                            &.quickview{
                                transition-delay: 0.4s;
                                #{$left}: auto;
                                margin: 5px 0 0;
                            }
                            
                            &:hover{
                                background-color: $background;
                                width: auto;
                                @include transition(all 0.15s ease-in-out 0s);
                                span{  
                                   visibility: visible;
                                    padding: 0 10px ;
                                    text-indent: 20px;
                                    transform: translateX(0);
                                }
                                
                            }

                        }

                    }
                    .cartinfo--left{#{$left}: 10px;    transform: translateY(50%);bottom: 50%; 
                        .btn-button{  
                            @include transform(translate(-50px, 0px));
                            @include if-rtl {
                                @include transform(translate(50px, 0px));
                            }
                            .fa{#{$left}: 0px;} 
                        }
                    }
                    .cartinfo--right{#{$right}: 10px;  transform: translateY(50%);bottom: 50%; 
                        @include if-ltr {direction: rtl; }

                        @include if-rtl {direction: ltr;}
                         .btn-button{  
                            @include transform(translate(50px, 0px));
                            @include if-rtl {
                                @include transform(translate(-50px, 0px));
                            } 
                            .fa{#{$right}: 0px;} 
                        }
                    }
                    .cartinfo--static{
                        width:100%;
                        bottom:10px; 
                        display: flex;
                        justify-content: center;
                        .btn-button{margin:2px; width: 30px !important;
                            .fa{left: 0;}
                            span{display: none;}
                        }
                    }
                    .cartinfo--center{
                        width:100%;
                        bottom:35%; 
                        display: flex;
                        justify-content: center;
                        .btn-button{margin:2px; width: 30px !important;
                            .fa{left: 0;}
                            span{display: none;}
                        }
                    }
                }
                .right-block{clear: both;
                    padding: 12px 12px 20px 12px;
                    text-align: center;
                    position: relative;
                    background-color: #f7f7f7;
                    .price{
                        margin-bottom: 0;
                    }
                    h4{
                        margin: 0 0 3px;
                        font-weight: 400;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        a{
                            font-size: 14px;
                            color: #222;
                            &:hover{
                                color: $linkColor;
                            }
                        }
                    } 
                    .addToCart{
                        font-size: 12px;
                        color: #444;
                        text-transform: uppercase;
                        background-color: #fff;
                        border-radius: 20px;
                        border: none;
                        padding: 14px 25px;
                        line-height: 100%;
                        margin-top: 20px;
                        border: 1px solid #ebebeb;
                        &:hover{
                            background-color: $background;
                            border-color: $background;
                            color: #fff;
                        }
                    }
                }
                &:hover{
                    .left-block .button-group .action-item{   
                        opacity: 1 ;  @include transform(scale(1));visibility: visible;                  
                    }     
                }
            }
    }
    .product-grid-4{
        @include breakpoint(xxlarge){&:nth-child(4n+1){clear: both !important;}}
    }
    .product-grid-5{
        @include breakpoint(xxlarge){&:nth-child(5n+1){clear: both !important;}}
       
    }

    /*----------------Product Table ------------------*/
    .product-list{
        
        .product-item-container{ 
            float:$left;
            margin-bottom: 30px;
            width: 100%;
            .left-block{
                width: 270px;
                float: $left;
                border: 1px solid $base-border-color;
                .product-image-container{ text-align: center; }
                .quickview span{ display: none; }
                .button-group .action-item span{ display: none; }
                .button-group{
                        padding: 0;
                        position: absolute;
                        z-index: 99;
                            top: 20%;
                        .action-item{
                            border: none;
                            display: block;
                            margin-top: 5px;
                            padding: 0;
                            background-color: #666666;
                            border-radius: 3px;
                            color: #fff;
                            width: 30px;
                            height: 30px;
                            line-height: 30px;
                            transform: all 0.3s ease 0s;
                            position: relative;
                            @include transition(all 0.3s ease-in-out 0s);
                            @include opacity(0);
                          
                            span{
                                color: #fff;
                                display: inline-block;
                                font-size: 12px;
                                font-weight: 300;
                                height: auto;
                                visibility: hidden;
                                position: static;
                                transition: all 0.15s ease-in-out 0s;
                                white-space: nowrap;
                               
                            }
                            label,
                            .action-link{ padding: 0;}
                            .fa{
                                font-size: 12px;
                                color: #fff;                              
                                height: 30px;
                                line-height: 30px;
                                width: 30px;
                                text-align: center;
                                position: absolute;
                                 top: 0;
                            }
                            
                            &.addToCart{
                                transition-delay: 0.1s;
                            }
                            &.wishlist {
                                transition-delay: 0.2s;
                            }
                            &.compare{
                                transition-delay: 0.3s;
                            }
                            &.quickview{
                                transition-delay: 0.4s;
                                #{$left}: auto;
                                margin: 5px 0 0;
                            }
                            
                            &:hover{
                                background-color: $background;
                                width: auto;
                                @include transition(all 0.15s ease-in-out 0s);
                                span{  
                                   visibility: visible;
                                    padding: 0 10px ;
                                    text-indent: 20px;
                                    transform: translateX(0);
                                }
                                
                            }

                        }

                    }
            }
            .right-block{
                   overflow: hidden;
                    padding: side-values(0 20px 0px 30px);
                   
                    .ratings{
                        
                    }
                    .button-group{
                        .action-item{
                            height: 32px;display: inline-block; vertical-align: top;
                            border-radius: 100%;  color: $linkColor; border: 1px solid $background; min-width: 32px; text-align: center;
                            &:hover{background-color: $background; color: white !important; }
                            a{color: #fff;}
                            &.addToCart{  padding: 0 15px;padding-bottom: 3px; line-height: 29px; color: #fff; border-radius: 16px; background: $background; @include transition(bottom 0.2s ease-in-out); }
                            &.wishlist {  padding: 0; width: 32px; @include transition(bottom 0.4s ease-in-out); color: $linkColor; 
                                .action-link{height: 30px;}
                            } 
                            &.compare  {  padding: 0; width: 32px; @include transition(bottom 0.6s ease-in-out); color: $linkColor;
                                .form-check-label{padding: 5px 2px;}
                             }
                        }

                    }
                    
                    .description{
                        margin: 15px 0;
                       
                    }
            }
            &:hover{
                .left-block .button-group .action-item{   
                    opacity: 1 ;  @include transform(scale(1));visibility: visible;                  
                }     
            }
        } 
    }    

    /*----------------Product Table ------------------*/
    .product-table{
        &:last-child .product-item-container{  border-bottom: 1px solid #dbdbdb; margin-bottom: 30px;};
        .product-item-container{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
            border-style: solid;
            border-width: 1px 1px 0px 1px;
            border-color: #dbdbdb;
             &:hover{
                .left-block .button-group .action-item{   
                    opacity: 1 ;  @include transform(scale(1));visibility: visible;                  
                }     
            }
        }
        .button-group{

            padding: 10px;
            text-align: center;
            a{color: #fff;}
            .addToCart {text-transform: uppercase; ;display: block; width: 100%; margin-bottom: 10px;@include buttonColor(); }
            .wishlist,.compare {width:100%;@include buttonGraylighter(); display: inline-block; margin-bottom: 10px;
                .form{margin: 0;}
            }
        }
        .left-block{width: 25%;min-width: 64px;
            .quickview span{ display: none; }
            .button-group{
                        padding: 0;
                        position: absolute;
                        z-index: 99;
                        top: 20%;
                        .action-item{
                            border: none;
                            display: block;
                            margin-top: 5px;
                            padding: 0;
                            background-color: #666666;
                            border-radius: 3px;
                            color: #fff;
                            width: 30px;
                            height: 30px;
                            line-height: 30px;
                            transform: all 0.3s ease 0s;
                            position: relative;
                            @include transition(all 0.3s ease-in-out 0s);
                            @include opacity(0);
                            top: auto!important;
                            @-moz-document url-prefix() { 
                              line-height: 28px;
                            }
                            span{
                                color: #fff;
                                display: inline-block;
                                font-size: 12px;
                                font-weight: 300;
                                height: auto;
                                visibility: hidden;
                                position: static;
                                transition: all 0.15s ease-in-out 0s;
                                white-space: nowrap;
                               
                            }
                            label,
                            .action-link{ padding: 0;}
                            .fa{
                                font-size: 12px;
                                color: #fff;                              
                                height: 30px;
                                line-height: 30px;
                                width: 30px;
                                text-align: center;
                                position: absolute;
                                 top: 0;
                            }
                            
                            &.addToCart{
                                transition-delay: 0.1s;
                            }
                            &.wishlist {
                                transition-delay: 0.2s;
                            }
                            &.compare{
                                transition-delay: 0.3s;
                            }
                            &.quickview{
                                transition-delay: 0.4s;
                                #{$left}: auto;
                                margin: 5px 0 0;
                            }
                            
                            &:hover{
                                background-color: $background;
                                width: auto;
                                @include transition(all 0.15s ease-in-out 0s);
                                span{  
                                   visibility: visible;
                                    padding: 0 10px ;
                                    text-indent: 20px;
                                    transform: translateX(0);
                                }
                                
                            }

                        }

                    }
        }

        .right-block{ width: 75%;
            @include display(flex);@include flex(1);
            > * {
                border-#{$left}: 1px solid #dbdbdb;
                margin: 0px;
                padding: 10px
            }  
               
            
            h4{width:35%;  font-weight: 400; font-size:14px;}
            .price-section{width:20%;
                .price {display: block;}
            }
            .button-group{width:30%;}
            .description{display: none;}
        }
    }
}

// =============================================================================
// SIDEBAR LISTING - RESPONSIVE
// =============================================================================
.open-sidebar {
    line-height: 25px;
    display: inline-block;
    border: 2px solid #999;
    margin-bottom: 20px;
    padding: 2px 15px;
    letter-spacing: 1px;
    font-size: 11px;
    text-transform: uppercase;
    max-width: 120px;
    margin-#{$right}: 10px;
    color: $gray;
    &:hover{border-color:$linkColor;}
}

#close-sidebar,
.mobileMenu-close{
    display: none;

    text-align: center;
    padding: 9px 20px;
    color: #fff;
    border-radius: 3px;
    border: none;
    background: #ea3a3c;
    margin-bottom: 20px
}
.sb-banner--cmsblock{
    .banner-figcaption__title{ margin: 15px 0 10px; }
    .banner-figcaption__text{ margin: 0; }
    p{ margin-bottom: 10px; }
    button{ margin: 0; }
}
@media only screen and (max-width: 992px){
    body.open-sboff {
        height: 100%;
        overflow: hidden;
    }
    .open-sidebar i.fa{ margin-right: 5px;  }
    .sidebar-overlay {
        background: rgba(0,0,0,0.5);
        display: none;
        height: 100%;
        opacity: 1;
        position: fixed;
        top: 0;
        left: 0px;
        right: 0px;
        width: 100%;
        z-index: 9998;
        &.show{display: block;}
    }
    .sidebar-offcanvas {
        background: #fff;
        max-width: 280px;
        position: fixed;
        top: 0px;
        bottom: 0px;
        z-index: 9999;
        height: 100%;
        overflow-x: scroll;
        box-shadow: 0 0 5px 0 rgba(50,50,50,0.75);
        transition: all 300ms ease-in-out;
        padding-top: 30px;
        margin: 0px;
        #{$left}: -120%;
        padding-#{$left}: 15px !important;
        padding-#{$right}: 10px !important;
        &.active {#{$left}: 0;}
        #close-sidebar{
            display: block;
        }        
    }
    .mobileMenu-close{display: block;}
    .facetedSearch-toggle{padding: 0; border: none; margin: 0;
        .toggleLink-text{@include buttonGray();    text-align: left; width: 100%;}
    }

    .facetedSearch-toggle-text,
    .facetedSearch-toggle-indicator{width: 100%;    margin: 10px 0;}
}

@media (min-width: 992px){
    .sidebar--full{
        .page-content{ flex: 0 0 100%;max-width: 100%;}
        .sidebar-overlay {
            background: rgba(0,0,0,0.5);
            display: none;
            height: 100%;
            opacity: 1;
            position: fixed;
            top: 0;
            left: 0px;
            right: 0px;
            width: 100%;
            z-index: 9998;
            &.show{display: block;}
        }
        .open-sidebar{display: block!important;}
        .sidebar-offcanvas {
            padding-left: 15px !important;
            padding-right: 10px !important;
            background: #fff;
            width: 300px;
            position: fixed;
           
            top: 0px;
            bottom: 0px;
            z-index: 9999;
            height: 100%;
            overflow-y: scroll;
            box-shadow: 0 0 5px 0 rgba(50,50,50,0.75);
            transition: all 300ms ease-in-out;
            padding-top: 15px;
            margin: 0px; 
            #{$left}: -100%;
            #close-sidebar{
                display: block;
            }        
           
            &.active {#{$left}: 0;}
        }
    }
}