
// =============================================================================
// PRODUCT VIEW (CSS)
// =============================================================================

// Product Quickview
// -----------------------------------------------------------------------------
@media (min-width: $screen-large){
    .modal {width: 980px;min-height:640px;}
    .modal-body{overflow: visible;}
    #modal,#previewModal,#modal-review-form{overflow-y: scroll;}
}
.modal-content{border-radius: 0;border:none;}
.quickView{padding:20px;     overflow: visible;
    .btn-productViewzoom{visibility: hidden; margin: 0;}
}
.btn-productViewzoom{margin: 20px 0; clear: both;
    .btn-outline-secondary{border-color: #d2d2d2;
        &:hover{ border-color: #6c757d;};
    }
}
.productView--quickView {
    .productView-image{   }
    .productView-thumbnails{   
        clear: both;
        
    }
    .productView-description{display:none;}
    .socialLinks-item--print {
        display: none;
    }
}

// Product view Cart
// -----------------------------------------------------------------------------
@media (min-width: 991px){
    .modal-header-title {font-size: 20px;}
    .previewCart {
        .productView{padding: 0;}
        .productView-image{width:50%;    flex-direction: row;}
        .productView-title{font-size: 21px;}
    }

}
// Product view layout
// -----------------------------------------------------------------------------
#wishlist-dropdown{border: none;}
.productView-images{ position: relative;     display: block;}
.productView { padding:0;
    @include grid-row($behavior: "nest");
    margin-left: -(spacing("base"));
    margin-right: -(spacing("base"));
    margin-bottom: 20px;
    .modal & {
        padding-bottom: 0;
        padding-top: 0;
    }
}

@media (min-width: 880px){
    .productView-image {
        min-height: 410px;
        min-width: auto;
        align-items: baseline;
    }
}
.productView-options .form-action .button{
    padding: 7px 20px;
    line-height: 24px;
    margin: 0;
    .icon svg {
        vertical-align: middle;
    }
    
}
#wishlist-dropdown.is-open{  border: 1px solid #ddd!important;
    padding: 0; 
    .button--has-items,
    a{ border: none;    text-align: $left; }
}
.productView-thumbnail{width:20%; margin-bottom:10px; float: $left;}
.productView-title{font-size: 22px; margin: 0 0 15px; color:#222;}
.productView-images {
    @include grid-column(12);
    padding-left: spacing("base");
    padding-right: spacing("base");
    margin-bottom: 15px;
    float: $left;
    @include breakpoint("small") {
        width: grid-calc(6, $total-columns);
    }

    .productView-thumbnails{
        img{position: static;max-width: 100%; max-height: 100%;}
        .productView-thumbnail-link{border: 1px solid #ddd;max-width: 100%; height: auto;
            &:hover,&.is-active{
                border-color:$background;
            }
        }
    }

    .productView--vertical{
        width: 65px;
        position: relative;
        float: $left;
        margin: 0;
        margin-#{$right} : 15px;
        .productView-thumbnail{width: 100%; padding: 0;}
    }
}
// Product view Gallery
// -----------------------------------------------------------------------------
.productView--gallerylist,
.productView--gallerygrid{
    list-style: none; margin: 0; padding: 0;
    .productView-image{margin-bottom: 15px;width: 100%; min-height: inherit; padding: 0; }
    .productView-thumbnail-link{height: auto;width: 100%;max-width: 100%; padding: 0;
        &.is-active{border-color:$background;}
    }
}

.productView--gallerygrid{ margin: 0 -7px;
    .productView-image{width: 50%; padding: 0 7px;}
}


.productView-info .image-popup-sizechart{display: inline-block;clear: both; margin:0;margin-bottom: 15px;
    @include linkGrayDark(); font-weight: 700;
}
.sb-banner--buyFromus{
    border-top: 1px dotted #e0dfdf;
    margin-top: 20px; margin-bottom: 15px;
    padding-top: 20px;
    overflow: hidden;
    .block-title{
        background: none;
        font-size: 15px;
        color: black;
        margin: 0 0 25px;
        padding: 0;
        border:none;
    }
    .banner-figure{width:50px;}
}

.productView-details { margin-bottom: 0;
    @include grid-column(12);
    padding-left: spacing("base");
    padding-right: spacing("base");

    @include breakpoint("small") {
        clear: $right;
        float: $right;
        width: grid-calc(6, $total-columns);
    }
    .productView-product{padding-bottom: 1rem; margin-bottom:1rem;}
    .button--addtocart{
        background:$color-primary; border-color:$color-primary; margin-bottom: 0;
        &:hover{background: darken($color-primary, 15%); border-color:darken($color-primary, 15%);}
    }
    .button--wishlist{
        background: none;
    }
    .productView-details__payment{
        .footer-payment-icon{ 
            width: 3rem;
            fill: #666;
           
        }
    }
}

.productView-details--bottom{margin-bottom: 35px;}

.productView-description{width: 100%;
    .tabs-contents{margin: 0; padding: 0;}
}
.horizontal-tabs {
    margin-top: 30px;
    @include grid-column(12);
    padding-left: spacing("base");
    padding-right: spacing("base");
   
    clear: both;
    .tabs{
        border: 1px solid #e1e1e1;background: #f2f2f2;
        .tab{
            margin: side-values(-1px 0 0 -1px);
            list-style: none;
            cursor: pointer;
            float: $left;
            font-size: 16px;
            text-transform: uppercase;
            border:none;
            border-#{$right}: 1px solid #e1e1e1;
        }
        
        .tab-title{
           font-weight: bold;
            border: none;
            padding: 0;
            color: #222;
            padding: 11px 30px;
            margin: 0;
            border-radius: 0;
            font-size: 14px;
            text-decoration: none;
            text-transform: uppercase;
            &:hover{color: $color-primary; background-color: #eee;};
        }
        .is-active{
            .tab-title{color: #fff !important;background: $background;}
        }
    }
    .tabs-contents{
        .tab-content{padding: 0;}
        padding:25px 25px 15px;
        display: block;
        margin: 0;
        border-style: solid;
        margin-top: -1px;
        border-width: side-values(1px);
        border-color: #e6e6e6;
    }
    
}
.vertical-tabs{
    background-color: #fff;
    margin: 0 15px;
    padding: 0;
     border: 1px solid #e6e6e6;
    border-bottom: 1px solid #ddd;
    display: flex;
    width: calc( 100% - 30px);
    ul.tabs{
        border-bottom: medium none;
        margin: 0;
        min-height: 180px;
        padding: 0;
        li{
            border: none;
            border-bottom: 1px solid #ddd;
            clear: both;
            position: relative;
            width: 100%;
            padding: 5px 0;
            border-#{$right}: none;
            a{ padding: 5px 15px; border: none; text-transform: uppercase; }
           
           
            &:before{
                content: "";
                width: 5px;
                height: 100%;
                #{$left} : -1px;
                position: absolute;
                top: 0;
                @include transition (all 0.3s ease-in-out 0s);z-index: 99;
            }
            &:hover{ 
                a{ color: $linkColor; border: none;}
                &:before{background-color: $background1;}
            }
            &.is-active{border-left-color: $linkColor;
                &:before{ background-color: $background1;}
                a{
                    background: transparent;
                    color: $linkColor;
                }
            }
           
           
        }
    }
    .tab-content{border: 0; border-#{$left} : 1px solid #e6e6e6; min-height: 200px; margin-bottom: 0;
        padding: 20px;
    }
}

.productView-related{padding: 0;margin-top: 0px;
    .nav-tabs{ display: block;  vertical-align: top; margin: 0 0 10px;  border-bottom: 1px solid #ebebeb;  background-color: transparent;
        li{ background-color: transparent; border: 0;
            &.tab-last { margin-#{$left}: 50px;
                a{ padding-#{$left}: 0; 
                    &:before{
                        content: '';
                        width: 1px;
                        height: 16px;
                        background-color: #ddd;
                        position: absolute;
                        top: 20px;
                        #{$left}: -25px;
                    }
                }

            }
           
            a{
                
                display: inline-block;
                padding: 12px 0;
                text-decoration: none;
                font-size: 16px;
                color: #222;
                font-weight: bold;
                text-transform: uppercase;
                position: relative;
                &:after{
                    content: '';
                    position: absolute;
                    bottom: 0px;
                    width: 0;
                    height: 2px;
                    @include transition(all .2s ease 0s);
                    background-color: $background;
                    #{$left}: 0;
                }
            }
           
        }

    }
    .nav-tabs>li>a:hover,
    .nav-tabs>li.is-active>a{
        border: none; color: $background; background: transparent;
        &:after{ width: 100px; }
    }
    .product-grid .product-item-container{margin-bottom: 0;}
    .tab-content {
        @include listingtabArrow();
        .slick-slider .slick-prev,  .slick-slider .slick-next{top: -40px;}
    }
}


.productView-price{
    .price-section{font-size:22px; font-weight: 600;}
}
.productView-info {  clear: both;  color: #666; line-height: 24px;
    .productView-info-dl{margin:0;}
    .productView-info-name{min-width: 150px;float: $left;margin: 0; font-weight:normal;}
    .productView-info-value{display: block; overflow: hidden;margin: 0;}
}


.productReviews{ margin-bottom: 0; border: none;
    h4.toggle-title{margin: 10px 0;}
    .productReview{width: 100%;}
}
.form-field--increments{
    .form-increment{ border: 1px solid #d7d7d7;display: inline-block;
        .button{display: block;background: none; border:none; width: 40px;height: 20px;}
    }   
    .form-input--incrementTotal{
        width: 55px;
        height: 40px;
        border: none;
        padding: 0;
        text-align: center;
        float: left;
        border-radius: 0;
        border-right: 1px solid #ddd;
    }
}
.productView-options{margin-bottom: 0;
    .form-action{vertical-align: top;}
}
.productView-options .form-field {margin-bottom: 1rem;}

// writeReview - Product detail
// -----------------------------------------------------------------------------

.writeReview-productImage-container:after{padding-bottom: 108%;}

