/*===============================================
    [SASS DIRECTORY ]
    
    [1] BACK TO TOP
    [2] CookieMessage
    [3] Sitcky Menu on Top
    [4] Group Logo Position
    [5] Banners hover effect
    [6] Alert messages 
==============================================*/

/*= [1] BACK TO TOP ==================*/
.sb-backtotop {
    direction: if-ltr(rtl, ltr);
    display: block;

   
}
.back-fixed-panel{

    @include breakpoint(large){
         margin-#{$right}: -50px;
    }
   
    bottom: 100px;
    position: fixed;display: block;
    z-index: 2;
    .back-panel-unit{
        display: block;
        width: 32px;
        height: 32px;
        margin-bottom: 5px;
        text-decoration: none;
        cursor: pointer;
        background: #999;
        border-radius: 50%;
        color: white;
        text-align: center;
        &:hover{background-color:$background;}
        i{font-size: 22px;line-height: 30px;}
    }
    
    .back-panel-toggle{font-size: 14px;line-height: 32px;
        &:before{content:"\f068"; font-family: $FontAwesome; }
        &.active:before{content:"\f067";};
    }
    .back-totop{@include transition(all 0.3s ease-in-out 0s); opacity: 1;
        &.hidden-top {visibility: hidden; opacity: 0;}
    }
}

.back-panel-shares{
    &.active{visibility: hidden;}
    .footer-info-heading{display: none;}
    .socialLinks .socialLinks-item{margin: 0 ;display: block;text-align: center; background: #ccc; border-radius: 3px; margin-bottom: 3px; height: 32px;
      i{ color: #222;     font-size: 20px;   line-height: 32px; }
        &:hover{background:$background;
            i{
              color: #fff;
            }
        }
       
    }
}

/*============SB loadeding ==================*/
.pace-done .sb-loadeding{display: none}
.sb-loadeding{background: #f2f2f2 url(#{$imgPath}loading.svg) no-repeat center center;;height: 100%; position: absolute;z-index: 9;top: 0;left: 0;right: 0;opacity: 1;}
.productLoading{margin: 10rem 3rem ; text-align: center; display: block; width: 100%;}

/*==[2] cookieMessage ==================*/
.cookieMessage{
    position: fixed;
    z-index: 550;
    bottom: 0;
    width: 300px;
    padding: 15px 0;
    margin: 20px ;
    background: $gray;
    color: white;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
    
    .cookieMessage-text{width: auto; padding: 0;}
    .button{vertical-align: middle; width: 100%; margin-bottom: 0; color: white;}
    

}
.productLoading{margin: 10rem 3rem ; text-align: center; display: block; width: 100%;}
/*==[3] STICKY MENU ON TOP  ==================*/
@media (min-width: 1200px){
header{
    .navbar-compact { position: fixed;width:100%;    background-color: $header-color;; z-index:1000; padding: 10px 0 ; box-shadow: 1px 1px 5px rgba(0,0,0,0.3); 
       .header-logo-image{}
    }
}  
   

/*==[4] group Logo Position ==================*/
.logo-content--center{
    .header-center .col-lg-6,.col-xl-6{   
        -webkit-box-ordinal-group: 2;-ms-flex-order: 1;order: 1;
        flex: 0 0 33%;
        max-width: 33%;
    }
    .logo-container{    -webkit-box-ordinal-group: 2;-ms-flex-order: 2;order: 2;}
    .navbar-container{    -webkit-box-ordinal-group: 2;-ms-flex-order: 3;order: 3;}
}
.logo-content--right{
    .header-center{text-align: right;}
    .navbar-container{    -webkit-box-ordinal-group: 2;-ms-flex-order: 1;order: 1;text-align: left !important;}
    .col-lg-6,.col-xl-6{   
        -webkit-box-ordinal-group: 2;-ms-flex-order: 2;order: 2;
        ul.navPages-list .navPages-item{float:right;}
    }
    .logo-container{    -webkit-box-ordinal-group: 2;-ms-flex-order: 3;order: 3;}
}

}
/*==[5] Banners hover effect ==================*/
.banners-effect1 .banners > div {
    img { @include transition(all 0.2s ease-in);
        &:hover{opacity: 0.8;}
    }
    
}

.banners-effect2 .banners > div a{display: block;position: relative;overflow: hidden;
    &:hover{
        &:before,&:after{left: 0;opacity: 1;}
    }   
    &:before,&:after{
        background-color: rgba(255, 255, 255, 0.4);
        display: block;
        width: 100%;
        height: 100%;
        left: -100%;
        opacity: 0;
        filter: alpha(opacity=0);
        position: absolute;
        top: 0;
        @include transition(all 0.3s ease-in);
        content: "";
        z-index: 1;
    }
    
}

.banners-effect3 .banners > div a {display: block;position: relative;overflow: hidden;
    &:hover{
        &:before,&:after{border: 0 solid rgba(0, 0, 0, 0.7);opacity: 0;filter: alpha(opacity=0);}
    }   
    &:before,&:after{
        border: 50px solid transparent;
        border-top-right-radius: 50px;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
        box-sizing: border-box;
        cursor: pointer;
        display: inline-block;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        top: 0;
        content: "";
        opacity: 1;
        filter: alpha(opacity=100);
        width: 100px;
        height: 100px;
        @include transform(scale(7));
        @include transition(all 0.4s ease-in-out);
        
        visibility: visible;
        z-index: 1;
    }
}

.banners-effect4 .row-no-padding a,
.banners-effect4 .banners > div a {
     display: block;
     position: relative;
     overflow: hidden;
}

     .banners-effect4 .row-no-padding a:before,
     .banners-effect4 .banners > div a:before {
          border-bottom: 50px solid rgba(255, 255, 255, 0.4);
          border-top: 50px solid rgba(255, 255, 255, 0.4);
          content: "";
          height: 100%;
          left: 0;
          opacity: 0;
          filter: alpha(opacity=0);
          position: absolute;
          top: 0;
          transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 0, 1);
          -o-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 0, 1);
          -webkit-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 0, 1);
          -moz-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 0, 1);
          -ms-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 0, 1);
          -webkit-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
          -o-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
          transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
          transform-origin: 50% 50% 0;
          width: 100%;
     }
     
    .banners-effect4 .row-no-padding a:hover:before,
    .banners-effect4 .banners > div a:hover:before {
         opacity: 1;
         filter: alpha(opacity=100);
         transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 4, 1);
         -o-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 4, 1);
         -webkit-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 4, 1);
         -moz-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 4, 1);
         -ms-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 4, 1);
    }

.banners-effect5 .banners > div a {display: block;position: relative;overflow: hidden;
     &:before{
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        border: 70px solid rgba(255,255,255, 0);
        top: 0;
        #{$left}: 0;
        transition: all 0.5s ease-in-out;
       
    }
    &:after{
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        opacity: 0.5;
        border: 30px solid #fff;
        top: 0;
        #{$left}: 0;
        transform: scale(0);
        -moz-transform: scale(0);
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transition: all 0.5s ease-in-out;
    }
   
    &:hover{
        &:before{
            border: 0 solid rgba(255,255,255, 0.7);
           
        }
        &:after{
            transform: scale(0.8);
            -moz-transform: scale(0.8);
            -webkit-transform: scale(0.8);
            -ms-transform: scale(0.8);
            opacity: 0;
            transition-delay: 0.1s;
        }
        
    }
}


.banners-effect6 .banners > div a {
     display: inline-block;
     position: relative;
     overflow: hidden;
     background: #000;
     vertical-align: top;
}

    
     .banners-effect6 .banners > div a img {
          backface-visibility: hidden;
          opacity: 1;
          filter: alpha(opacity=100);
          -webkit-transition: opacity 1s ease 0s, transform 1s ease 0s;
          -o-transition: opacity 1s ease 0s, transform 1s ease 0s;
          transition: opacity 1s ease 0s, transform 1s ease 0s;
     }
     
          
          .banners-effect-6 .banners > div a:hover img {
               opacity: 0.8;
               filter: alpha(opacity=80);
               transform: scale3d(1.1, 1.1, 1);
          }
          

.banners-effect7 .banners > div a {
     display: block;
     position: relative;
     overflow: hidden;
}

     
     .banners-effect7 .banners > div a:before {
          position: absolute;
          background: rgba(0, 0, 0, 0.3);
          width: 0;
          top: 0;
          left: 50%;
          content: "";
          transition: all 0.3s ease-in-out 0s;
     }
     
          
          .banners-effect7 .banners > div a:hover:before {
               width: 100%;
               left: 0;
               top: 0;
               height: 100%;
          }
          

.banners-effect8 .banners > div a {
     display: inline-block;
     position: relative;
     overflow: hidden;
     background: #000;
     vertical-align: top;
}
     
     .banners-effect8 .banners > div a:before,
     .banners-effect8 .banners > div a:after {
          bottom: 20px;
          content: "";
          left: 20px;
          opacity: 0;
          position: absolute;
          right: 20px;
          top: 20px;
          -webkit-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
          -o-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
          transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
          z-index: 1;
     }
     
          .banners-effect8 .banners > div a:before {
               border-bottom: 1px solid #ffffff;
               border-top: 1px solid #ffffff;
               -webkit-transform: scale(0, 1);
               -ms-transform: scale(0, 1);
               -o-transform: scale(0, 1);
               transform: scale(0, 1);
          }
          
          .banners-effect8 .banners > div a:after {
               border-left: 1px solid #ffffff;
               border-right: 1px solid #ffffff;
               -webkit-transform: scale(1, 0);
               -ms-transform: scale(1, 0);
               -o-transform: scale(1, 0);
               transform: scale(1, 0);
          }
     
          .banners-effect8 .banners > div img {
               opacity: 1;
               filter: alpha(opacity=100);
               -webkit-transition: opacity 0.35s ease 0s;
               -o-transition: opacity 0.35s ease 0s;
               transition: opacity 0.35s ease 0s;
          }
          
               .banners-effect8 .banners > div a:hover:before,
               .banners-effect8 .banners > div a:hover:after {
                    opacity: 1;
                    filter: alpha(opacity=100);
                    -webkit-transform: scale(1);
                    -ms-transform: scale(1);
                    -o-transform: scale(1);
                    transform: scale(1);
               }
               
               .banners-effect8 .banners > div a:hover img {
                    opacity: 0.5;
                    filter: alpha(opacity=50);
               }


.banners-effect9 .banners > div a {
     display: block;
     position: relative;
     z-index: 10;
}
     

     .banners-effect9 .banners > div a:before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background: #000;
        content: '';
        -webkit-transition: opacity 0.35s;
        transition: opacity 0.35s;
        box-shadow: 0 3px 30px rgba(0,0,0,0.2);
        opacity: 0;
     }
     
          .banners-effect9 .banners > div a:hover:before {
               opacity: 1;
          }

     .banners-effect9 .banners > div a img {
          opacity: 1;
          -webkit-transition: -webkit-transform 0.35s;
          transition: transform 0.35s;
          -webkit-transform: perspective(1000px) translate3d(0,0,0);
          transform: perspective(1000px) translate3d(0,0,0);
     }
     
          .banners-effect9 .banners > div a:hover img {
               -webkit-transform: perspective(1000px) translate3d(0,0,21px);
               transform: perspective(1000px) translate3d(0,0,21px);
          }
          
.banners-effect10 .banners > div a {
     display: block;
     position: relative;
     overflow: hidden;
}
     
     .banners-effect10 .banners > div a:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 75%);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 75%);
        content: '';
        opacity: 0;
        -webkit-transform: translate3d(0,50%,0);
        transform: translate3d(0,50%,0);
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
     }
     
          .banners-effect10 .banners > div a:hover:before {
               opacity: 1;
               -webkit-transform: translate3d(0,0,0);
               transform: translate3d(0,0,0);
          }


.banners-effect11 .banners > div a {display: block;position: relative;overflow: hidden;
    &:hover{
        &:before,&:after{
            width:100%;height: 100%;
        }
    }
    
    &:before,&:after{
         background-color: rgba(0, 0, 0, 0.15);
        content: "";
        height: 0;
        left: 0;
        margin: auto;
        position: absolute;
        
        width: 0;
        @include transition(all 0.3s ease-out 0s);
    }
    &:after{left: auto;right: 0; bottom: 0;}
}

.banners-effect12 .banners > div {
    img { @include transition(all 0.3s ease-in);
        &:hover{@include filter(grayscale(100%));}
    }
    
}

/*==[5] Alert messages  ==================*/

.alert,.alertBox {
    padding: side-values(18px 40px 18px 75px);
    z-index: 30;
    color: #FFF;
    border-radius: 0;
    position: relative;z-index: 1;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    transition: 1s all cubic-bezier(1, -0.01, 0, 0.99);
    i,.alertBox-icon {
        position: absolute;
        top: 0;
        #{$left}: 0;
        bottom: 0;
        text-align: center;
        width: 60px;
        font-size: 32px;
        -webkit-animation: alert-icon-anim 1s;
        -moz-animation: alert-icon-anim 1s;
        -ms-animation: alert-icon-anim 1s;
        -o-animation: alert-icon-anim 1s;
        animation: alert-icon-anim 1s;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
        padding:0;
        &:before{
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            line-height: 0;
        }
        .icon{
            height: 3rem;
            width: 3rem;
        }
    }
    button.close {
        position: absolute;
        top: 50%;
        line-height: 1;
        #{$right}: 15px;
        color: #FFF;
        opacity: .7;
        background: none;
        border:none;
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }
   
}




.alert a:hover {
    text-decoration: underline;
}

@media (max-width: 479px) {
    .alert {padding-right: 30px; }
    .alert button.close { right: 5px;}
}

.alert-success,.alertBox--success {background-color: #4caf50;
    i,.alertBox-icon {background: #388E3C;}
    a,a:focus,a:hover{color: #C8E6C9;}
}

.alert-danger,.alertBox--error {background-color: #F44336;
    i,.alertBox-icon {background: #D32F2F;}
    a,a:focus,a:hover{color: #FFCDD2;}
}

.alert-info,.alertBox--info {
    background-color: #03A9F4;
    i,.alertBox-icon{background: #0288D1;}
    a,a:focus,a:hover{color: #B3E5FC;}
}

.alert-warning,.alertBox--warning {
    background-color: #FF5722;
    i,.alertBox-icon {background: #E64A19;}
    a,a:focus,a:hover{color: #FFCCBC;}
}

/*==[6] Product Category Setting ==================*/
.sidebar--right{
    .page-sidebar{-webkit-box-ordinal-group: 2;-ms-flex-order: 2;order: 2;}
    .page-content{-webkit-box-ordinal-group: 1;-ms-flex-order: 1;order: 1;}
}