{{!--
Arguments:Module sb_menu
    - prefix (string): section instance index number
    - limitation  (number): The number of menu item to display.
    - icon-fontawesome(string): show icon fontawesome on  heading menu. Ex (icon-fontawesome=gift)
    - class_sfx (string) : Class suffix for module. 
    - horizontal : this menus items show horizontal
    
Arguments:Module sb_banner
    - prefix (string): section instance index number
    - limitation  (number): The number of menu item to display.
    - class_sfx (string) : Class suffix for module. 
    - display_mode : this Banner items show horizontal
--}}

<footer class="footer " role="contentinfo">
    {{!-- FOOTER TOP --}}
    <section class="footer-top">
         <div class="footer-center__two">
            <div class="container">
                <div class="row">
                    <div class="logo col-xl-3 col-lg-2 col-md-3 col-12">
                         <div class="logo"> 
                            {{> components/sbthemes/module/sb_banner/banner status=true prefix="home2_logofooter" showContent=false display_mode="horizontal" limitation=1 class_sfx=""}}
                         </div>   
                    </div>
                    <div class="footer-menu col-xl-6 col-lg-6 col-md-9 col-12">
                        <article class="custom_categories">
                            {{> components/sbthemes/module/sb_menu/default status=true prefix="menu_info_1" limitation=5 icon-fontawesome="" class_sfx=" " }}
                        </article>
                    </div>
                    
                    <div class="footer-socials socials-wraps d-flex align-items-center justify-content-end col-xl-3 col-lg-4 col-12">
                        {{#if theme_settings.social_icon_placement_top}}
                            {{> components/sbthemes/common/social-links}}
                        {{/if}}
                    </div> 
                </div>
            </div>
        </div>
    </section>

    {{!-- FOOTER CENTER --}}
    <section class="footer-center ">
        <div class="footer-center__first">
            <div class="container">
                <div class="row">
                    <article class="col-lg-3 col-md-3 col-sm-12 footer-info collapsed-block" data-section-type="storeInfo">
                        <h5 class="footer-info-heading">
                            {{lang 'footer.info'}}
                            <span class="expander" ><i class="fa fa-chevron-circle-down"></i></span>
                        </h5>
                         
                        
                        <div class="footer-info-list">
                        
                        <ul>
                            <li class="addres">
								<i class="fa fa-map-marker" aria-hidden="true"></i>
								<span>{{nl2br settings.address}}</span>
                            </li>
                            <li class="phone">
								<i class="fa fa-phone" aria-hidden="true"></i>
								<span>{{nl2br settings.phone_number}}</span>
                            </li>
                            <li class="email">
								<i class="fa fa-envelope-o" aria-hidden="true"></i>
								<span>{{lang 'footer.email' }}</span>
                            </li>
                            <li class="time">
								<i class="fa fa-clock-o" aria-hidden="true"></i>
								<span>{{lang 'footer.time' }}</span>
                            </li>
                        </ul>
                        </div>
                    </article>
                    {{#if theme_settings.show_footer_info_1}}
                        {{> components/sbthemes/module/sb_menu/default status=true prefix="menu_info_1" limitation=6 icon-fontawesome="" class_sfx="col-lg-2 col-sm-12" }}
                    {{/if}}
                    
                    
                    <article class="col col-lg-2 col-sm-3 collapsed-block" data-section-type="footer-webPages">
                        <h5 class="footer-info-heading">
                            {{lang 'footer.navigate'}} 
                            <span class="expander" ><i class="fa fa-chevron-circle-down"></i></span>
                        </h5>
                        <ul class="footer-info-list">
                            {{#each pages}}
                                <li>
                                    <a href="{{url}}">{{name}}</a>
                                </li>
                            {{/each}}
                        </ul>
                    </article>
                    

                    
                    <article class="col col-lg-2 col-sm-3 collapsed-block" data-section-type="footer-categories">
                        <h5 class="footer-info-heading">
                            {{lang 'category.label'}}
                            <span class="expander" ><i class="fa fa-chevron-circle-down"></i></span>
                        </h5>
                        <ul class="footer-info-list">
                            {{#each (limit categories 5)}}
                                <li>
                                    <a href="{{url}}">{{name}}</a>
                                </li>
                            {{/each}}
                            <li>
                                <a href="/categories"><strong>{{lang 'common.view_all'}}</strong></a>
                            </li>
                        </ul>
                    </article>
                    
                   <article class="col col-lg-3 col-sm-3 collapsed-block" data-section-type="footer-instagram">
                         {{> components/sbthemes/module/sb_instagram/default }}   
                    </article>
                    
                    
                    {{#if theme_settings.show_footer_info_3}}
                    <div class="footer-newsletter d-flex  align-items-center col-12">
                        <div class="footer-newsletter__inner">
                            {{#if settings.show_newsletter_box}}
                                {{> components/sbthemes/common/subscription-form}}
                            {{/if}}
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
       
       
    </section>
    
    {{!-- FOOTER BOTTOM --}}
    <section class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="footer-copyright col-sm-6">
                    {{#if theme_settings.show_copyright_footer}}
                    <span class="powered-by">&copy; {{moment format="YYYY"}} {{settings.store_name}} </span>
                    {{/if}}
                    {{#if theme_settings.show_powered_by}}
                        <span class="powered-by">Powered by <a href="https://www.bigcommerce.com/" rel="nofollow">BigCommerce</a>. Designed by <a href="http://www.revotheme.com/" target="_blank">Revotheme.com</a></span>
                    {{/if}}
                </div>
                 <div class="payment-footer col-sm-6"> 
                           {{> components/common/payment-icons}}
                         </div>   
                {{#if theme_settings.geotrust_ssl_common_name}}
                    <div class="footer-geotrust-ssl-seal">
                        {{> components/common/geotrust-ssl-seal}}
                    </div>
                {{/if}}

            </div>
        </div>
    </section>
    
    {{#if theme_settings.general_backtotop}}
    <section class="sb-backtotop">
        <div class="container">
            <div class="back-fixed-panel">
                <div class="back-panel-shares d-none d-lg-block" data-role="sharesArea" >
                {{> components/sbthemes/common/social-links}}
                </div>
                <div class="back-panel-operation">
                    {{#if social_media}}
                    <div class="back-panel-unit back-panel-toggle d-none d-lg-block" >
                    </div>
                    {{/if}}
                    <div class="back-panel-unit back-totop"><i class="fa fa-angle-up"></i></div>
                </div>
            </div>
            
        </div>
    </section>
    {{/if}}
    
    {{#if theme_settings.fbMessage_status}}
    <section class="sb-message">
       {{> components/sbthemes/module/sb_facebook_message/default status=true}}
    </section>
    {{/if}}
    
    
</footer>
