{{!--
Arguments:Module sb_menu
    - prefix (string): section instance index number
    - limitation  (number): The number of menu item to display.
    - icon-fontawesome(string): show icon fontawesome on  heading menu. Ex (icon-fontawesome=gift)
    - class_sfx (string) : Class suffix for module. 
    - horizontal : this menus items show horizontal
    
Arguments:Module sb_banner
    - prefix (string): section instance index number
    - limitation  (number): The number of menu item to display.
    - class_sfx (string) : Class suffix for module. 
    - display_mode : this Banner items show horizontal
--}}

{{#if theme_settings.general_backtotop}}
<div class="back-to-top back-totop"><span>{{lang 'Back to top'}}</span></div>
{{/if}}
<footer class="footer typefooter-16" role="contentinfo">
    <div class="footer-main desc-collapse showdown">
        <div class="so-page-builder">
            <div class="container page-builder-ltr">
                <div class="row row_p2b9  footer-middle">
                    {{!-- FOOTER MIDDLE --}}
                    <div class="col-lg-8 col-md-9 col-sm-12 col-xs-12 col_in56  col-style">
                            <div class="row row_y5ci  row-style ">
                                {{#if theme_settings.show_home4_footer_1}}
                                    {{> components/sbthemes/module/sb_menu/default status=true prefix="home4_footer_1" limitation=5 icon-fontawesome="" class_sfx="col-lg-3 col-md-3 col-sm-3 col-xs-12 col-style"}}
                                {{/if}}
                                {{#if theme_settings.show_home4_footer_2}}
                                    {{> components/sbthemes/module/sb_menu/default status=true prefix="home4_footer_2" limitation=5 icon-fontawesome="" class_sfx="col-lg-3 col-md-3 col-sm-3 col-xs-12 col-style"}}
                                {{/if}}
                                {{#if theme_settings.show_home4_footer_3}}
                                    {{> components/sbthemes/module/sb_menu/default status=true prefix="home4_footer_3" limitation=5 icon-fontawesome="" class_sfx="col-lg-3 col-md-3 col-sm-3 col-xs-12 col-style"}}
                                {{/if}}
                                {{#if theme_settings.show_home4_footer_4}}
                                    {{> components/sbthemes/module/sb_menu/default status=true prefix="home4_footer_4" limitation=5 icon-fontawesome="" class_sfx="col-lg-3 col-md-3 col-sm-3 col-xs-12 col-style"}}
                                {{/if}}
                            </div>
                    </div>
                    <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12 col_ee9m  col-style">
                        <div class="row row-style ">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_4tz3 col-style">
                                <div class="newsletter-footer11">
                                    {{#if settings.show_newsletter_box}}
                                        {{> components/sbthemes/common/home4-subscription-form}}
                                    {{/if}}
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_us1w col-style">
                                {{#if theme_settings.show_home4_footer_6}}
                                <div class="block-apps collapsed-block">
                                    <h3 class="footer-info-heading">{{lang 'sb_themes.home4_footer_6.heading'}}</h3>
                                    <div class="block-footer-content content-apps">
                                        <a href="#" title="Google Play"><img src="{{lang 'sb_themes.home4_footer_6.link_1.image'}}" alt="Google Play" width="200px"></a>
                                        <a href="#" title="App Store"><img src="{{lang 'sb_themes.home4_footer_6.link_2.image'}}" alt="App Store" width="200px"></a>
                                    </div>
                                </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container page-builder-ltr">
                <div class="row row_npw9  row-style ">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_gd63  col-style">
                        {{#if theme_settings.show_home4_footer_5}}
                        {{> components/sbthemes/module/sb_menu/default status=true prefix="home4_footer_5" limitation=19 icon-fontawesome="" class_sfx="seo-struct" }}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!-- FOOTER BOTTOM --}}
    <section class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 payment-w">
                    <img src="{{lang 'sb_themes.home4_footer_payment.image'}}" />
                </div>
                <div class="col-lg-6 col-md-7 col-sm-12 col-xs-12 copyright-w">
                    <div class="copyright">
                        {{#if theme_settings.show_copyright_footer}}
                        <span class="powered-by">&copy; {{moment format="YYYY"}} {{settings.store_name}} </span>
                        {{/if}}
                        {{#if theme_settings.show_powered_by}}
                        <span class="powered-by">Powered by <a href="https://www.bigcommerce.com/" rel="nofollow">BigCommerce</a>. Designed by <a href="http://www.revotheme.com/" target="_blank">Revotheme.com</a></span>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>
