{{!--
Arguments: Module banner
	- status    	(boolean):is display state of add on
    - prefix 		(string): Prefixes are added to the banner 
    - showContent   (boolean): is display show content of banner
    - limitation    (number): The number of banner item to display.
    - display_mode  (string) : Support format  (horizontal , vertical)
    - class_sfx     (string) : Class suffix for module. 
	
Arguments:Module sb_supper_category & so_category_slider
    - status    	(boolean):is display state of add on
	- moduleId (number): section instance index number
    - limit_subcategory  (number): The number of sub category item to display.
    - showBanner   (boolean): is display show  banner
    - class_sfx (string) : Class suffix for module. 

--}}

{{#if   section '==' 'section1'}}   
    {{> components/sbthemes/module/sb_banner/banner status=true prefix="home2_blockServices" showContent=true limitation=4 display_mode="" class_sfx=""}}

{{else if   section '==' 'section2'}} 
	
    {{> components/sbthemes/module/sb_listing_tabs/home3/default top_sellers= products.top_sellers status=true moduleId=1 class_sfx="sb-listingtabs--slider h3-listingtabs" display_mode="default"}}
                                        
{{else if   section '==' 'section3'}}   
    {{> components/sbthemes/module/sb_banner/banner status=true prefix="home3_banner1" showContent=true class_sfx=" "}}

{{else if   section '==' 'section4'}}   
    {{> components/sbthemes/module/sb_deals/home3 status=true moduleId=1 row=1 columns=3 banner="no" class_sfx="sb-deals-carousel clearfix"  }}

{{else if   section '==' 'section5'}}   
    {{> components/sbthemes/module/sb_banner/banner status=true prefix="home3_banner2" showContent=false limitation=2 display_mode="horizontal" class_sfx=" "}}
                                        
{{else if   section '==' 'section6'}}   
   {{> components/sbthemes/module/sb_listing_tabs/home3_1  status=true moduleId=1  banner="no" class_sfx="listingtabs2"}}  
                                        
{{else if   section '==' 'section7'}}   
    {{> components/sbthemes/module/sb_banner/banner status=true prefix="home3_banner3" showContent=false class_sfx=" "}}
                                        
{{else if   section '==' 'section8'}}
    <div class="row"> 
        <div class="col-lg-4 col-12"> 
            {{> components/sbthemes/module/sb_extraslider/default status=true products= products.new moduleId=3 row=4 columns=1 dots=true arrows=false banner="no" class_sfx="blockExtraslider--left clearfix" }}   
        </div>
        <div class="col-lg-4 col-12"> 
            {{> components/sbthemes/module/sb_extraslider/default status=true products= products.featured moduleId=2 row=4 columns=1 dots=true arrows=false banner="no" class_sfx="blockExtraslider--left clearfix" }}   
        </div>
        <div class="col-lg-4 col-12"> 
            {{> components/sbthemes/module/sb_extraslider/default status=true products= products.top_sellers moduleId=1 row=4 columns=1 dots=true arrows=false banner="no" class_sfx="blockExtraslider--left clearfix" }}   
        </div>
    </div>
    
{{else if   section '==' 'section9'}}   
    {{> components/sbthemes/module/sb_brand/default status=true prefix="static_brand" column1=6 limitation=9 }}      

    {{> components/sbthemes/module/sb_latest_blog/home2 status=true blogs= blog.recent_posts columns=3 dots=true arrows=false limitation=5 show_desc="no" hide_heading=false}}
    

{{/if}}
