{{!--
===============================================================================
Show Section Slideshow - Home 01
===============================================================================
--}}
<div class="section-slideshow clearfix">
	<div class="container" >
		<div class="row">
			
			<div class="col-xl-10 col-lg-12 col-sm-12 offset-xl-2 offset-lg-3 block-slideshow">
				<div class="row">
					
					<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12  col_qavo block-slideshow__left">
						 {{> components/sbthemes/carousel}}
					</div>
					
					<div class="col-xl-3 d-none d-xl-block  block-slideshow__right">
						{{> components/sbthemes/module/sb_banner/banner status=true prefix="slideshow" showContent=false limitation=2 class_sfx=""}}
					</div>
					
				</div>
			  
			</div>
		</div>
		
	</div>
</div>
 