{{!--
===============================================================================
Show Section Slideshow - Home 03
===============================================================================
--}}
<div class="section-slideshow clearfix">
	<div class="container">
		<div class="main-border clearfix">
			<div class="row">
				<div class="sb-loadeding"></div>
				<div class="col-xl-3 col-lg-3 col-12 col-left">
					{{> components/sbthemes/module/sb_megamenu/default status=true  display_mode="vertical" limit_item=9 }}
				</div>
				<div class="col-xl-9 col-lg-9 col-12 col-right">
					{{> components/sbthemes/carousel}}
				</div>
			</div>
		</div>
	</div>
</div>
 