{{!--
===============================================================================
Show Section Slideshow - Home 04
===============================================================================
--}}
<div class="section-slideshow clearfix">
	<div class="container" >
		<div class="row">
			<div class="col-xl-3 col1"></div>
			<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col2">
				{{> components/sbthemes/carousel}}
			</div>
		</div>
	</div>
</div>
 