{{!--
===============================================================================
Show Section Slideshow - Home 01
===============================================================================
--}}
<div class="section-tags d-none d-lg-block">
	<div class="container">
	    {{> components/sbthemes/module/sb_menu/home2 status=true prefix="h2_menu_tags" limitation=13 icon-fontawesome="" class_sfx=" " }}
		
	</div>
</div>
<div class="section-slideshow">
	
	{{> components/sbthemes/carousel}}
	
</div>
