
<div class="productsByCategoryTabs-products--carousel {{#if theme_settings.general_rtl '==' 'rtl' }}dir-rtl{{/if}}">
	<section class="productCarousel products-list"
	    {{#if category.products }}
		data-slick='{
	        "dots": false,
	        "arrows": false,
	        "infinite": false,
	        "mobileFirst": true,
	        "slidesToShow": 1,
	        "slidesToScroll": 1,
	        "responsive": [
	            {
	                "breakpoint": 1260,
	                "settings": {
	                    "slidesToScroll": 1,
	                    "slidesToShow": {{theme_settings.homepage_listingtabs_column}}
	                }
	            },
				{
					"breakpoint": 991,
					"settings": {
						"slidesToScroll": 1,
						"slidesToShow": 3
					}
				},
				{
					"breakpoint": 575,
					"settings": {
						"slidesToScroll": 1,
						"slidesToShow": 3
						
					}
				},
				{
					"breakpoint": 400,
					"settings": {
						"slidesToScroll": 1,
						"slidesToShow": 2
						
					}
				},
				{
					"breakpoint": 0,
					"settings": {
						"slidesToScroll": 1,
						"slidesToShow": 1,
						"arrows": false
					}
				}
	        ]
	    }'
		{{/if}}
	>
		
	    {{#if category.products }}
			
			{{#forEach (limit category.products theme_settings.homepage_listingtabs_count)}}
				
				<div class="productCarousel-slide product-layout product-grid">
				
					{{> components/sbthemes/products/card_listing
						show_rating=../theme_settings.show_product_rating
						alternate=../alternate
						theme_settings=../theme_settings customer=../customer}}
						
				
				</div>
				

			{{/forEach}}
		{{else}}
			<div class="alert alert-info" role="alert" style="margin:30px">
				<i class="fa fa-info-circle"></i> 
			   {{{lang 'sb_themes.sb_listing_tabs.noItem' }}}
			</div>
		{{/if}}
	</section>
</div>

