{{!--
Arguments:
    - category_id (number)
    - style (string): CSS class styling suffix
    - banner
    - url
    - alignBanner


Global variables:
    - categories (array)

--}}


{{#if category_id '!==' ' '}}
{{#withHash
    categories               = categories
    category_id              = category_id
    alignBanner               = alignBanner
    display_mode               = display_mode
    banner                   = banner
    placeholder              = placeholder
    url                      = url
    theme_settings           = theme_settings
}}

{{#each categories}}
	{{#if id '===' ../category_id}}
		{{#if (merge ../../this 
			category_name = name
			category_url = url)}}
		{{/if}}
	{{else}}
		{{#each children}}
			{{#if id '===' ../../../category_id}}
				{{#if (merge ../../../../this
					category_name = name
					category_url = url)}}
				{{/if}}
			{{/if}}
		{{/each}}
	{{/if}}
{{/each}}

		{{#if category_url}}
		<div class="sb-listing-tabs">
			<div class="ltabs-heading">
				<h3 class="block-title"><a href="{{category_url}}" title="{{category_name}}">{{category_name}}</a></h3>
				<ul class="tabs align-self-end" data-tab data-tab-sblisting role="tablist">
					<li class="tab {{#if theme_settings.homepage_listingtabs_activetab '==' 'bestselling'}} is-active {{/if}}" role="presentation"><a class="tab-title" href="#tab-sblisting-bestselling-{{category_id}}" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-sblisting-bestselling-{{category_id}}">{{lang 'sb_themes.sb_listing_tabs.bestselling' }}</a></li>
					<li class="tab {{#if theme_settings.homepage_listingtabs_activetab '==' 'featured'}} is-active {{/if}}" role="presentation"><a class="tab-title" href="#tab-sblisting-featured-{{category_id}}" role="tab" tabindex="0" aria-selected="false" aria-controls="tab-sblisting-featured-{{category_id}}">{{lang 'sb_themes.sb_listing_tabs.featured' }}</a></li>
					<li class="tab {{#if theme_settings.homepage_listingtabs_activetab '==' 'new'}} is-active {{/if}}" role="presentation"><a class="tab-title" href="#tab-sblisting-new-{{category_id}}" role="tab" tabindex="0" aria-selected="false" aria-controls="tab-sblisting-new-{{category_id}}">{{lang 'sb_themes.sb_listing_tabs.new' }}</a></li>
					<li class="tab {{#if theme_settings.homepage_listingtabs_activetab '==' 'reviews'}} is-active {{/if}}" role="presentation"><a class="tab-title" href="#tab-sblisting-reviews-{{category_id}}" role="tab" tabindex="0" aria-selected="false" aria-controls="tab-sblisting-reviews-{{category_id}}">{{lang 'sb_themes.sb_listing_tabs.reviews' }}</a></li>
				</ul>
			</div>
			<div class="ltabs-container d-flex">
				{{#if alignBanner '==' 'left'}}
				<div class="ltabs-items-image">
					<div class="banners" {{#if theme_settings.general_fadeimage}}data-fade-image data-size-image{{/if}} >
						<div class="banner-figure">
							{{#if banner '!=' ' '}}
								<a href="{{url}}" title="{{category_name}}"><img class="img-fluid" src="{{cdn banner}}" alt="{{category_name}}" /></a>
							{{else}}
								<a href="{{url}}" title="{{category_name}}"><img class="img-fluid" src="{{cdn placeholder}}" alt="{{category_name}}"  /></a>
							{{/if}}
						</div>
					</div>
				</div>
				{{/if}}
				
				{{#if alignBanner '==' 'no'}}
				<div class="ltabs-items-container ltabs-items-container--noimage">
				{{else}}
				<div class="ltabs-items-container ltabs-items-container--image">
				{{/if}}
					
					<section role="tabpanel" aria-hidden="false" class="tab-content {{#if theme_settings.homepage_listingtabs_activetab '==' 'bestselling'}} is-active {{/if}}" id="tab-sblisting-bestselling-{{category_id}}" 
						data-items-sblisting="{{concat category_url '?sort=bestselling'}}"
						{{#if display_mode '==' 'default2'}} data-urltemplate="sbthemes/module/sb_listing_tabs/home2_2/default_items"
						{{else}} data-urltemplate="sbthemes/module/sb_listing_tabs/home2_2/default_items" {{/if}}
					>
						
						{{> components/sbthemes/module/sb_listing_tabs/home2_2/product-loading }}
					</section>
					
					<section role="tabpanel" aria-hidden="true" class="tab-content {{#if theme_settings.homepage_listingtabs_activetab '==' 'featured'}} is-active {{/if}}" id="tab-sblisting-featured-{{category_id}}" 
						data-items-sblisting="{{concat category_url '?sort=featured'}}"
						{{#if display_mode '==' 'default2'}} data-urltemplate="sbthemes/module/sb_listing_tabs/home2_2/default_items"
						{{else}} data-urltemplate="sbthemes/module/sb_listing_tabs/home2_2/default_items" {{/if}}
					>
						{{> components/sbthemes/module/sb_listing_tabs/home2_2/product-loading }}
					</section>
					
					<section role="tabpanel" aria-hidden="true" class="tab-content {{#if theme_settings.homepage_listingtabs_activetab '==' 'new'}} is-active {{/if}}" id="tab-sblisting-new-{{category_id}}" 
						data-items-sblisting="{{concat category_url '?sort=newest'}}"
						{{#if display_mode '==' 'default2'}} data-urltemplate="sbthemes/module/sb_listing_tabs/home2_2/default_items"
						{{else}} data-urltemplate="sbthemes/module/sb_listing_tabs/home2_2/default_items" {{/if}}	
					>
						{{> components/sbthemes/module/sb_listing_tabs/home2_2/product-loading}}
					</section>
					
					<section role="tabpanel" aria-hidden="true" class="tab-content {{#if theme_settings.homepage_listingtabs_activetab '==' 'reviews'}} is-active {{/if}}" id="tab-sblisting-reviews-{{category_id}}" 
						data-items-sblisting="{{concat category_url '?sort=avgcustomerreview'}}"
						{{#if display_mode '==' 'default2'}} data-urltemplate="sbthemes/module/sb_listing_tabs/home2_2/default_items"
						{{else}} data-urltemplate="sbthemes/module/sb_listing_tabs/home2_2/default_items" {{/if}}
					>
						{{> components/sbthemes/module/sb_listing_tabs/home2_2/product-loading }}
					</section>
				</div>
				
				{{#if alignBanner '==' 'right'}}
				<div class="ltabs-items-image">
					<div class="banners" {{#if theme_settings.general_fadeimage}}data-fade-image data-size-image{{/if}} >
						<div class="banner-figure">
							{{#if banner '!=' ' '}}
								<a href="{{url}}" title="{{category_name}}"><img  class="img-fluid" src="{{cdn banner}}" alt="{{category_name}}" /></a>
							{{else}}
								<a href="{{url}}" title="{{category_name}}"><img class="img-fluid" src="{{cdn placeholder}}" alt="{{category_name}}"  /></a>
							{{/if}}
						</div>
					</div>
				</div>
				{{/if}}
			</div>
		</div>
		{{else}}
			<div class="alert alert-info" role="alert" style="margin:0px">
				<i class="fa fa-info-circle"></i> 
			   {{{lang 'sb_themes.sb_listing_tabs.noCategory' }}}
			</div>
		{{/if}}

{{/withHash}}
	

{{/if}}
