{{!--
Arguments:
    - category_id (number)
    - style (string): CSS class styling suffix
    - banner
    - url
    - alignBanner


Global variables:
    - categories (array)

--}}


{{#if category_id '!==' ' '}}
{{#withHash
    categories               = categories
    category_id              = category_id
    alignBanner               = alignBanner
    display_mode               = display_mode
    banner                   = banner
    placeholder              = placeholder
    url                      = url
    theme_settings           = theme_settings
}}

{{#each categories}}
	{{#if id '===' ../category_id}}
		{{#if (merge ../../this 
			category_name = name
			category_url = url)}}
		{{/if}}
	{{else}}
		{{#each children}}
			{{#if id '===' ../../../category_id}}
				{{#if (merge ../../../../this
					category_name = name
					category_url = url)}}
				{{/if}}
			{{/if}}
		{{/each}}
	{{/if}}
{{/each}}

{{#if category_url}}
	<div class="block-products">
		<div class="contain">
			<h3 class="modtitle">
				<span>{{category_name}}</span>
			</h3>

			<div class="pre-text">
				<a href="{{category_url}}" title="{{category_name}}">{{lang 'sb_themes.home4_sb_listing_tabs.view_all'}}</a>
			</div>
		</div>
		<div class="block-product-items" data-items-sblisting="{{concat category_url '?sort=bestselling'}}"
			 data-urltemplate="sbthemes/module/sb_listing_tabs/home4/default_items"
		>
			{{> components/sbthemes/module/sb_listing_tabs/default/product-loading }}
		</div>
	</div>
{{else}}
	<div class="alert alert-info" role="alert" style="margin:0px">
		<i class="fa fa-info-circle"></i> 
	   {{{lang 'sb_themes.sb_listing_tabs.noCategory' }}}
	</div>
{{/if}}

{{/withHash}}
	

{{/if}}
