{{!--
Arguments:
	- category_id (number):  is the number is category ID.
	- moduleId (number): section instance index number
	- class_sfx (string): Use for CSS class styling suffix
--}}

{{#if status }}
<div class="module clearfix {{class_sfx}}">

	<ul class="spcat--category--all"
		data-slick='{
                    "dots": false,
                    "infinite": false,
                    "mobileFirst": true,
                    "slidesToShow": 1,
                    "slidesToScroll": 1,
                    "arrows": true,
                    "responsive": [
                        {
                            "breakpoint": 1200,
                            "settings": {
                                "slidesToScroll": 1,
                                "slidesToShow": {{theme_settings.home4_sb_super_category_column}}
                            }
                        },
                        {
                            "breakpoint": 992,
                            "settings": {
                                "slidesToScroll": 1,
                                "slidesToShow": 3
                            }
                        },
                        {
                            "breakpoint": 768,
                            "settings": {
                                "slidesToScroll": 1,
                                "slidesToShow": 2

                            }
                        },
                        {
                            "breakpoint": 350,
                            "settings": {
                            "slidesToScroll": 1,
                            "slidesToShow": 2					}
                        },
                        {
                            "breakpoint": 0,
                            "settings": {
                                "slidesToScroll": 1,
                                "slidesToShow": 1,
                                "arrows": false
                            }
                        }
                    ]
                }'
	>
		{{#if limitation '>' 1}}
			{{#for  limitation }}



				{{#each ../categories}}
					{{#if id '===' (lang (concat (concat 'sb_themes.home4_sb_supper_category.category_' $index) '.id'))}}
						<li>
							<div class="sb-categories__thumb">
								<a href="{{url}}" title="category_name" target="_blank" class="sub-cate-img">
									<img class="card-image lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="{{getImage image 'sb_category_size' (cdn ../../../theme_settings.default_image_product)}}" alt="{{name}}" title="{{name}}">
								</a>
								<a class="sub-cate-name" href="{{url}}">{{name}}</a>
							</div>
						</li>
					{{/if}}
				{{/each}}
			{{/for}}
		{{/if}}

	</ul>
</div>
{{/if}}
