{{#if status }}
<article class="collapsed-block {{class_sfx}}" data-section-type="footer-webPages">
	
	{{#if horizontal '==' 'true'}}
    <ul class="footer-info-list list-inline">
	{{else}}
	<ul class="footer-info-list">
	{{/if}}
	{{#if limitation '>' 1}}
		{{#for limitation}}
			{{> components/sbthemes/module/sb_menu/default-item 
				menu_info = (concat (concat (concat 'sb_themes.' ../prefix) '.row_' ) $index) 
				horizontal =  ../horizontal
			}}
		{{/for}}
	    {{/if}}
    </ul>
</article>
{{/if}}
