// =============================================================================
// FOOTER (CSS)
// =============================================================================


// Layout and columns
// -----------------------------------------------------------------------------
//
// 1. To enable the grid's display: inline-block; to work properly, we need to
//    remove the white-space that it creates between columns with font-size: 0;
// 2. Re-set the font-size that was reduced to 0 in point 1 for children.
//
// -----------------------------------------------------------------------------

.footer {
    background: #f0f0f0; margin-top:30px; 
}
.footer-top{
    background: $color-primary;
    padding: 18px 0 19px;
    
}
.footer-bottom{
    background-color: #3b3b3b;
    text-align: center;
    padding: 22px 0;
    color: #7d7d7d;
    a:hover{color:white;}
}
.footer-center{ 
    
    .footer-center__first{padding: 45px 0 20px;}
    .footer-center__two{border-top: 1px solid #e0e0e0;padding: 30px 0;
        .footer-info-heading{margin-bottom: 0;}
    }
}


.footer-info-col--social {
    
        @include breakpoint(medium) {
        flex-basis: unset;
    }
    .media{margin-bottom:15px;}
    > p{padding-right: 30px;}
}



// Content
// -----------------------------------------------------------------------------

div.sb-banner--services{ margin-bottom: 0;
    .banners{  color: #fff;    border-#{$left}: 1px solid rgba(255,255,255,.3);    width: 25%;   padding-#{$left}: 25px;
        &:first-child{border:none;  padding-left: 0px;
            .fa{padding-left: 0;}
        }
        .banner-figure{
            float: $left;
            font-size: 32px;
            padding-top: 1px;
            color: #fff;
            padding-#{$right}: 15px;
            line-height: 36px;
        }
        .banner-figcaption{
            color: #fff; 
            text-align: $left;
            overflow: hidden;
            margin:0;
           
        }
        .banner-figcaption__title{
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 600;
            margin: 0 0 5px 0;
            color: #fff;
        }
        .banner-figcaption__text{margin:0;}
    }
}

.footer-info-heading {
    font-size: 15px;
    font-weight: bold;
    border: none;
    color: #222;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}


.footer-info-list {
    list-style: none;
    margin: 0 0 30px;
    li{padding: 5px 0;
        a {
            display:inline-block;
            @include linkGray();
            transition: all 0.3s ease 0s;
            
            &:before{
                content: if-ltr('\f105', '\f104');
                font-family: $FontAwesome;
                font-size: 14px;
                margin-#{$right}: 8px;
                @include if-rtl {
                    float: right;
                }
            }

            &:hover{padding-#{$left}: 10px;}
        }
    }
    
}

.footer-info{
    address{padding-#{$left}: 40px;line-height: 25px; min-height: 32px;
        > i{position: absolute;z-index: 2; transform: translateX(#{if-ltr('-40px','40px')});
            width: 30px;
            height: 30px;
            background-color: #9d9d9d;
            color: #fff;
            line-height: 31px;
            font-size: 16px;
            text-align: center;
            float: $left;
            border-radius: 3px;
            margin-#{$right}: 10px;
        }
    }
}
.footer-socials .socialLinks{padding: 0 15px;
    .socialLinks-item{
        width: 34px;
        height: 34px;
        text-align: center;
        line-height: 34px;
        background-color: #fff;
        border-radius: 50%;
        margin-bottom: 0;
        margin-#{$right}:5px;
        &:hover{background-color: $color-primary;
            svg{fill: white;}
        }
        
        .icon{width: 1.3rem; height: 1.3rem;}
    }
}
.footer-newsletter{
    .form{margin: 0;}
    .form-field{margin: 0; padding: 0 25px;}
    .input-group {width:500px; margin:0 auto;
        
        .form-control,.button--primary{margin-bottom:0; min-height: 42px;}
        .form-control{border-radius: corner-values(2px 0 0 2px);}
        .button--primary{border-radius: corner-values(0 20px 20px 0); background: $color-primary; border-color: $color-primary;
            &:hover{background-color: darken($color-primary,15%); border-color: darken($color-primary,15%)};

        }
    }
    .button--primary{font-weight: 600;text-transform: uppercase; min-width: 120px;}
}

.footer-copyright {
    > .powered-by {
        font-size: fontSize("base");
        margin: 0;
    }

   
}

.custom_categories{
    border-top: 1px solid #e0e0e0;
    text-align: center;
    width: 100%;
    clear: both;
    padding: 20px 0 0px 0;
    .navPages{text-align: center;}
    ul.navPages-list{text-align: center; width: auto !important;
        > li.navPages-item {
            .navPage-subMenu,.icon{display: none;}
            a{@include linkGrayDark();}
        }
    }
    
}
.footer-payment-icons {
    height: remCalc(40);
    .footer-payment-icon {
        height: 100%;
        margin: spacing("quarter");
        vertical-align: middle;
        width: remCalc(35);
    }

    svg {
        fill: #888888;
        margin:0 10px;
    }
}

.footer-geotrust-ssl-seal {
    @include breakpoint("small") {
        bottom: 0;
        position: absolute;
        right: 16px;
    }

    table {
        margin: auto;
    }
}

.expander {display: none;}
@media only screen and (max-width: 992px){
    .collapsed-block{
        .footer-info-heading{border-bottom: 1px solid #e2e2e2;    padding-bottom: 15px; margin-bottom: 15px;}
        .expander {display: inline-block; float: $right;color: #adadad; font-size: 22px;
            
        }
        .footer-info-heading.open .fa:before{content: "\f139";}
        .footer-info-list{display: none;}
    }
}
