// =============================================================================
// FOOTER (CSS)
// =============================================================================


// Layout and columns
// -----------------------------------------------------------------------------
//
// 1. To enable the grid's display: inline-block; to work properly, we need to
//    remove the white-space that it creates between columns with font-size: 0;
// 2. Re-set the font-size that was reduced to 0 in point 1 for children.
//
// -----------------------------------------------------------------------------
.home4--style .back-to-top{
    position: static;
    width: 100%;
    font-size: 16px;
    font-weight: 700; color: #fff;
    background-color: #0b79bf;
    line-height: 46px;
    text-transform: uppercase;
    border-radius: 0;
    text-align: center;
    span{
        &:after,
        &:before{
            display: inline-block;
            background: url(../img/id16-icon-image.png) no-repeat -372px -27px;
            margin: 0 20px;
            content: '';
            width: 11px;
            height: 15px;
            position: relative;
            top: 1px;
        }
    }
    &:hover{
        opacity: 0.8;
        cursor: pointer;
    }
}

.typefooter-16{
    margin-top: 0px !important;
    padding-top: 60px;
    background-color: #2f4e6d;
    color: #bec5cd;
    .container{
        padding: 0 15px;
    }


    /* GENERAL */
    .collapsed-block .footer-info-heading{
        color: #fff;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 15px;
        margin-top: 0;
        font-weight: 700;
        text-transform: uppercase;
        .expander {
            display: none;
        }
    }
    .footer-center{
        padding-top: 45px;
    }
    .collapsed-block{
        ul.footer-info-list {
            li{
                a{
                    border: 0 none;
                    font-size: 14px;
                    padding: 0;
                    font-weight: 400;
                    position: relative;
                    display: inline-block;
                    color: #bec5cd;
                    line-height: 32px;
                    &:hover {
                        color: $background;
                    }
                }
            }
        }
    }

    .newsletter-footer11{
        .newsletter-block-title {
            .footer-info-heading {
                color: #fff;
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 15px;
                margin-top: 0;
                font-weight: 700;
                text-transform: uppercase;   ;
            }
            .des {
                font-size: 14px;
            }
        }
        form.newsletter-block-content{
                display: block;
                margin-bottom: 0;
                margin-top: 15px;
                .form-fieldset{
                    position: relative;
                    .form-input{
                        background-color: rgba(255,255,255,0.2);
                        vertical-align: top;
                        border-radius: 0;
                    }
                    .input-group-btn{
                        position: absolute; top: 0; #{$right}: 0;
                    }

                    .form-input{
                        height: 40px;
                        line-height: 40px;
                        width: 100%;
                        box-shadow: none;
                        padding: side-values(0 0 0 20px);
                        border: none;
                        border-radius: 0;
                        background-color: rgba(255,255,255,0.2);
                        &::-moz-placeholder {
                            color: #fff;
                            opacity: 1;
                        }
                        &:-ms-input-placeholder { color: #fff; }
                        &::-webkit-input-placeholder  { color: #fff; }
                        &:focus{
                            z-index: 0;
                        }
                    }
                }

                .input-group-btn .btn-primary {
                    font-size: 14px;
                    font-weight: 400;
                    text-transform: uppercase;
                    height: 40px;
                    line-height: 40px;
                    padding: 0 30px;
                    border-radius: 0;
                    background: $background;
                    border: none;

                    &:hover {
                        background: #cc7800;
                    }
                }
            }
    }

    .content-apps{
        a{
            display: inline-block;
            margin: side-values(0 20px 5px 0);
        }
        @media (min-width: 1200px) and (max-width: 1649px){
            margin: 0 -5px;
            a{
                float: $left;
                padding: 0 5px;
                width: 50%;
                margin: 0;
            }
        }
    }

    .seo-struct {
        border-top: 1px solid rgba(255,255,255,0.2);
        padding-top: 25px; padding-bottom: 25px;
        margin-top: 25px;
        ul{
            li{ display: inline-block;
                a{
                    color: #bec5cd;
                    font-size: 13px;
                    &:hover {
                        color: $background;
                    }
                }
            }
            li:not(:last-child)::after {
                content: '/';
                margin: 0 10px;
            }
        }
    }

    /* FOOTER BOTTOM */


    .footer-bottom{
        background-color: #fff;
        padding: 20px 0;
        .copyright{
            text-align: $right; color: #999;

            a {
                color: #ff9600 !important;
            }
        }
    }
}
