// =============================================================================
// FOOTER (CSS)
// =============================================================================


// Layout and columns
// -----------------------------------------------------------------------------
//
// 1. To enable the grid's display: inline-block; to work properly, we need to
//    remove the white-space that it creates between columns with font-size: 0;
// 2. Re-set the font-size that was reduced to 0 in point 1 for children.
//
// -----------------------------------------------------------------------------

.footer {
    background: #fff; margin-top:30px; 
}
.footer-top{
    background: $color-primary;;;
    padding: 20px 0;
    @media (min-width: 1200px){
        padding: 30px 0;
    }
}
.footer-bottom{
    padding: 10px 0;
    color: #222222;
    border-top: 1px solid #ebebeb;
    a:hover{color:white;}
    .footer-copyright{
        line-height: 45px;
        @media (max-width: 440px){
            line-height: 20px;
        }
    }
    .footer-payment-icons {
        @media (max-width: 767px){
            text-align: center;
        }    
        text-align: $right;
            margin-top: 8px;
        .footer-payment-icon{
            margin: 0 5px;
            &:last-child{
                margin-#{$right}: 0;
            }
        }
    }
}
.footer-center{ 
    
    .footer-center__first{
        padding: 15px 0 0;
        @media (min-width: 992px){
            padding: 35px 0 0;
        }
    }

    .footer-center__two{border-top: 1px solid #e0e0e0;padding: 20px 0;
        @media (min-width: 992px){
            padding: 30px 0;
        }
        .footer-info-heading{margin-bottom: 0;}
    }
}


.footer-info-col--social {
    @include breakpoint(medium) {
        flex-basis: unset;
    }
    .media{margin-bottom:15px;}
    > p{padding-right: 30px;}
}

@media (min-width: 1400px){
    .footer-menu {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 53%;
        flex: 0 0 53%;
        max-width: 53%;
    }
}

// Content
// -----------------------------------------------------------------------------



.footer-info-heading {
    
    color: #222;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 0 15px;
    padding: 10px 0 7px;
    position: relative;
    @media (min-width: 992px){
        margin: 0 0 28px;
    }
    &:before {
        position: absolute;
        content: "";
        width: 60px;
        height: 2px;
        #{$left}: 1px;
        bottom: 0;
        background: $color-primary;;
    }
}


.footer-info-list {
    list-style: none;
    @media (min-width: 1200px){ margin: 0 0 30px; }
    margin: 0 0 15px;
    li{
        a {
            @include linkGray();
            transition: all 0.3s ease 0s;
            border: 0 none;
            font-size: 14px;
            padding: 0;
            font-weight: 400;
            line-height: 30px;
            position: relative;
            padding-#{$left}: 20px;
            display: inline-block;
            &:before{
                font-family: 'FontAwesome';
                content: "\f192";
                font-size: 8px;
                position: absolute;
                top: 0px;
                #{$left}: 0;
            }
        }
    }
    
}

.footer-info{
    .module{
        margin-bottom: 20px;
    }
    ul li {
        
        list-style: outside none none;
        padding: side-values(8px 0 8px 0px);
        text-transform: capitalize;
        .fa { margin-right:10px;width:16px; font-size: 17px;}
        
    }
}
.logo .module{ margin: 0; }
.footer-socials{
    @media (min-width: 1400px){
        -webkit-box-flex: 0;
    -ms-flex: 0 0 22%;
    flex: 0 0 22%;
    max-width: 22%;
    }
    .socialLinks{line-height: 24px;     text-align: $right;
        .socialLinks-item{
            position: relative;
            display: inline-block;
            margin: 0;
            &:first-child{
                padding: 0;
                margin: 0;
                &:before {
                    display: none;
                }
            }
            a{
                width: 35px;
                height: 35px;
                line-height: 35px;
                text-align: center;
                border-radius: 50%;
                background-color: rgba(0,0,0,0.2);
                display: inline-block;
                margin-#{$left}: 7px;
                color: #fff;
                font-size: 14px;
                text-transform: capitalize;
                i {
                    display: inline-block;
                    font-size: 14px;
                }
                &:hover{ background: #fff; color: $background; }
               span{ display: none;}
              
            }
        }
    }
}
.footer-newsletter{
    .footer-newsletter__inner{
        padding: 30px 0;
        border-top: 1px solid #ebebeb;
        width: 100%;
    }
    .newsletter-block-content{
        width: 100%;
        @media(min-width: 992px){
            width: 60%;
            float: $left;
        }
        position: relative;
    }
    .newsletter-block-title{
        position: relative;
        width: 40%;
        float: $left;
        @media(min-width: 1200px){
            padding-#{$left}: 68px;
            &:before {
            font-family: 'FontAwesome';
            content: "\f1d9";
            font-size: 28px;
            position: absolute;
            top: 0;
            #{$left}: 0;
            line-height: 100%;
            color: #222;
            @media(min-width: 1200px){
                font-size: 40px;
            }
        }
        } 
        
    }
    .footer-info-heading{
        margin: 0;
        line-height: 20px;
        font-weight: 700;
        text-transform: capitalize;
        font-size: 18px;
        color: #222;
        display: block;
        padding: 0;
        &:before{ display: none; }
        @media (min-width: 1200px){
            font-size: 24px;
        }
    }
    p.des{
        margin: 3px 0 0;
        font-weight: 400;
        font-size: 14px;
        color: #999;
    }
    .form{margin: 0;}
    .form-field{margin: 0;}
    .input-group { margin:0 auto;
        .form-control,.button--primary{
            margin-bottom:0;
            height: 35px;
            line-height: 35px;
            @media (min-width: 1200px){
                height: 50px;
                line-height: 50px;
            }
        }
        .form-control{
            border-radius: corner-values(2px 0 0 2px);
            height: 35px;
            line-height: 35px;
            
            @media (min-width: 1200px){
                height: 50px;
                line-height: 50px;
                padding:  side-values(0 0 0 20px);
            }
        }
        .button--primary{border-radius: corner-values(0 2px 2px 0); background: $color-primary; border-color: $color-primary; padding: 0;
            &:hover{background-color: darken($color-primary,15%); border-color: darken($color-primary,15%)};

        }
    }
    .button--primary{font-weight: 600;text-transform: uppercase; min-width: 120px;}
}

.footer-copyright {
    > .powered-by {
        font-size: fontSize("base");
        margin: 0;
        a{ color: $background; }
        @media (max-width: 767px){
            font-size:12px;
        }
    }

   
}

.custom_categories{
    float: $right;
    padding-top: 8px;
    .footer-info-heading{ display: none; }
    .footer-info-list{ margin: 0 0 0; }
    li {
        display: inline-block;
        margin-bottom: 0px;
        position: relative;
        vertical-align: top;
        padding: 0 7px;
        line-height: 100%;
        @media (min-width: 992px){    padding: 0 15px;}
        &:last-child{
            &:before{ display: none; }
        }
        a{
            &:before{ display: none; }
            line-height: 100%;
            padding: 0;
            color: #fff;
            text-transform: capitalize;
            font-weight: normal;
            padding: 0!important;
        }
    }
}
.sb-instagram-gallery{
    margin: 0 -5px;
    display: block;
    overflow: hidden;
    .instagram-item{
        float: left;
        margin-bottom: 10px;
        padding: 0 5px;
        position: relative;
        width: 25%;
        webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
        &:first-child {
            width: 50%;
            webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
        }
        img:hover{ opacity: 0.7; }
    }
}
.payment-footer{
    display: inline-block;
    .module{
        margin: 0;
    }
}
.expander {display: none;}
@media only screen and (max-width: 992px){
    .collapsed-block{
        .footer-info-heading{
            border: 1px solid #e2e2e2;
            margin-bottom: 15px;
            padding: 0px 15px;
            border-radius: 3px;
            background: #eee;
            line-height: 36px;
            &:before{ display: none; }
        }
        .expander {display: inline-block; float: $right;color: #adadad; font-size: 22px;
            
        }
        .footer-info-heading.open .fa:before{content: "\f139";}
        .sb-instagram-gallery,
        .footer-info-list{display: none;}
    }
}
@media (max-width: 991px){
    .footer-center__two{
        text-align: center;
        .logo .block-content{
            margin: 0 auto 10px;
            display: inline-block!important;
        }
    }
    .custom_categories{ float: none; }
}