// =============================================================================
// FOOTER (CSS)
// =============================================================================


// Layout and columns
// -----------------------------------------------------------------------------
//
// 1. To enable the grid's display: inline-block; to work properly, we need to
//    remove the white-space that it creates between columns with font-size: 0;
// 2. Re-set the font-size that was reduced to 0 in point 1 for children.
//
// -----------------------------------------------------------------------------

.footer {
    background: #fff; margin-top:30px; 
}
.footer-top{
    background: #232f3e;
    padding: 20px 0 10px;
    @media (min-width: 1200px){
        padding: 51px 0 50px;
    }
}
.footer-bottom{
    background-color: #232f3e;
    text-align: center;
    padding: 22px 0;
    color: #fff;
    @media (max-width: 767px){
        padding: 10px 0;
    }
    a:hover{color:white;}
}
.footer-center{ 
    
    .footer-center__first{
        padding: 15px 0 10px;
        @media (min-width: 992px){
            padding: 45px 0 20px;
        }
    }
    .footer-center__two{border-top: 1px solid #e0e0e0;padding: 20px 0;
        @media (min-width: 992px){
            padding: 30px 0;
        }
        .footer-info-heading{margin-bottom: 0;}
    }
}


.footer-info-col--social {
    @include breakpoint(medium) {
        flex-basis: unset;
    }
    .media{margin-bottom:15px;}
    > p{padding-right: 30px;}
}



// Content
// -----------------------------------------------------------------------------



.footer-info-heading {
    
    color: #222;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 0 15px;
    padding: 10px 0 7px;
    position: relative;
    @media (min-width: 992px){
        margin: 0 0 28px;
    }
    &:before {
        position: absolute;
        content: "";
        width: 60px;
        height: 2px;
        #{$left}: 1px;
        bottom: 0;
        background: $color-primary;;
    }
}


.footer-info-list {
    list-style: none;
    @media (min-width: 1200px){ margin: 0 0 30px; }
    margin: 0 0 15px;
    li{
        a {
            @include linkGray();
            transition: all 0.3s ease 0s;
            border: 0 none;
            font-size: 14px;
            padding: 0;
            font-weight: 400;
            line-height: 30px;
            position: relative;
            padding-#{$left}: 20px;
            display: inline-block;
            &:before{
                font-family: 'FontAwesome';
                content: "\f192";
                font-size: 8px;
                position: absolute;
                top: 0px;
                #{$left}: 0;
            }
        }
    }
    
}

.footer-info{
    .module{
        margin-bottom: 20px;
    }
    ul li {
        
        list-style: outside none none;
        padding: side-values(8px 0 8px 0px);
        text-transform: capitalize;
        .fa { margin-right:10px;width:16px; font-size: 17px;}
        
    }
}
.footer-socials .socialLinks{line-height: 24px;     text-align: $right;
    .socialLinks-item{
        @media (min-width: 1200px){
            padding-#{$left}: 18px;
            margin-#{$left}: 18px;
        }
        position: relative;
        display: inline-block;
        padding-#{$left}: 0px;
        margin:corner-values(0 0 0 5px);
        &:first-child{
            padding: 0;
            margin: 0;
            &:before {
                display: none;
            }
        }
        @media (min-width: 1200px){
            &:before {
                background: rgba(255,255,255,0.5) none repeat scroll 0 0;
                content: "";
                height: 10px;
                position: absolute;
                #{$left}: 0;
                top: 6px;
                width: 1px;
            }
        }
        a{
            color: #fff;
            font-size: 14px;
            text-transform: capitalize;
            i {
                display: inline-block;
                font-size: 16px;
                margin-#{$right}: 8px;
            }
            &:hover{ color: $background; }
            @media (max-width: 1199px){
                span{ display: none;}
            }
        }
    }
}
.footer-newsletter{
    .newsletter-block-content{
        width: 100%;
        @media(min-width: 992px){
            padding-#{$left}: 50px;
            width: 60%;
        }
        position: relative;
    }
    .newsletter-block-title{
        padding-#{$left}: 40px;
        position: relative;
        width: 40%;
        @media(min-width: 1200px){
            padding-#{$left}: 68px;
        } 
        &:before {
            font-family: 'FontAwesome';
            content: "\f1d9";
            font-size: 28px;
            position: absolute;
            top: 15px;
            #{$left}: 0;
            line-height: 100%;
            color: #fff;
            @media(min-width: 1200px){
                font-size: 40px;
            }
        }
    }
    .footer-info-heading{
        margin: 0;
        line-height: 20px;
        font-weight: 700;
        text-transform: capitalize;
        font-size: 18px;
        color: #fff;
        display: block;
        padding: 0;
        &:before{ display: none; }
        @media (min-width: 1200px){
            font-size: 24px;
            padding: 10px 0 7px;
        }
    }
    p.des{
        margin: 3px 0 0;
        font-weight: 400;
        font-size: 14px;
        color: #fff;
    }
    .form{margin: 0;}
    .form-field{margin: 0;  @media (min-width: 1200px){padding: 0 25px;}}
    .input-group { margin:0 auto;
        @media (min-width: 1200px){width:600px;}
        .form-control,.button--primary{
            margin-bottom:0;
            height: 35px;
            line-height: 35px;
            @media (min-width: 1200px){
                height: 50px;
                line-height: 50px;
            }
        }
        .form-control{
            border-radius: corner-values(2px 0 0 2px);
            height: 35px;
            line-height: 35px;
            
            @media (min-width: 1200px){
                height: 50px;
                line-height: 50px;
                padding:  side-values(0 0 0 20px);
            }
        }
        .button--primary{border-radius: corner-values(0 2px 2px 0); background: $color-primary; border-color: $color-primary; padding: 0;
            &:hover{background-color: darken($color-primary,15%); border-color: darken($color-primary,15%)};

        }
    }
    .button--primary{font-weight: 600;text-transform: uppercase; min-width: 120px;}
}

.footer-copyright {
    > .powered-by {
        font-size: fontSize("base");
        margin: 0;
        a{ color: $background; }
        @media (max-width: 767px){
            font-size:12px;
        }
    }

   
}

.custom_categories{
    border-top: 1px solid #ebebeb;
    padding: 20px 0 10px;
    margin-top: 10px;
    text-align: center;
    @media (min-width: 1200px){
        padding: 50px 5% 15px 5%;
        margin-top: 27px;
    }
    .footer-info-heading{ display: none; }
    .footer-info-list{ margin: 0 0 15px; }
    li {
        display: inline-block;
        margin-bottom: 10px;
        position: relative;
        vertical-align: top;
        padding: 0 7px;
        line-height: 100%;
        @media (min-width: 992px){    padding: 0 15px;}
        &:before {
            background: #666 none repeat scroll 0 0;
            content: "";
            height: 10px;
            position: absolute;
            right: 0;
            top: 2px;
            width: 1px;
        }
        &:last-child{
            &:before{ display: none; }
        }
        a{
            &:before{ display: none; }
            line-height: 100%;
            padding: 0;
        }
    }
}
.sb-instagram-gallery{
    margin: 0 -5px;
    display: block;
    overflow: hidden;
    .instagram-item{
        float: left;
        margin-bottom: 10px;
        padding: 0 5px;
        position: relative;
        width: 25%;
        webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
        &:first-child {
            width: 50%;
            webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
        }
        img:hover{ opacity: 0.7; }
    }
}
.payment-footer{
    display: inline-block;
    .module{
        margin: 0;
    }
}
.expander {display: none;}
@media only screen and (max-width: 992px){
    .collapsed-block{
        .footer-info-heading{
            border: 1px solid #e2e2e2;
            margin-bottom: 15px;
            padding: 0px 15px;
            border-radius: 3px;
            background: #eee;
            line-height: 36px;
            &:before{ display: none; }
        }
        .expander {display: inline-block; float: $right;color: #adadad; font-size: 22px;
            
        }
        .footer-info-heading.open .fa:before{content: "\f139";}
        .sb-instagram-gallery,
        .footer-info-list{display: none;}
    }
}
