// =============================================================================
// RESPONSIVE (CSS)
// =============================================================================
@include breakpoints(xxxs){

    .sb-deals-carousel .item-left{ margin-bottom: 15px; img{ width: 100%;}}
    .page--information{
    	.tab {
		    width: 100%;
		    border: 1px solid #ddd;
		    margin-bottom: -1px;
		}
    }
    .home2--style{
    	div.sb-banner.sb-banner--feature_category{ 
            .block-content{overflow-x: scroll;     margin: 0 -5px;}
            .banners{flex: 0 0 50%!important;margin: 0 5px;}
        }
        
        div.sb-banner--home2_blockServices {
        	padding: 0;
            .block-content{  overflow-x: scroll; padding: 15px 0; }
            .banners{flex: 0 0 50%!important; }
        }
	    .footer-center__two .logo .block-content{
    	    display: block!important;
	    	.banner-figure{
	    		text-align: center;
	    	}
    	}
    }   
}
