// =============================================================================
// RESPONSIVE (CSS)
// =============================================================================
@include breakpoints(xs){
    @include scrollbars(.3em, $gray-lighter, rgba(255,255,255,0.1));
   
    .modal {min-height:550px;right: auto;overflow-y: scroll;}
    .modal-body {overflow: visible;}
    .form-prefixPostfix{display: block;}
    
	/*================ HEADER  GROUP  - No Remove ===================*/
    .header-top .navUser{text-align: $left;}
	.header-bottom-left{height: 50px;}
    .header-bottom__search{padding: 0;}
    .header-bottom__cart .cart-button{margin: 0 3px;}

    /*================ HOME PAGE GROUP - Can Remove ===================*/

    .banners--top{display: none;}
    .header .navUser-section{
    	.navUser-item{float: left;}
    }
    .navbar-phone{margin-top:0px;}
    .sb-banner--buyFromus{     margin-top: 0; }
    .productView-details--bottom{ margin: 20px 0 0; }
    .productView-options .form-action {
        padding: 0;
        width: 100%;
    }
    .sb-banner--buyFromus{
        .flex-row{
            margin: 0 -5px;
            .banners {
                margin: 0 5px;
            }
        }
    }
    .extraslider--bestsell{width: 100%;}
    .flag-badges,
    .products-list .product-list .product-item-container .left-block .button-group{ display: none!important;}
     .alignBanner--right{
        div.sb-listing-tabs   .ltabs-container{border:none;border-#{$right}: 1px solid #e8e8e8 ;}
    }
    .extraslider--new{width: 100%; clear: both;}
    .extraslider--featured{width: 100%;clear: both;}
    div.sb-banner--services {padding: 15px 0 5px;
        .block-content{  overflow-x: scroll;}
        .banners{flex: 0 0 55%;}
    }
     .footer-center {
       .collapsed-block {    flex: 0 0 100%;max-width: 100%;}
    }
    .footer-info-list{margin-bottom: 30px;}
    .footer-info{width: 100%;}
    .footer-socials{    justify-content: center!important; margin-top: 15px;}
    .footer-newsletter{display: block !important;
    	.form-field{padding:10px 0 0;}
    	.input-group{width: 100%; margin: 0;}
    }
    .custom_categories{border-top: none; margin-top: 0; text-align: center;
        ul.navPages-list > li.navPages-item a{  padding: 0.28571rem 0;}
    }
    
    /*====== Home Page 2 =======*/
    .home2--style{
        div.sb-banner.sb-banner--feature_category{ 
            .block-content{overflow-x: scroll;}
            .banners{flex: 0 0 33.33%;}
        }
        
        div.sb-banner--home2_blockServices {
            .block-content{  overflow-x: scroll;}
            .banners{flex: 0 0 33.33%;}
        }
    }
    /*================ Page Category Product - No Remove ===================*/
    .modal-header-title{font-size: 16px;}
    .products-list .product-list .product-item-container {
    	.left-block{width: 100px;}
    	.right-block{padding: 0 10px;
    	 	.description,.button-group{display: none;}
    	}
        .product-card__gallery{display: none}
    }
    .products-category .products-list .product-grid,
    .products-list .product-layout{
        .button-group .compare {display: none !important;}
    }
    .pagination-list{margin-top: 1.5rem;}
    .filters-panel .list-view{float: right;}
    .product-item-container .compare{display: none;}
    .productView-options{text-align: left;}
    .productView-description .tabs-contents{padding: 10px;}
    .productView-description .tabs .tab{ width: 100%; border: none;}
    .productView-description .tabs .tab-title{ overflow: hidden;text-overflow: ellipsis; white-space: nowrap;}
    .productView-related .nav-tabs li:last-child{margin: 0;}
    .productView-related .product-grid .product-item-container{border:none;}
    .productView-options .form-action{margin-bottom: 10px;}

    /*================ Page Other - No Remove ===================*/
    .dropdown--quickSearch.is-open{   width: 100% !important;}
    .quickSearchResults .modal-close {display: block;}

    .custom_categories ul.navPages-list{ list-style: none;
        .navPages-item{ display: inline-block; padding: 0 10px; }
    }
    nav.navBar--sub ul.navBar-section li.navBar-item{width: 100%;}
    .blog-category .product-list .blog-post-figure{float: none;width: auto;}

}
