// =============================================================================
// RESPONSIVE (CSS)
// =============================================================================
@include breakpoints(sm){
    .modal {min-height:550px;right: auto; overflow-y: scroll;}
    .modal-body {overflow: visible;}
    .previewCartCheckout {width: 50%;float: right;}
    .previewCart .productView{width: 50%; float: left;}
    .form-prefixPostfix{display: block;}
    
    /*================ HEADER GROUP ===================*/
    .dropdown--quickSearch.is-open{   width: 100% !important;}
    .quickSearchResults .modal-close {display: block;}

    .custom_categories ul.navPages-list{ list-style: none;
        .navPages-item{ display: inline-block; padding: 0 10px; }
    }
    /*================ Page Category Product - Can Remove ===================*/
    .productView-options .form-action{width: 100%; margin-bottom: 5px; padding: 0;}

    /*================ HOME PAGE GROUP - No Remove ===================*/
    .navbar-phone{margin-top:0px; float: $right;}
    .sb-banner--slideshow .block-content{display: flex;}

    div.sb-banner.sb-banner--feature_category{ 
        .block-content{overflow-x: scroll;}
        .banners{flex: 0 0 25%;}
    }

    div.sb-deals{width: 100%;}
    .extraslider--bestsell{width: 100%;}
    .extraslider--new{width: 100%; clear: both;}
    .extraslider--featured{width: 100%;clear: both;}
    div.sb-banner--services {
        .block-content{  overflow-x: scroll;}
        .banners{flex: 0 0 29%;}
    }
    .footer-center {
       .collapsed-block {    flex: 0 0 100%;max-width: 100%;}
    }

    .footer-info-list{margin-bottom: 30px;}
    .footer-info{width: 100%;}
    .footer-socials{    justify-content: center!important; margin-top: 15px;}
    .custom_categories{border-top: none; margin-top: 0;}
    .tab {
        float: $left; 
    }

    /*====== Home Page 2 =======*/
    .section-slideshow .slick-slider .heroCarousel-content{position: relative;  transform: translateY(-60%); width: 100%;}
    .sb-supper-category .spcat-container .spcat-items-container{ 
      border-right: 1px solid #e8e8e8;
    }
    .home2--style{
        .header-center{ padding-top: 20px;}

        div.sb-banner--home2_blockServices{
            padding: 0;
           .block-content{
                -webkit-box-orient: horizontal!important;
                -webkit-box-direction: normal!important;
                -ms-flex-direction: row!important;
                flex-direction: row!important;
                overflow-x: scroll;
                padding: 15px 0;
                .banners{
                    -ms-flex: 0 0 25%;
                    flex: 0 0 25%;
                }
            }  
        } 
    }
}
