// =============================================================================
// RESPONSIVE (CSS)
// =============================================================================

@include breakpoints(lg){
	.container {
	    position: relative;
	    max-width: 1200px;
	}
	
	.home4--style {
		.container {
			max-width: 1600px;
			width: 93%;
		}

		.main-right {
			padding-left: 5px;
		}
	}
}
@media (min-width: 1649px){
	.default--style{
		.section-slideshow{height:450px; overflow: hidden;
			.sb-loadeding{height:450px;}
		}
	}
	.home2--style{
		.section-slideshow{height:620px; overflow: hidden; position: relative;z-index: 5;
			.sb-loadeding{height:620px;}
		}
	}
}

@media (min-width: 1200px) and (max-width: 1649px){
	
}






