<nav>
	<span id="close-sidebar" class=" fa fa-times" ></span>
	
    {{#if categories}}
        {{> components/sbthemes/module/category }}
    {{/if}}
    
    {{#if category.faceted_search_enabled}}
        {{> components/faceted-search/index category}}
    {{else}}
        {{> components/sbthemes/category/shop-by-price shop_by_price=category.shop_by_price category_url=category.url}}
    {{/if}}

	{{> components/sbthemes/module/sb_extraslider/default products=products.top_sellers moduleId=3 row=4 columns=1 banner="no" class_sfx="sidebar--bestsell" }}
	
	{{> components/sbthemes/module/sb_banner/banner status=true prefix="cmsblock" showContent=true limitation=1 display_mode="" class_sfx=""}}

	{{> components/sbthemes/module/sb_banner/banner status=true prefix="sidebarBanner" showContent=false limitation=1 display_mode="" class_sfx=""}}
	
    
</nav>
