<div class="newsletter-block-title d-none d-xl-block d-lg-block">
    <h2 class="footer-info-heading">{{lang 'home4_newsletter.subscribe'}}</h2>
    <p class="des d-none d-lg-block">{{lang 'home4_newsletter.subscribe_intro'}}</p>
</div>
<form class="form newsletter-block-content" action="{{urls.subscribe.action}}" method="post">
    <fieldset class="form-fieldset">
        <input type="hidden" name="action" value="subscribe">
        <input type="hidden" name="nl_first_name" value="bc">
        <input type="hidden" name="check" value="1">
        <div class="form-field">
            <label class="form-label is-srOnly" for="nl_email">{{lang 'common.email_address'}}</label>
            <div class="input-group justify-content-md-center">

                <input class="form-input form-control" id="nl_email" name="nl_email" type="email" value="{{customer.email}}" placeholder="{{lang 'newsletter.email_placeholder'}}">
                <div class="input-group-btn"> 
                    <input class="btn btn-primary  button--primary " type="submit" value="{{lang 'newsletter.subscribe_submit'}}">
                </div>
            </div>
        </div>
    </fieldset>
</form>
