{{#if social_media}}

    <h5 class="footer-info-heading hidden">{{lang 'social.connect'}}</h5>
    <ul class="socialLinks socialLinks--alt">
        {{#each social_media}}
            <li class="socialLinks-item">
                {{#if display_name '===' 'google+'}}
                    <a class="icon--google" href="{{url}}" target="_blank">
                        <i class="fa fa-google"></i>
                        <span class="">{{display_name}}</span>
                    </a>
                {{else}}
                    <a class="icon--{{display_name}}" href="{{url}}" target="_blank">
                        <i class="fa fa-{{display_name}}"></i>
                        <span class="">{{display_name}}</span>
                    </a>
                {{/if}}
            </li>
        {{/each}}
    </ul>

{{/if}}
