<li class="navPages-item{{#if load-webpage '==' 'yes'}} hasMegamenu{{/if}}{{#if position '==' 'right'}} float-right {{/if}} ">
{{#if children}}
<a class="navPages-action has-subMenu " href="{{url}}" >
	{{#if ../icon-awesome '!=' ' '}}
		<i class="fa fa-{{../icon-awesome }}"></i>
	{{else if ../icon-image '!=' ' '}}
		<img data-sizes="auto" class="navPages__icon lazyload" src="{{cdn '/assets/img/loading.svg'}}" data-src="{{cdn ../icon-image }}" alt="icons">
	{{/if}}

	{{#if ../badge '!=' ' '}}
		<span class="badge badge--{{../badge}}">{{../badge}}</span>
	{{/if}}

	{{name}}
	<span class=" has-subMenu" data-collapsible="navPages-webpage-{{@index}}">
		<i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-right" /></svg></i>
	</span>

</a>
<div class="navPage-subMenu" id="navPages-webpage-{{@index}}" aria-hidden="true" tabindex="-1">

	<ul class="navPage-subMenu-list ">
		{{#forEach children}}
			<li class="navPage-subMenu-item">
				{{#if children}}
					<a
						class="navPage-subMenu-action navPages-action has-subMenu"
						href="{{url}}"
						>
						{{name}}
						<span class=" has-subMenu" data-collapsible="subMenu-webpage-{{@index}}">
							<i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-right" /></svg></i>
						</span>

					</a>
					<div class="navPage-subMenu subMenu--level2" id="subMenu-webpage-{{@index}}" aria-hidden="true" tabindex="-1">
						<ul class="navPage-childList" >
							{{#each children}}
							<li class="navPage-childList-item">
								<a class="navPage-childList-action navPages-action" href="{{url}}">{{name}}</a>
							</li>
							{{/each}}

						</ul>
					</div>
				{{else}}
					<a class="navPage-subMenu-action navPages-action" href="{{url}}">{{name}}</a>
				{{/if}}

			</li>
		{{/forEach}}
	</ul>

</div>
{{else}}

	<a class="navPages-action {{#if ../load-webpage '==' 'yes'}}has-subMenu{{/if}} " href="{{url}}">

		{{#if ../icon-awesome '!=' ' '}}
			<i class="fa fa-{{../icon-awesome }}"></i>
		{{else if ../icon-image '!=' ' '}}
			<img data-sizes="auto" class="navPages__icon lazyload" src="{{cdn '/assets/img/loading.svg'}}" data-src="{{cdn ../icon-image }}" alt="icons">
		{{/if}}
		{{#if ../badge '!=' ' '}}
			<span class="badge badge--{{../badge}}">{{../badge}}</span>
		{{/if}}
		{{name}}

		{{#if ../load-webpage '==' 'yes'}}
		<span class=" has-subMenu" data-collapsible="navPages-webpage-{{@index}}">
			<i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-right" /></svg></i>
		</span>
		{{/if}}
	</a>

	{{#if ../load-webpage '==' 'yes'}}
	<div class="navPage-subMenu " id="navPages-webpage-{{@index}}" aria-hidden="true" tabindex="-1">
		{{> components/sbthemes/module/sb_megamenu/horizontal/subwebpage  webpage=url}}
	</div>
	{{/if}}
{{/if}}
 </li>
