{{#if status '==' 'true' }}
<li class="navPages-item {{#if type-menu '==' 'mega'}}hasMegamenu{{/if}} {{#if position '==' 'right'}}float-right{{/if}}">

{{#if children}}
    <a class="navPages-action has-subMenu" href="{{url}}">
		{{#if ../icon-awesome '!=' ' '}}
			<i class="fa fa-{{../icon-awesome }}"></i> 
		{{else if ../icon-image '!=' ' '}}
			<img data-sizes="auto" class="navPages__icon lazyload" src="{{cdn '/assets/img/loading.svg'}}" data-src="{{cdn ../icon-image }}" alt="icons">
		{{/if}}
		
		{{#if ../badge '!=' ' '}}
			<span class="badge badge--{{../badge}}">{{../badge}}</span>
		{{/if}} 
        {{name}} 
		
		<span class=" has-subMenu" data-collapsible="navPages-{{id}}">
			<i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-right" /></svg></i>
		</span>
    </a>
    <div class="navPage-subMenu" id="navPages-{{id}}" aria-hidden="true" tabindex="-1">
		{{#if type-menu '==' 'mega'}}
			{{> components/sbthemes/module/sb_megamenu/horizontal/submega 
				columns = columns
				banner-mode = banner-mode
				banner-img 	= banner-img
				banner-placeholder = banner-placeholder
				banner-url 	= banner-url
			}}
		{{else}}
			<ul class="navPage-subMenu-list">
				{{#each children}}
					<li class="navPage-subMenu-item">
						{{#if children}}
							<a class="navPage-subMenu-action navPages-action navPages-action-depth-max has-subMenu" href="{{url}}">
								{{name}}
								<span class=" has-subMenu" 
									data-collapsible="navPages-{{id}}"
									">
									<i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-right" /></svg></i>
								</span>
							</a>
							<div class="navPage-subMenu subMenu--level2" id="navPages-{{id}}" aria-hidden="false" tabindex="-1">
								<ul class="navPage-childList">
									
									{{#each children}}
										<li class="navPage-childList-item">
											{{#if children}}
												<a class="navPage-childList-action navPages-action navPages-action-depth-max has-subMenu" href="{{url}}" data-collapsible="navPages-{{id}}">
													{{name}} <i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i>
												</a>
												{{> components/common/navigation-dropdown}}
											{{else}}
												<a class="navPage-childList-action navPages-action" href="{{url}}">{{name}}</a>
											{{/if}}
										</li>
									{{/each}}
								</ul>
							</div>
							

						{{else}}
							<a class="navPage-childList-action navPages-action" href="{{url}}">{{name}}</a>
						{{/if}}
					</li>
				{{/each}}
			</ul>
		{{/if}}
	</div>

{{else}}
	<a class="navPages-action" href="{{url}}">
		
		{{#if ../icon-awesome '!=' ' '}}
			<i class="fa fa-{{../icon-awesome }}"></i>
		{{else if ../icon-image '!=' ' '}}
			<img data-sizes="auto" class="navPages__icon lazyload" src="{{cdn '/assets/img/loading.svg'}}" data-src="{{cdn ../icon-image }}" alt="icons">
		{{/if}}
		{{#if ../badge '!=' ' '}}
			<span class="badge badge--{{../badge}}">{{../badge}}</span>
		{{/if}} 
		
		{{name}}
		
		
	</a>
	
{{/if}}
</li>
{{/if}}