<div class="imageArea col-sm-12">
	<div class="gr-dropzone" 
	data-products-by-category-tabs="{{webpage}}" 
	data-urltemplate="sbthemes/webpage/default"
	>
		<div class="productLoading" >
			<img class="img-responsive lazyload" src="{{cdn '/assets/img/loading.svg'}}" alt="loading" width="50" height="50" >
		</div>
	</div>
</div>