{{#if status }}
<div class="module sb-latestblog" >
	{{#unless hide_heading}}
	<div class="home-title">
		<h5 class="block-title">
	        {{lang 'sb_themes.latest_blog.heading' }} 
	    </h5>
	</div>
	{{/unless}}
    <div class="block-content">
    	<div class="latest-blog--carousel {{#if theme_settings.general_rtl '==' 'rtl' }}dir-rtl{{/if}}"
    		data-slick='{
		        "dots": {{ dots }},
		        "arrows": {{ arrows }},
		        "infinite": false,
		        "mobileFirst": true,
		        "slidesToShow": 1,
		        "slidesToScroll": 1,
		        "responsive": [
		            {
		                "breakpoint": 1200,
		                "settings": {
		                    "slidesToScroll": 1,
		                    "slidesToShow": {{ columns }}
		                }
		            },
					{
		                "breakpoint": 992,
		                "settings": {
		                    "slidesToScroll": 1,
		                    "slidesToShow": 1
		                }
		            },
		            {
		                "breakpoint": 768,
		                "settings": {
		                    "slidesToScroll": 1,
		                    "slidesToShow": 2
		                }
		            },
		            {
		                "breakpoint": 575,
		                "settings": {
		                    "slidesToScroll": 1,
		                    "slidesToShow": 2
		                }
		            },
		            {
		                "breakpoint": 100,
		                "settings": {
		                    "slidesToScroll": 1,
		                    "slidesToShow": 1
		                }
		            }
		        ]
		    }'
    	>
    		
    		
    		{{#each (limit blogs 5)}}
		    <div class="productCarousel-slide">
		        {{> components/sbthemes/module/sb_latest_blog/item post=this show_desc=show_desc settings=../settings}}

		    </div>
		    {{/each}}

			
		</div>
    </div>
   
</div>
{{/if}}
