 <article class="blog-post product-grid">
				    
    {{#if post.thumbnail}}
    <div class="blog-post-figure">
        
            <figure class="blog-thumbnail">
                <a href="{{post.url}}">
                    <img data-sizes="auto" class="img-fluid lazyload " src="{{cdn '/assets/img/loading.svg'}}" data-src="{{getImage post.thumbnail 'blog_size' (cdn theme_settings.default_image_product)}}" alt="{{post.thumbnail.alt}}" title="{{post.thumbnail.alt}}">
                </a>
            </figure>
       
    </div>
     {{/if}}
     
    <div class="blog-header">
        <h2 class="blog-title">
            <a href="{{post.url}}">{{post.title}}</a>
        </h2>
        <div class="blog-meta">
            <span class="blog-author"><i class="fa fa-user"></i>{{post.author}} </span>
            <span class="blog-date"><i class="fa fa-clock-o"></i> {{post.date_published}}  </span>
        </div>

    </div> 

    <div class="blog-post-body">
        {{#if show_desc '==' 'yes'}}
		{{#unless hide_summary}}
        <p class="article-description ">
        {{#if post.body}}
            {{{post.body}}}
        {{else}}
            {{post.summary}}
             &hellip; 
        {{/if}}
        </p>
        {{/unless}}
		{{/if}}
		
        <div class="clear"></div>

        {{#unless hide_readmore}}
        {{#if post.show_read_more}}
                <a href="{{url}}" class="btn--readmore hidden"> <i class="fa fa-caret-right"></i> {{lang 'sb_themes.blog.read_more'}}</a>
        {{/if}}
        {{/unless}}

        {{#if show_tags}}
            {{#if post.tags}}
                <ul class="tags">
                    {{#each post.tags}}
                    <li class="tag">
                        <a href="{{url}}">#{{name}}</a>
                    </li>
                    {{/each}}
                </ul>
            {{/if}}
        {{/if}}

       
    </div>
</article>
