
{{#if category.products }}
<section class="productCarousel products-list {{#if theme_settings.general_rtl '==' 'rtl' }}dir-rtl{{/if}}"
	data-slick='{
		"dots": true,
		"arrows": false,
        "infinite": true,
        "mobileFirst": true,
        "slidesToShow": 1,
        "slidesToScroll": 1,
		"arrows": true,
		"responsive": [
			{
				"breakpoint": 1260,
				"settings": {
					"slidesToScroll": 1,
					"slidesToShow": 1
				}
			},
			{
				"breakpoint": 991,
				"settings": {
					"slidesToScroll": 1,
					"slidesToShow": 2
				}
			},
			{
				"breakpoint": 400,
				"settings": {
					"slidesToScroll": 1,
					"slidesToShow": 2
					
				}
			},
			{
				"breakpoint": 0,
				"settings": {
					"slidesToScroll": 1,
					"slidesToShow": 1,
					"arrows": false
				}
			}
		]
	}'
>
	{{#forEach (limit category.products theme_settings.homepage_deals_count) }}
		
			<div class="productCarousel-slide product-layout product-grid">
		
		
			{{> components/sbthemes/module/sb_deals/home2/card_listing
				show_rating=../theme_settings.show_product_rating
				theme_settings=../theme_settings 
				customer=../customer
				alternate=../alternate
			}}
			
		
			</div>
	
	{{/forEach}}
	
</div>

{{else}}
	<div class="alert alert-info" role="alert" style="margin:30px 0">
		<i class="fa fa-info-circle"></i> 
	    {{{lang 'sb_themes.sb_topdeals_home2.noItem' }}}
	</div>
{{/if}}
