
<div class="module banners sb-banner sb-banner--blockBanner3 d-none d-sm-block">
	<div class="row">
		<div class="banner1 col-xl-3 col-md-3 col-sm-3 col-xs-12">
			<div class="b1">
				{{#if (lang 'sb_revo.blockBanner3.banner1.image') '!=' ' '}}
				<a href="{{url}}"><img class="img-fluid lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="{{cdn (lang 'sb_revo.blockBanner3.banner1.image')}}"  alt="{{title}}"  /></a>
				{{else}}
				<a href="{{url}}"><img class="img-fluid lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="{{cdn (lang 'sb_revo.blockBanner3.banner1.placeholderImage')}}" alt="{{title}}"  /></a>
				{{/if}}
			</div>
			<div class="b2">
				{{#if (lang 'sb_revo.blockBanner3.banner2.image') '!=' ' '}}
				<a href="{{url}}"><img class="img-fluid lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="{{cdn (lang 'sb_revo.blockBanner3.banner2.image')}}"  alt="{{title}}"  /></a>
				{{else}}
				<a href="{{url}}"><img class="img-fluid lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="{{cdn (lang 'sb_revo.blockBanner3.banner2.placeholderImage')}}" alt="{{title}}"  /></a>
				{{/if}}
			</div>
		</div>
		<div class="banner2 col-lg-6 col-md-6 col-sm-6 col-xs-12">
	      		{{#if (lang 'sb_revo.blockBanner3.banner3.image') '!=' ' '}}
				<a href="{{url}}"><img class="img-fluid lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="{{cdn (lang 'sb_revo.blockBanner3.banner3.image')}}"  alt="{{title}}"  /></a>
				{{else}}
				<a href="{{url}}"><img class="img-fluid lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="{{cdn (lang 'sb_revo.blockBanner3.banner3.placeholderImage')}}" alt="{{title}}"  /></a>
				{{/if}}
	    </div>
	    <div class="banner3 col-xl-3 col-md-3 col-sm-3 col-xs-12">
			<div class="b1">

				{{#if (lang 'sb_revo.blockBanner3.banner4.image') '!=' ' '}}
				<a href="{{url}}"><img class="img-fluid lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="{{cdn (lang 'sb_revo.blockBanner3.banner4.image')}}"  alt="{{title}}"  /></a>
				{{else}}
				<a href="{{url}}"><img class="img-fluid lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="{{cdn (lang 'sb_revo.blockBanner3.banner4.placeholderImage')}}" alt="{{title}}"  /></a>
				{{/if}}
			</div>
			<div class="b2">
				{{#if (lang 'sb_revo.blockBanner3.banner5.image') '!=' ' '}}
				<a href="{{url}}"><img class="img-fluid lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="{{cdn (lang 'sb_revo.blockBanner3.banner5.image')}}"  alt="{{title}}"  /></a>
				{{else}}
				<a href="{{url}}"><img class="img-fluid lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="{{cdn (lang 'sb_revo.blockBanner3.banner5.placeholderImage')}}" alt="{{title}}"  /></a>
				{{/if}}
			</div>
		</div>
	</div>
</div>