{{#if status }}
<div class="shop-services">
    <div class="contentslider  sb-banner sb-banner--{{prefix}} {{class_sfx}} clearfix d-flex justify-content-between {{#if theme_settings.general_rtl '==' 'rtl' }}dir-rtl{{/if}}"
         data-slick='{
            "dots": false,
            "infinite": true,
            "mobileFirst": true,
            "slidesToShow": 1,
            "slidesToScroll": 6,
            "responsive": [
                {
                    "breakpoint": 1200,
                    "settings": {
                        "slidesToScroll": 1,
                        "slidesToShow": {{ column }}
                    }
                },
                {
                    "breakpoint": 992,
                    "settings": {
                        "slidesToScroll": 1,
                        "slidesToShow": 4
                    }
                },
                {
                    "breakpoint": 768,
                    "settings": {
                        "slidesToScroll": 1,
                        "slidesToShow": 4
                    }
                },
                {
                    "breakpoint": 575,
                    "settings": {
                        "slidesToScroll": 1,
                        "slidesToShow": 4
                    }
                },
                {
                    "breakpoint": 0,
                    "settings": {
                        "slidesToScroll": 1,
                        "slidesToShow": 2
                    }
                }
            ]
        }'
    >

        {{#if limitation '>' 1}}
            {{#for  limitation }}
                {{> components/sbthemes/module/sb_banner/service-item
                    theme_settings = ../theme_settings
                    show_content = ../showContent
                    image	= (lang  (concat (concat (concat (concat 'sb_revo.' ../prefix) '.banner') $index)'.image'))
                    placeholder	= (lang  (concat (concat (concat (concat 'sb_revo.' ../prefix) '.banner') $index)'.placeholderImage'))
                    icon	= (lang  (concat (concat (concat (concat 'sb_revo.' ../prefix) '.banner') $index)'.icon'))
                    url		= (lang  (concat (concat (concat (concat 'sb_revo.' ../prefix) '.banner') $index)'.url'))
                    title	= (lang  (concat (concat (concat (concat 'sb_revo.' ../prefix) '.banner') $index)'.title'))
                    text	= (lang  (concat (concat (concat (concat 'sb_revo.' ../prefix) '.banner') $index)'.text'))
                    button	= (lang  (concat (concat (concat (concat 'sb_revo.' ../prefix) '.banner') $index)'.button'))
                }}
            {{/for}}
        {{/if}}
    </div>
    {{/if}}
</div>