<div class="item">
	{{#if image '!=' ' '}}
		<a href="{{url}}">
			<img class="img-fluid" src="{{cdn image }}"  alt="{{title}}"  />
			{{#if title '!=' ' '}}
			<span>{{title}}</span>
			{{/if}}
		</a>
	{{else}}
		<a href="{{url}}">
			<img class="img-fluid" src="{{cdn placeholder}}" alt="{{title}}"  />
			{{#if title '!=' ' '}}
			<span>{{title}}</span>
			{{/if}}
		</a>
	{{/if}}
</div>