// =============================================================================
// HEADER (Settings)
// =============================================================================

$header-color:                             	stencilColor("color-header");
$header-color-text:                         stencilColor("color-header-text");
//
$header-bg:                                 stencilColor("header-backgroundColor");
$header-height:                             55px;
$header-toggle-width:                       $header-height;
$header-logo-marginVertical:                spacing("half");
$header-logo-paddingVertical:               $header-logo-marginVertical;

$storeName-color:                           stencilColor("storeName-color");
