
<section class="productCarousel products-list {{#if theme_settings.general_rtl '==' 'rtl' }}dir-rtl{{/if}}"
    
    data-slick='{
        "dots": false,
        "infinite": true,
        "mobileFirst": true,
        "slidesToShow": 1,
        "slidesToScroll": 1,
        "responsive": [
            {
	                "breakpoint": 1260,
	                "settings": {
	                    "slidesToScroll": 1,
	                    "slidesToShow": {{columns}}
	                }
	            },
				{
					"breakpoint": 991,
					"settings": {
						"slidesToScroll": 1,
						"slidesToShow": 3
					}
				},
				{
					"breakpoint": 565,
					"settings": {
						"slidesToScroll": 1,
						"slidesToShow": 2
						
					}
				},
				{
					"breakpoint": 0,
					"settings": {
						"slidesToScroll": 1,
						"slidesToShow": 1,
						"arrows": false
					}
				}
        ]
    }'
    
>
   
    {{#forEach (limit products theme_settings.homepage_extraslider_count)}}
		{{#if ../row '==' 1}}
			<div class="{{#if isFirst}}first-side{{/if}} productCarousel-slide product-layout product-list">
				{{> components/sbthemes/products/card_row theme_settings=../../theme_settings  customer=../../customer}}
			</div>
		{{else}}
			{{#or isFirst (if index '===' (add 1 ../../row)) (if index '===' (add 1 (multiply 2 ../../row))) (if index '===' (add 1 (multiply 3 ../../row))) (if index '===' (add 1 (multiply 4 ../../row))) }}
				<div class="productCarousel-slide product-layout product-list">
			{{/or}} 
			
				{{> components/sbthemes/products/card_row theme_settings=../../theme_settings customer=../../customer}}
				
			{{#or (if index '===' ../../row)(if index '==='(multiply 2 ../../row)) (if index '==='(multiply 3 ../../row)) (if index '==='(multiply 4 ../../row)) (if index '===' total)}}
				</div>
			{{/or}}
		{{/if}}
		
    {{/forEach}}
	
	
</section>
