{{#if status }}
 <div class="module blog-tags {{class_sfx}}">
	<h5 class="block-title"> <span>{{lang 'sb_themes.blog.popular_tags'}}</span></h5>
	<div class="block-content clearfix">
	<ul class="tags">
	{{#forEach products}}
		
		{{#forEach custom_fields}}
			{{#if name '==' '__tags'}}
				<li class="tag">
					<a href="search.php?search_query={{value}}&section=product">{{value}}</a>
				</li>
			{{/if}}
		{{/forEach}}
		
	{{/forEach}}
	</ul>
	</div>
</div>
{{/if}}
