{{#and price.price_range (if theme_settings.price_ranges '==' true)}}
    {{> components/products/price-range price_range=price.price_range schema_org=schema_org}}
{{else}}
    {{#if price.with_tax}}
        <div class="price-section price-section--withTax" {{#if schema_org}}itemprop="offers" itemscope itemtype="http://schema.org/Offer"{{/if}}>
            {{#if price.rrp_with_tax}}
                <span data-product-rrp-with-tax class="price price--rrp">{{price.rrp_with_tax.formatted}}</span>
            {{/if}}
            <span data-product-price-with-tax class="price price--withoutTax">{{price.with_tax.formatted}}</span>
            {{#if schema_org}}
                <meta itemprop="availability" content="{{product.availability}}">
                <meta itemprop="itemCondition" itemtype="http://schema.org/OfferItemCondition" content="http://schema.org/{{product.condition}}Condition">
                <div itemprop="priceSpecification" itemscope itemtype="http://schema.org/PriceSpecification">
                    <meta itemprop="price" content="{{price.with_tax.value}}">
                    <meta itemprop="priceCurrency" content="{{currency_selector.active_currency_code}}">
                    <meta itemprop="valueAddedTaxIncluded" content="true">
                </div>
            {{/if}}
            {{#if price.without_tax}}
                <abbr title="{{lang 'products.excluding_tax'}}">{{lang 'products.price_with_tax' tax_label=price.tax_label}}</abbr>
            {{/if}}
        </div>
    {{/if}}
	
    {{#if price.without_tax}}
        <div class="price-section price-section--withoutTax {{#if price.with_tax}}price-section--minor{{/if}}"  {{#if schema_org}}itemprop="offers" itemscope itemtype="http://schema.org/Offer"{{/if}}>
            {{#if price.rrp_without_tax}}
                <span data-product-rrp-without-tax class="price price--rrp">{{price.rrp_without_tax.formatted}}</span>
            {{/if}}
            {{#if schema_org}}
                <meta itemprop="availability" itemtype="http://schema.org/ItemAvailability" content="http://schema.org/{{#if product.pre_order}}PreOrder{{else if product.out_of_stock}}OutOfStock{{else if product.can_purchase '===' false}}OutOfStock{{else}}InStock{{/if}}">
                <meta itemprop="itemCondition" itemtype="http://schema.org/OfferItemCondition" content="http://schema.org/{{product.condition}}Condition">
                <div itemprop="priceSpecification" itemscope itemtype="http://schema.org/PriceSpecification">
                    <meta itemprop="price" content="{{price.without_tax.value}}">
                    <meta itemprop="priceCurrency" content="{{currency_selector.active_currency_code}}">
                    <meta itemprop="valueAddedTaxIncluded" content="false">
                </div>
            {{/if}}
			<span data-product-price-without-tax class="price price--withoutTax">{{price.without_tax.formatted}}</span>
			<span data-product-price-without-tax class="price price--noSaleWithoutTax">{{price.non_sale_price_without_tax.formatted}}</span>
            {{#if price.with_tax}}
                <abbr title="{{lang 'products.excluding_tax'}}">{{lang 'products.price_without_tax' tax_label=price.tax_label}}</abbr>
            {{/if}}
        </div>
    {{/if}}
	
    {{#if page_type '===' 'product'}}
        {{#if price.saved}}
            <div class="price-section price-section--saving">
                <span class="price">
                    {{lang 'products.you_save' amount=price.saved.formatted}}
                </span>
            </div>
        {{/if}}
    {{/if}}
{{/and}}