// =============================================================================
// Home 1
// =============================================================================
//====== SB Promotion   =======
div.sb-promotion{margin:  0;     height: 40px; overflow: hidden;}
.module.sb-listingtabs--slider{
    margin-bottom: 10px;
}
@media (min-width: 1200px){    
    .main-right .module.sb-banner{
        margin-bottom: 33px;
    }
    .module.sb-listingtabs--bigfirst{
        margin-bottom: 0;
    }
}
    

//====== Latest Blog  =======
div.sb-latestblog{ clear: both;
    @include listingtabArrow();
     .slick-dots{
        position: absolute;
        top: -45px;
        #{$right}: -5px;
        width: auto;
    }
    .slick-list{margin: 0 -10px;}
    .blog-post {margin-bottom: 0;}
   	.slick-slider{
   	 	.slick-prev,
   	 	.slick-next{transform: translateY(-45px);}
   	}
    .slick-dots li {
        display: none
    }
    .slick-dots li:nth-child(1),
    .slick-dots li:nth-child(2),
    .slick-dots li:nth-child(3) {
        display: block;
    }
}

//====== Static Banner  =======
.banners{padding: 0; background: none; color: $gray; text-align: left;}
.sb-banner{ border:none;
    .block-content{ padding: 0; }
    .flex-row{margin:0 -15px;
        .banners{margin: 0 15px;}
    }
}
div.sb-banner--feature_category{  border:none;
	.block-title{
        position: relative;
        background: transparent;
        padding-#{$left}: 0;
        font-size: 18px; letter-spacing: 0.7px;
      	margin-bottom:30px;
    }
	.banners{ box-shadow: 0px 2px 3px 0px rgba(100, 100, 100, 0.3);  text-align: center; 
		.banner-figcaption {margin:0;}
		.banner-figcaption__title{margin: 0;color:#222;  font-size: 16px; text-transform: uppercase; line-height: 52px; @include transition(all .3s ease 0s); display: block; }
		&:hover{
			.banner-figcaption__body{ background: #222; color: #fff;}
            .banner-figcaption__title{color: #fff;}
		}
	}
}
div.sb-banner--slideshow{margin-bottom: 0;}
div.sb-brand--static_brand{ 
	.sb-brand--carousel{ padding: 15px 0; margin:0;   border: 1px solid #ebebeb; border-radius: 3px;
        @media (min-width: 992px){ padding: side-values(30px 0 30px 25px); }
        .slick-prev{#{$left}: -20px; z-index: 5;
            @media (min-width: 992px){
                #{$left}: 0px; opacity: 0;
            }
            &:before{
                content: "\f104";
            }
        }
        .slick-next{#{$right}: -20px; z-index: 5;
            @media (min-width: 992px){
                #{$right}: 0px; opacity: 0;
            }
             &:before{
                content: "\f105";
            }
        }
        @media (min-width: 992px){
            &:hover{
                .slick-prev{#{$left}: -20px; opacity: 1;}
                .slick-next{#{$right}: -20px; opacity: 1;}
            }
        }
        img{
          opacity: 0.4;
          @include transition(all 0.25s ease);
          &:hover{
            opacity: 1;
          }
        }
        .slick-prev,.slick-next{margin: 0;
            font-size: 18px;
            width: 40px;
            height: 40px;
            line-height: 36px;
            border-radius: 50%;
            text-align: center;
            margin: 0;
            border: 2px solid #ebebeb; 
            cursor: pointer;
            display: inline-block;
            @include transition(all .3s ease 0s);
            position: absolute;
            z-index: 2;
            background: #fff;
            &:before{
                font-family: FontAwesome;
                background: transparent;
                height: 100%;
                width: 100%;
                line-height: 100%;
                text-align: center;
                font-size: 18px;
                color: #ebebeb;
            }
            &:hover{
                border-color: $color-primary;
                background: $color-primary;
                &:before{
                    color: #fff;
                }
            }
        }
    }
}

div.sb-banner--sidebarBanner{
	.block-content{padding: 0 !important;}
}

//====== SB Etraslider  =======
.extraslider--banner_no{
    .block-content{display: block; margin: 0;}
}
.extraslider--new{   float: $left;width: calc(50% - 1.14286rem);    }
.extraslider--featured{  float: $right;width: calc(50% - 1.14286rem);}
.extraslider--bestsell{float: $right;width: calc(25% - 1.14286rem);}
div.extraslider--home1{
	@include listingtabArrow();
    .slick-dots{
        position: absolute;
        top: -45px;
        #{$right}: -5px;
        width: auto;
    }
	.productCarousel{margin: 0; max-width: 100%; }
	.productCarousel-slide{padding: 0; width:100%;}
	.products-list .product-list{
		 .product-item-container {width: 100%; margin-bottom: 15px; min-height: 95px;
		 	&:last-child{margin-bottom:0;}
		 	.left-block{width: 85px; border: none; margin-#{$right}: 15px; padding: 0;}
		 	.right-block{margin-#{$left}: 0; padding: 0; overflow: hidden;
                .card-title{font-size: 14px;
                    @include text-overflow();
                    color: #222; font-weight: normal;
                }
            }
            &:hover{
                .left-block img{ opacity: 0.7; }
            }
		 }
	}
}


.alignBanner--right{ 
    .sb-listing-tabs{
        .ltabs-heading{ 
            @include if-ltr {direction: rtl;} 
            @include if-rtl {direction: ltr;}
            .block-title{
                border-radius: corner-values(7px 0 0 0);
                margin: side-values(0 -9px 0 0);
                &:before{
                    #{$left}: auto; #{$right}:1px;
                    transform: rotate(#{if-ltr('-90deg', '90deg')});}
            }
            ul.tabs {
                
            }
        }
        
        .ltabs-container{
            .productCarousel .productCarousel-slide .product-item-container:before{#{$right}:auto; #{$left}:0;}
        }
    }
}


div.sb-banner--blockServices{
    border: 1px solid #ebebeb;
    border-radius: 3px;
    padding: 0 15px;
    @media (min-width: 1500px){
        padding: 0 20px;
    }
    .banners{  color: #222; 
        clear: both;
        border-top: 1px solid #ebebeb;
        display: inline-block;
        width: 100%;
        padding: 15px 0; 
        display: flex;
        &:first-child{ border: none; }
        @media (min-width: 1500px){
            padding: 25px 0px;
        }
        .banner-figure{
            -webkit-box-flex: 0;
            font-size: 28px;
            width: 40px;
            margin-#{$right}: 10px;
            -webkit-transition: all 0.2s;
            -o-transition: all 0.2s;
            transition: all 0.2s;
            text-align: center;
            line-height: 100%;
            padding-top: 3px;
            color: #666;
            @media (min-width: 1500px){
                font-size: 32px;
                width: 50px;
            }
        }
        .banner-figcaption{
            -webkit-box-flex: 0;
            color: #999; 
            text-align: $left;
            overflow: hidden;
            margin:0;
           
        }
        .banner-figcaption__title{
            font-size: 14px;
            color: #222;
            text-transform: uppercase;
            -webkit-transition: all 0.2s;
            -o-transition: all 0.2s;
            transition: all 0.2s;
            margin: 0 0 5px;
            font-weight: normal;
        }
        .banner-figcaption__text{
            color: #999;
            line-height: 100%;
            margin-bottom: 0;
        }
    }
}
.module.sb-product-carousel{
    .home-title {
        border-bottom: 2px solid #eee;
        display: inline-block;
        width: 100%;
        position: relative;
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 16px;
        color: #000;
        font-weight: 700;
        text-transform: uppercase;
        h5{
            font-size: 16px;
            color: #fff;
            font-weight: 700;
            float: left;
            text-transform: uppercase;
            margin-bottom: 0px;
            background-color: #232f3e;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            padding: 8px 20px;
            position: relative;
            bottom: -2px;
            &:before{ display: none; }
        }
    }
    .slick-prev,
    .slick-next {
        font-size: 0;
        position: absolute;
        bottom: 20px;
        color: #ebebeb;
        border: 0;
        background: none;
        z-index: 1;
        border-radius: 50%;
        text-align: center;
        margin: 0;
        border: 2px solid #ebebeb;
        background: #fff;
        padding: 0;
        width: 28px;
        height: 28px;
        &:before{
            display: none;
        }
        &:hover{
            border-color: $background;
            background: $background;
        }
    }
    .slick-prev {
        right: 45px;
        top: -50px;
        left: auto;
    }

    .slick-prev:after {
        content: "\f104";
        font: 18px/1 'FontAwesome';
    }

    .slick-next {
        right: 10px;
        top: -50px;
        left: auto;
    }

    .slick-next:after {
        content: "\f105";
        font: 18px/1 'FontAwesome';
    }

    .slick-prev:hover:after,
    .slick-next:hover:after {
        color: #fff;
    }
    .block-title{
        border-bottom: 2px solid #eee;
        display: inline-block;
        width: 100%;
        position: relative;
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 16px;
        color: #000;
        font-weight: 700;
        text-transform: uppercase;
        span{
            font-size: 16px;
            color: #fff;
            font-weight: 700;
            float: left;
            text-transform: uppercase;
            margin-bottom: 0;
            background-color: #232f3e;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            padding: 11px 20px;
            position: relative;
            bottom: -2px;
        }
    }
    .products-list .product-layout .product-item-container{
        padding: 15px 10px;
        margin: 0;
        background-color: #f7f7f7;
        border-radius: 3px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        .left-block{ 
            width: 90px;
            border: none;
            padding: 0;
            text-align: center;
            @media (min-width: 1200px){
                width: 130px;
            }
        }
        .right-block{
            padding: 0 10px;
            @media (min-width: 1200px){
                padding: 10px 10px 5px;
            }
        }
        &:hover{
            .left-block img{ opacity: 0.7; }
        }
    }
}

.sb-deals-carousel{
    .block-title{
        border-bottom: 2px solid #eee;
        display: inline-block;
        width: 100%;
        position: relative;
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        span {
            font-size: 16px;
            color: #fff;
            font-weight: 700;
            float: left;
            text-transform: uppercase;
            margin-bottom: 0;
            background-color: #232f3e;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            padding: 11px 20px;
            position: relative;
            bottom: -2px;
            @media (max-width: 767px){
                padding: 8px 15px;
                font-size: 14px;
            }
        }
    }
    .slick-prev,
    .slick-next {
        font-size: 0;
        position: absolute;
        bottom: 20px;
        color: #ebebeb;
        border: 0;
        background: none;
        z-index: 1;
        border-radius: 50%;
        text-align: center;
        margin: 0;
        border: 2px solid #ebebeb;
        background: #fff;
        padding: 0;
        width: 28px;
        height: 28px;
        &:before{
            display: none;
        }
        &:hover{
            border-color: $background;
            background: $background;
        }
    }
    .slick-prev {
        right: 45px;
        top: -50px;
        left: auto;
    }

    .slick-prev:after {
        content: "\f104";
        font: 18px/1 'FontAwesome';
    }

    .slick-next {
        right: 10px;
        top: -50px;
        left: auto;
    }

    .slick-next:after {
        content: "\f105";
        font: 18px/1 'FontAwesome';
    }

    .slick-prev:hover:after,
    .slick-next:hover:after {
        color: #fff;
    }
    .productCarousel{
        margin: 0 -15px;
        .productCarousel-slide{
            padding: 0 15px;
        }
    }
    @media (min-width: 1200px){
        .item-right{
            padding-#{$left}: 0;
        }
    }
    .slick-dots{
        bottom: 20px;
        position: static;
        left: auto;
        right: auto;
        width: 100%;
        display: inline-block;
        text-align: center;
        position: relative;
        top: 0px;
        z-index: 10;
        > li{
          background: #222 !important;
          margin: 0 5px;
          width: 30px;
          height: 6px;
          padding: 0;
          transition: all 0.3s ease 0s;
          border-radius: 3px;
          float: none;
          display: inline-block;
          button {
            display: none;
          }
          &:hover,
          &.slick-active {
            background: $background !important;   
            span {
              box-shadow: none;
              -webkit-box-shadow: none;
              background: $background !important; 
            }
          }
        }
    }
    .products-list .product-grid .product-item-container{
        background-color: transparent;
        margin: 0 0 20px;
        .product-item-photo{ text-align: $left }
        .product-card__gallery{
            visibility: visible!important;
            transform: translateX(0%)!important;
        }
        .left-block{
            padding: 0;
            .sale-flag-discount {
                top: 15px;
                #{$right}: 30px;
            }
        }
        .right-block{
            background-color: transparent;
            padding: 0;
            text-align: $left;
             .card-title > a {
                color: #222;
                font-size: 18px;
                text-transform: capitalize;
                font-weight: bold;
                &:hover{
                    color: $background;
                }
            }
            .ratings{ display: none; }
            .price-section{
                margin: 5px 0;
                .price--withoutTax {
                    font-size: 20px;
                }
            } 
            .description{ display: block; }
            .item-time-w{
                clear: both;
                margin-top: 15px;
                .time-title{
                    float: $left;
                    color: #222;
                    width: 35%;
                    span{
                        font-size: 20px;
                        font-weight: 700;
                        display: block;
                        width: 100%;
                    }
                }
            }
            .item-timer{
                background-color: transparent;
                .time-item{
                    background-color: transparent;
                    line-height: 100%;
                    float: $left;
                    text-align: center;
                    width: auto;
                    margin-#{$left}: 10px;
                    @media (max-width: 1650px){
                        &:first-child{
                            margin: 0;
                        }
                    }
                    .num-time{
                        border: none;
                        font-size: 14px;
                        color: #222;
                        font-weight: 700;
                        position: relative;
                        width: 40px;
                        height: 40px;                        
                        line-height: 40px;
                        text-align: center;
                        background-color: #eee;
                        border-radius: 100%;
                        &:after{
                            
                        }
                    }
                    .name-time{
                        color: #666;
                        font-size: 10px;
                        font-weight: 400;
                        text-transform: uppercase;
                        margin-top: 3px;
                    }
                    &.time-sec{
                        .num-time{
                            &:after{
                                display: none;
                            }
                        }
                    }
                }
            } 
        }
    } 
}
.sb-banner--blockBanner3{
    .b1{
        @media (min-width: 992px){
            margin-bottom: 30px;
        }
        @media only screen and (max-width: 991px) and (min-width: 576px){
            margin-bottom: 16px;
        }
    }
}
@media (max-width: 1465px) and (min-width: 1200px){
    .header-center .minilink-header > li.oder{ display: none; }
    .sb-banner--blockBannerLeft3{ display: none!important; }
    .sb-listing-tabs .ltabs-container .productCarousel{ margin: 0 -10px; }
    .sb-listingtabs--bigfirst .products-list .product-grid .product-item-container,
    .sb-listing-tabs .ltabs-container .productCarousel .productCarousel-slide{ padding: 0 10px; }
    .sb-listing-tabs .ltabs-container .productCarousel .productCarousel-slide .product-item-container{ margin-bottom: 20px; }
    .sb-listingtabs--bigfirst .products-list .product-grid .product-item-container:first-child{ padding: side-values(0 10px 0 0) }
    div.extraslider--home1 .products-list .product-list .product-item-container {
        min-height: 90px;
    }
    .sb-listingtabs--bigfirst .products-list .product-grid .product-item-container:first-child .right-block {
        padding: 42px 12px;
    }
}