// =============================================================================
// Home 1
// =============================================================================
//====== SB Promotion   =======
div.sb-promotion{margin:  0;     height: 40px; overflow: hidden;}
.module.sb-listingtabs--slider{
    margin-bottom: 10px;
}
@media (min-width: 1200px){    
    .main-right .module.sb-banner{
        margin-bottom: 33px;
    }
    .module.sb-listingtabs--bigfirst{
        margin-bottom: 0;
    }
}
    

//====== Latest Blog  =======
div.sb-latestblog{ clear: both;
    @include listingtabArrow();
     .slick-dots{
        position: absolute;
        top: -45px;
        #{$right}: -5px;
        width: auto;
    }
    .slick-list{margin: 0 -10px;}
    .blog-post {margin-bottom: 0;}
    .slick-slider{
        .slick-prev,
        .slick-next{transform: translateY(-45px);}
    }
    .slick-dots li {
        display: none
    }
    .slick-dots li:nth-child(1),
    .slick-dots li:nth-child(2),
    .slick-dots li:nth-child(3) {
        display: block;
    }
}

//====== Static Banner  =======
.banners{padding: 0; background: none; color: $gray; text-align: left;}
.sb-banner{ border:none;
    .block-content{ padding: 0; }
    .flex-row{margin:0 -15px;
        .banners{margin: 0 15px;}
    }
}
div.sb-banner--feature_category{  border:none;
    .block-title{
        border-bottom: 2px solid #eee;
        display: inline-block;
        width: 100%;
        position: relative;
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 16px;
        color: #000;
        font-weight: 700;
        text-transform: uppercase;
        span{
            font-size: 16px;
            color: #222;
            font-weight: 700;
            float: $left;
            text-transform: uppercase;
            margin-bottom: 5px;
            background-color: transparent;
            padding: 0;
            padding-bottom: 5px;
            bottom: 0;
            position: relative;
            &:before {
                content: "";
                width: 100%;
                height: 2px;
                background: #ff9600;
                position: absolute;
                #{$left}: 0;
                bottom: -7px;
            }
        }
    }
    .banners{ position: relative;  text-align: center; @include transition(all .3s ease 0s);background-color: #f7f7f7;
        .banner-figcaption {
            margin:0;
            text-align: center;
            width: 100%;
            padding: 15px 0;
        }
        .banner-figcaption__title{margin: 0;color:#222;  font-size: 14px; text-transform: uppercase;font-weight: normal;; @include transition(all .3s ease 0s); display: block;
            >a{
                color:#222;
                &:hover{
                    color: $color-primary;
                }
            }
         }
        &:hover{
            box-shadow: 0px 2px 3px 0px rgba(100, 100, 100, 0.3);
            .banner-figcaption__title{color: $color-primary;;}
        }
    }
}
div.sb-banner--slideshow{margin-bottom: 0;}
div.sb-brand--static_brand{ 
    .sb-brand--carousel{ padding: 15px 0; margin:0;   border: 1px solid #ebebeb; border-radius: 3px;
        @media (min-width: 992px){ padding: side-values(30px 0 30px 25px); }
        .slick-prev{#{$left}: -20px; z-index: 5;
            @media (min-width: 992px){
                #{$left}: 0px; opacity: 0;
            }
            &:before{
                content: "\f104";
            }
        }
        .slick-next{#{$right}: -20px; z-index: 5;
            @media (min-width: 992px){
                #{$right}: 0px; opacity: 0;
            }
             &:before{
                content: "\f105";
            }
        }
        @media (min-width: 992px){
            &:hover{
                .slick-prev{#{$left}: -20px; opacity: 1;}
                .slick-next{#{$right}: -20px; opacity: 1;}
            }
        }
        img{
          opacity: 0.4;
          @include transition(all 0.25s ease);
          &:hover{
            opacity: 1;
          }
        }
        .slick-prev,.slick-next{margin: 0;
            font-size: 18px;
            width: 40px;
            height: 40px;
            line-height: 36px;
            border-radius: 50%;
            text-align: center;
            margin: 0;
            border: 2px solid #ebebeb; 
            cursor: pointer;
            display: inline-block;
            @include transition(all .3s ease 0s);
            position: absolute;
            z-index: 2;
            background: #fff;
            &:before{
                font-family: FontAwesome;
                background: transparent;
                height: 100%;
                width: 100%;
                line-height: 100%;
                text-align: center;
                font-size: 18px;
                color: #ebebeb;
            }
            &:hover{
                border-color: $color-primary;
                background: $color-primary;
                &:before{
                    color: #fff;
                }
            }
        }
    }
}

div.sb-banner--sidebarBanner{
    .block-content{padding: 0 !important;}
}

//====== SB Etraslider  =======
.extraslider--banner_no{
    .block-content{display: block; margin: 0;}
}
.extraslider--new{   float: $left;width: calc(50% - 1.14286rem);    }
.extraslider--featured{  float: $right;width: calc(50% - 1.14286rem);}
.extraslider--bestsell{float: $right;width: calc(25% - 1.14286rem);}
div.extraslider--home1{
    @include listingtabArrow();
    .slick-dots{
        position: absolute;
        top: -45px;
        #{$right}: -5px;
        width: auto;
    }
    .productCarousel{margin: 0; max-width: 100%; }
    .productCarousel-slide{padding: 0; width:100%;}
    .products-list .product-list{
         .product-item-container {width: 100%; margin-bottom: 15px; min-height: 95px;
            &:last-child{margin-bottom:0;}
            .left-block{width: 85px; border: none; margin-#{$right}: 15px; padding: 0;}
            .right-block{margin-#{$left}: 0; padding: 0; overflow: hidden;
                .card-title{font-size: 14px;
                    @include text-overflow();
                    color: #222; font-weight: normal;
                }
            }
            &:hover{
                .left-block img{ opacity: 0.7; }
            }
         }
    }
}


.alignBanner--right{ 
    .sb-listing-tabs{
        .ltabs-heading{ 
            @include if-ltr {direction: rtl;} 
            @include if-rtl {direction: ltr;}
            .block-title{
                border-radius: corner-values(7px 0 0 0);
                margin: side-values(0 -9px 0 0);
                &:before{
                    #{$left}: auto; #{$right}:1px;
                    transform: rotate(#{if-ltr('-90deg', '90deg')});}
            }
            ul.tabs {
                
            }
        }
        
        .ltabs-container{
            .productCarousel .productCarousel-slide .product-item-container:before{#{$right}:auto; #{$left}:0;}
        }
    }
}


div.sb-banner--home2_blockServices{
    border: 1px solid #ebebeb;
    border-radius: 3px;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    @media (min-width: 1500px){
        padding: 26px 0;
    }
    .block-content {
        padding: 0;
        display: flex;
    }
    .banners{  color: #222; 
        float: $left;
        display: inline-block;
        width: 20%;
        padding: 0; 
        text-align: center;
        position: relative;
        &:before {
            background: #ebebeb none repeat scroll 0 0;
            content: "";
            height: 50px;
            position: absolute;
            #{$right}: 0;
            top: 0px;
            width: 1px;
        }
        &:last-child:before{ display: none; }
        .banner-figure{
            margin-bottom: 10px;
            display: block;
            line-height: 100%;
            font-size: 32px;
            color: #ff9600;
            position: relative;
            @media (min-width: 1500px){
                font-size: 45px;
                display: inline-block;
                margin-#{$right}: 17px;
                margin-bottom: 0;
            }
        }
        .banner-figcaption{
            display: inline-block;
            text-align: center;
            @media (min-width: 1500px){
                text-align: $left;
            }
        }
        .banner-figcaption__title{
            font-weight: 700;
            text-transform: uppercase;
            font-size: 14px;
            color: #666;
            margin: 0 0 5px;
            >a{
                color:#666;
                &:hover{
                    color: $color-primary;
                }
            }
             @media (max-width: 567px){
                 font-size: 12px;
            }
        }
        .banner-figcaption__text{
            color: #999;
            line-height: 100%;
            margin-bottom: 0;
        }
    }
}
.module.sb-product-carousel{
    .home-title {
        border-bottom: 2px solid #eee;
        display: inline-block;
        width: 100%;
        position: relative;
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 16px;
        color: #000;
        font-weight: 700;
        text-transform: uppercase;
        h5{
            font-size: 16px;
            color: #fff;
            font-weight: 700;
            float: left;
            text-transform: uppercase;
            margin-bottom: 0px;
            background-color: #232f3e;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            padding: 8px 20px;
            position: relative;
            bottom: -2px;
            &:before{ display: none; }
        }
    }
    .slick-prev,
    .slick-next {
        font-size: 0;
        position: absolute;
        bottom: 20px;
        color: #ebebeb;
        border: 0;
        background: none;
        z-index: 1;
        border-radius: 50%;
        text-align: center;
        margin: 0;
        border: 2px solid #ebebeb;
        background: #fff;
        padding: 0;
        width: 28px;
        height: 28px;
        &:before{
            display: none;
        }
        &:hover{
            border-color: $background;
            background: $background;
        }
    }
    .slick-prev {
        right: 45px;
        top: -50px;
        left: auto;
    }

    .slick-prev:after {
        content: "\f104";
        font: 18px/1 'FontAwesome';
    }

    .slick-next {
        right: 10px;
        top: -50px;
        left: auto;
    }

    .slick-next:after {
        content: "\f105";
        font: 18px/1 'FontAwesome';
    }

    .slick-prev:hover:after,
    .slick-next:hover:after {
        color: #fff;
    }
    .block-title{
        border-bottom: 2px solid #eee;
        display: inline-block;
        width: 100%;
        position: relative;
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 16px;
        color: #000;
        font-weight: 700;
        text-transform: uppercase;
        span{
            font-size: 16px;
            color: #fff;
            font-weight: 700;
            float: left;
            text-transform: uppercase;
            margin-bottom: 0;
            background-color: #232f3e;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            padding: 11px 20px;
            position: relative;
            bottom: -2px;
        }
    }
    .products-list .product-layout .product-item-container{
        padding: 15px 10px;
        margin: 0;
        background-color: #f7f7f7;
        border-radius: 3px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        .left-block{ 
            width: 90px;
            border: none;
            padding: 0;
            text-align: center;
            @media (min-width: 1200px){
                width: 130px;
            }
        }
        .right-block{
            padding: 0 10px;
            @media (min-width: 1200px){
                padding: 10px 10px 5px;
            }
        }
        &:hover{
            .left-block img{ opacity: 0.7; }
        }
    }
}
.sb-brand--home2_banner3{
    .slick-prev {
        right: auto;
        left: 20%;
    }

    .slick-prev:after {
        content: "\f104";
        font: 70px/1 'FontAwesome';
        color: #fff;
    }

    .slick-next {
        right: 20%;
        left: auto;
    }

    .slick-next:after {
        content: "\f105";
        font: 70px/1 'FontAwesome';
        color: #fff;
    }
    .slick-prev,
    .slick-next {
        font-size: 0;
        position: absolute;
        color: #ebebeb;
        border: 0;
        background: none;
        z-index: 1;
        border-radius: 50%;
        text-align: center;
        margin: 0;
        background: transparent;
        padding: 0;
        width: 28px;
        height: 28px;
        top: 50%;
        margin-top: -30px;
        @media (max-width: 1700px){
            display: none!important;
        }
        &:before{
            display: none;
        }
        &:hover{
            background: transparent;
            &:after{
                color: $background!important;
            }
        }
    }
}
.sb-deals-carousel{

    .slick-prev,
    .slick-next {
        font-size: 0;
        position: absolute;
        bottom: 20px;
        color: #ebebeb;
        border: 0;
        background: none;
        z-index: 1;
        border-radius: 50%;
        text-align: center;
        margin: 0;
        background: #fff;
        padding: 0;
        width: 28px;
        height: 28px;
        &:before{
            display: none;
        }
        &:hover{
            background: transparent;
            &:after{
                color: $background!important;
            }
        }
    }
    .slick-prev {
        right: 35px;
        top: -45px;
        left: auto;
    }

    .slick-prev:after {
        content: "\f104";
        font: 26px/1 'FontAwesome';
        color: #999;
    }

    .slick-next {
        right: 10px;
        top: -45px;
        left: auto;
    }

    .slick-next:after {
        content: "\f105";
        font: 26px/1 'FontAwesome';
        color: #999;
    }

    .slick-prev:hover:after,
    .slick-next:hover:after {
        color: #fff;
    }
    .productCarousel{
        margin: 0 -15px;
        .productCarousel-slide{
            padding: 0 15px;
        }
    }
    @media (min-width: 1200px){
        .item-right{
            padding-#{$left}: 0;
        }
    }
    .slick-dots{
        
        bottom: 20px;
        position: static;
        left: auto;
        right: auto;
        width: 100%;
        display: inline-block;
        text-align: center;
        position: relative;
        top: 0px;
        z-index: 10;
        @media (min-width: 992px){
            display: none;
        }
        > li{
          background: #222 !important;
          margin: 0 5px;
          width: 30px;
          height: 6px;
          padding: 0;
          transition: all 0.3s ease 0s;
          border-radius: 3px;
          float: none;
          display: inline-block;
          button {
            display: none;
          }
          &:hover,
          &.slick-active {
            background: $background !important;   
            span {
              box-shadow: none;
              -webkit-box-shadow: none;
              background: $background !important; 
            }
          }
        }
    }
    .products-list .product-grid .product-item-container{
        background-color: transparent;
        margin: 0 0 20px;
        .product-item-photo{ text-align: $left }
        .product-card__gallery{
            visibility: visible!important;
            transform: translateX(0%)!important;
        }
        .left-block{
            padding: 0;
            .sale-flag-discount {
                top: 15px;
                #{$right}: 30px;
            }
        }
        .right-block{
            background-color: transparent;
            padding: 0;
            text-align: $left;
            margin-top: 20px;
             .card-title > a {
                color: #222;
                font-size: 18px;
                text-transform: capitalize;
                font-weight: bold;
                &:hover{
                    color: $background;
                }
            }
            .ratings{ display: none; }
            .price-section{
                margin: 5px 0;
                .price--withoutTax {
                    font-size: 20px;
                }
            } 
            .description{ display: block; }
            .item-time-w{
                clear: both;
                margin-top: 15px;
                @media (min-width: 1650px){
                    padding: 0 15%;
                }
                @media (max-width: 1199px){
                    .item-time{
                        margin: 0 auto;
                        text-align: center;
                        .countdown--group{
                            display: inline-block;
                        }
                    }
                }
                .time-title{
                    float: $left;
                    color: #222;
                    width: 35%;
                    span{
                        font-size: 20px;
                        font-weight: 700;
                        display: block;
                        width: 100%;
                    }
                }
            }
            .item-timer{
                background-color: transparent;
                .time-item{
                    background-color: transparent;
                    line-height: 100%;
                    float: $left;
                    text-align: center;
                    width: auto;
                    margin-#{$left}: 10px;
                    @media (max-width: 1650px){
                        &:first-child{
                            margin: 0;
                        }
                    }
                    .num-time{
                        border: none;
                        font-size: 14px;
                        color: #222;
                        font-weight: 700;
                        position: relative;
                        width: 40px;
                        height: 40px;                        
                        line-height: 40px;
                        text-align: center;
                        background-color: #eee;
                        border-radius: 100%;
                        @media (max-width: 467px){
                            width: 30px;
                        height: 30px;                        
                        line-height: 30px;
                         font-size: 12px;
                        }
                        &:after{
                            
                        }
                    }
                    .name-time{
                        color: #666;
                        font-size: 10px;
                        font-weight: 400;
                        text-transform: uppercase;
                        margin-top: 3px;
                    }
                    &.time-sec{
                        .num-time{
                            &:after{
                                display: none;
                            }
                        }
                    }
                }
            } 
        }
    } 
}
.sb-banner--blockBanner3{
    .b1{
        @media (min-width: 992px){
            margin-bottom: 30px;
        }
        @media only screen and (max-width: 991px) and (min-width: 576px){
            margin-bottom: 16px;
        }
    }
}
@media (max-width: 1465px) and (min-width: 1200px){
    .header-center .minilink-header > li.oder{ display: none; }
    .sb-banner--blockBannerLeft3{ display: none!important; }
    .sb-listing-tabs .ltabs-container .productCarousel{ margin: 0 -10px; }
    .sb-listingtabs--bigfirst .products-list .product-grid .product-item-container,
    .sb-listing-tabs .ltabs-container .productCarousel .productCarousel-slide{ padding: 0 10px; }
    .sb-listing-tabs .ltabs-container .productCarousel .productCarousel-slide .product-item-container{ margin-bottom: 20px; }
    .sb-listingtabs--bigfirst .products-list .product-grid .product-item-container:first-child{ padding: side-values(0 10px 0 0) }
    div.extraslider--home1 .products-list .product-list .product-item-container {
        min-height: 90px;
    }
    .sb-listingtabs--bigfirst .products-list .product-grid .product-item-container:first-child .right-block {
        padding: 42px 12px;
    }
}
.navPages-verticalCategories .megamenuToogle-wrapper:before,
.navPages-verticalCategories .megamenuToogle-wrapper:after{
    display: none;
}
.section-tags{
    background-color: #f9f9f9;
    padding: 13px 0;
    border-top: 1px solid #ebebeb;
    overflow: hidden;
    h5 {
    color: #222;
    float: $left;
    font-size: 13px;
    margin: 0;
    line-height: 100%;
    font-weight: bold;
    padding-#{$right}: 30px;
    text-transform: capitalize;
    }
    .menu-info-list li {
    float: $left;
    @media (min-width: 1600px){padding-#{$right}: 30px;}
    padding-#{$right}: 15px;
    line-height: 100%;
}
}
.section-slideshow{
    margin-top: 0;
}
@media (min-width: 992px){
    .header-bottom{
        .navPages-verticalCategories .megamenuToogle-wrapper{
            background-color: transparent;
            color: #222;
            padding: 0!important;
            .icon-caret-circle{
                float: none;
            }
        }
        .verticalCategories.is-open{
            top: 100%!important;
        }
        .navPages-horizontal ul.navPages-list > li.navPages-item:first-child{
            >a{
                padding-#{$left}: 0;
            }
        }
    } 

}

.sb-listingtabs--slider{
    .sb-listing-tabs .ltabs-heading ul.tabs{ top: 2px; 
        @media (max-width: 567px){
            margin-bottom: 15px;
        }
    }
    .sb-listing-tabs .ltabs-heading .block-title{
        border-bottom: 2px solid #eee;
        display: inline-block;
        width: 100%;
        position: relative;
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 16px;
        color: #000;
        font-weight: 700;
        text-transform: uppercase;
        @media (max-width: 567px){
            margin-bottom: 5px;
        }
        a{
            font-size: 16px;
            color: #222;
            font-weight: 700;
            text-transform: uppercase;
            margin: 0 0 5px;
            background-color: transparent;
            padding: 0;
            padding-bottom: 5px;
            bottom: 0;
            position: relative;
            width: auto;
            &:before {
                content: "";
                width: 100%;
                height: 2px;
                background: #ff9600;
                position: absolute;
                #{$left}: 0;
                bottom: -7px;
            }
        }
    }
}