// =============================================================================
// Home 1
// =============================================================================
//====== SB Promotion   =======
div.sb-promotion{margin:  0;     height: 40px; overflow: hidden;}
.module.sb-listingtabs--slider{
    margin-bottom: 10px;
}

@media (min-width: 1200px){
    body.home3--style .container {
        max-width: 1200px;
        padding: 0 15px;
        width: 100%;
    }
}
@media (min-width: 1200px){    
    .main-right .module.sb-banner{
        margin-bottom: 33px;
    }
    .module.sb-listingtabs--bigfirst{
        margin-bottom: 0;
    }
}
@media (min-width: 992px){
    .module {
        margin-bottom: 40px;
    }
}
.navPages-verticalCategories{ z-index: 1; }
//====== Latest Blog  =======
div.sb-latestblog{ clear: both;
    @include listingtabArrow();
     .slick-dots{
        position: absolute;
        top: -45px;
        #{$right}: -5px;
        width: auto;
    }
    .slick-list{margin: 0 -10px;}
    .blog-post {margin-bottom: 0;}
    .slick-slider{
        .slick-prev,
        .slick-next{transform: translateY(-45px);}
    }
    .slick-dots li {
        display: none
    }
    .slick-dots li:nth-child(1),
    .slick-dots li:nth-child(2),
    .slick-dots li:nth-child(3) {
        display: block;
    }
}

//====== Static Banner  =======
.banners{padding: 0; background: none; color: $gray; text-align: left;}
.sb-banner{ border:none;
    .block-content{ padding: 0; }
    .flex-row{margin:0 -15px;
        .banners{margin: 0 15px;}
    }
}
div.sb-banner--feature_category{  border:none;
    .block-title{
        border-bottom: 2px solid #eee;
        display: inline-block;
        width: 100%;
        position: relative;
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 16px;
        color: #000;
        font-weight: 700;
        text-transform: uppercase;
        span{
            font-size: 16px;
            color: #222;
            font-weight: 700;
            float: $left;
            text-transform: uppercase;
            margin-bottom: 5px;
            background-color: transparent;
            padding: 0;
            padding-bottom: 5px;
            bottom: 0;
            position: relative;
            &:before {
                content: "";
                width: 100%;
                height: 2px;
                background: #ff9600;
                position: absolute;
                #{$left}: 0;
                bottom: -7px;
            }
        }
    }
    .banners{ position: relative;  text-align: center; @include transition(all .3s ease 0s);background-color: #f7f7f7;
        .banner-figcaption {
            margin:0;
            text-align: center;
            width: 100%;
            padding: 15px 0;
        }
        .banner-figcaption__title{margin: 0;color:#222;  font-size: 14px; text-transform: uppercase;font-weight: normal;; @include transition(all .3s ease 0s); display: block; }
        &:hover{
            box-shadow: 0px 2px 3px 0px rgba(100, 100, 100, 0.3);
            .banner-figcaption__title{color: $color-primary;;}
        }
    }
}
div.sb-banner--slideshow{margin-bottom: 0;}
div.sb-brand--static_brand{ 
    .sb-brand--carousel{ padding: 15px 0; margin:0;   border: 1px solid #ebebeb; border-radius: 3px;
        @media (min-width: 992px){ padding: side-values(30px 0 30px 25px); }
        .slick-prev{#{$left}: -20px; z-index: 5;
            @media (min-width: 992px){
                #{$left}: 0px; opacity: 0;
            }
            &:before{
                content: "\f104";
            }
        }
        .slick-next{#{$right}: -20px; z-index: 5;
            @media (min-width: 992px){
                #{$right}: 0px; opacity: 0;
            }
             &:before{
                content: "\f105";
            }
        }
        @media (min-width: 992px){
            &:hover{
                .slick-prev{#{$left}: -20px; opacity: 1;}
                .slick-next{#{$right}: -20px; opacity: 1;}
            }
        }
        img{
          opacity: 0.4;
          @include transition(all 0.25s ease);
          &:hover{
            opacity: 1;
          }
        }
        .slick-prev,.slick-next{margin: 0;
            font-size: 18px;
            width: 40px;
            height: 40px;
            line-height: 36px;
            border-radius: 50%;
            text-align: center;
            margin: 0;
            border: 2px solid #ebebeb; 
            cursor: pointer;
            display: inline-block;
            @include transition(all .3s ease 0s);
            position: absolute;
            z-index: 2;
            background: #fff;
            &:before{
                font-family: FontAwesome;
                background: transparent;
                height: 100%;
                width: 100%;
                line-height: 100%;
                text-align: center;
                font-size: 18px;
                color: #ebebeb;
            }
            &:hover{
                border-color: $color-primary;
                background: $color-primary;
                &:before{
                    color: #fff;
                }
            }
        }
    }
}

div.sb-banner--sidebarBanner{
    .block-content{padding: 0 !important;}
}

//====== SB Etraslider  =======
.extraslider--banner_no{
    .block-content{display: block; margin: 0;}
}
.extraslider--new{   float: $left;width: calc(50% - 1.14286rem);    }
.extraslider--featured{  float: $right;width: calc(50% - 1.14286rem);}
.extraslider--bestsell{float: $right;width: calc(25% - 1.14286rem);}
div.extraslider--home1{
    @include listingtabArrow();
    .slick-dots{
        position: absolute;
        top: -45px;
        #{$right}: -5px;
        width: auto;
    }
    .productCarousel{margin: 0; max-width: 100%; }
    .productCarousel-slide{padding: 0; width:100%;}
    .products-list .product-list{
         .product-item-container {width: 100%; margin-bottom: 15px; min-height: 95px;
            &:last-child{margin-bottom:0;}
            .left-block{width: 85px; border: none; margin-#{$right}: 15px; padding: 0;}
            .right-block{margin-#{$left}: 0; padding: 0; overflow: hidden;
                .card-title{font-size: 14px;
                    @include text-overflow();
                    color: #222; font-weight: normal;
                }
            }
            &:hover{
                .left-block img{ opacity: 0.7; }
            }
         }
    }
}


.alignBanner--right{ 
    .sb-listing-tabs{
        .ltabs-heading{ 
            @include if-ltr {direction: rtl;} 
            @include if-rtl {direction: ltr;}
            .block-title{
                border-radius: corner-values(7px 0 0 0);
                margin: side-values(0 -9px 0 0);
                &:before{
                    #{$left}: auto; #{$right}:1px;
                    transform: rotate(#{if-ltr('-90deg', '90deg')});}
            }
            ul.tabs {
                
            }
        }
        
        .ltabs-container{
            .productCarousel .productCarousel-slide .product-item-container:before{#{$right}:auto; #{$left}:0;}
        }
    }
}


div.sb-banner--home2_blockServices{
    border: 1px solid #ebebeb;
    border-radius: 3px;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    @media (max-width: 991px){
        display: none;
    }
    @media (min-width: 1500px){
        padding: 26px 0;
    }
    .block-content {
        padding: 0;
        display: flex;
    }
    .banners{  color: #222; 
        float: $left;
        display: inline-block;
        width: 25%;
        padding: 0; 
        text-align: center;
        position: relative;
        &:before {
            background: #ebebeb none repeat scroll 0 0;
            content: "";
            height: 50px;
            position: absolute;
            #{$right}: 0;
            top: 0px;
            width: 1px;
        }
        &:last-child:before{ display: none; }
        .banner-figure{
            display: inline-block;
            line-height: 100%;
            font-size: 32px;
            color: #ff9600;
            position: relative;
            margin-#{$right}: 17px;
            @media (min-width: 1500px){
                font-size: 45px;
            }
        }
        .banner-figcaption{
            display: inline-block;
            text-align: $left;
        }
        .banner-figcaption__title{
            font-weight: 700;
            text-transform: uppercase;
            font-size: 14px;
            color: #666;
            margin: 0 0 5px;
            a{
                color: #666;
                &:hover{
                    color: $background;
                }
            }
        }
        .banner-figcaption__text{
            color: #999;
            line-height: 100%;
            margin-bottom: 0;
        }
    }
}
.module.sb-product-carousel{
    .home-title {
        border-bottom: 2px solid #eee;
        display: inline-block;
        width: 100%;
        position: relative;
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 16px;
        color: #000;
        font-weight: 700;
        text-transform: uppercase;
        h5{
            font-size: 16px;
            color: #fff;
            font-weight: 700;
            float: left;
            text-transform: uppercase;
            margin-bottom: 0px;
            background-color: #232f3e;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            padding: 8px 20px;
            position: relative;
            bottom: -2px;
            &:before{ display: none; }
        }
    }
    .slick-prev,
    .slick-next {
        font-size: 0;
        position: absolute;
        bottom: 20px;
        color: #ebebeb;
        border: 0;
        background: none;
        z-index: 1;
        border-radius: 50%;
        text-align: center;
        margin: 0;
        border: 2px solid #ebebeb;
        background: #fff;
        padding: 0;
        width: 28px;
        height: 28px;
        &:before{
            display: none;
        }
        &:hover{
            border-color: $background;
            background: $background;
        }
    }
    .slick-prev {
        right: 45px;
        top: -50px;
        left: auto;
    }

    .slick-prev:after {
        content: "\f104";
        font: 18px/1 'FontAwesome';
    }

    .slick-next {
        right: 10px;
        top: -50px;
        left: auto;
    }

    .slick-next:after {
        content: "\f105";
        font: 18px/1 'FontAwesome';
    }

    .slick-prev:hover:after,
    .slick-next:hover:after {
        color: #fff;
    }
    .block-title{
        border-bottom: 2px solid #eee;
        display: inline-block;
        width: 100%;
        position: relative;
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 16px;
        color: #000;
        font-weight: 700;
        text-transform: uppercase;
        span{
            font-size: 16px;
            color: #fff;
            font-weight: 700;
            float: left;
            text-transform: uppercase;
            margin-bottom: 0;
            background-color: #232f3e;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            padding: 11px 20px;
            position: relative;
            bottom: -2px;
        }
    }
    .products-list .product-layout .product-item-container{
        padding: 15px 10px;
        margin: 0;
        background-color: #f7f7f7;
        border-radius: 3px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        .left-block{ 
            width: 90px;
            border: none;
            padding: 0;
            text-align: center;
            @media (min-width: 1200px){
                width: 130px;
            }
        }
        .right-block{
            padding: 0 10px;
            @media (min-width: 1200px){
                padding: 10px 10px 5px;
            }
        }
        &:hover{
            .left-block img{ opacity: 0.7; }
        }
    }
}

.sb-deals-carousel{
    .home-title{
        margin: 0;
        display: block;
        overflow: hidden;
    }
    .sb-deals-container {
        border: 1px solid #eee;
        border-top: none;
        margin-top: -1px;
        border-radius: 4px;
        clear: both;
        padding-top: 20px;
    }
    .slick-prev,
    .slick-next {
        display: none;
        font-size: 0;
        position: absolute;
        bottom: 20px;
        color: #ebebeb;
        border: 0;
        background: none;
        z-index: 1;
        border-radius: 50%;
        text-align: center;
        margin: 0;
        border: 2px solid #ebebeb;
        background: #fff;
        padding: 0;
        width: 28px;
        height: 28px;
        display: none!important;
        &:before{
            display: none;
        }
        &:hover{
            border-color: $background;
            background: $background;
        }
    }
    .slick-prev {
        right: 45px;
        top: -50px;
        left: auto;
    }

    .slick-prev:after {
        content: "\f104";
        font: 18px/1 'FontAwesome';
    }

    .slick-next {
        right: 10px;
        top: -50px;
        left: auto;
    }

    .slick-next:after {
        content: "\f105";
        font: 18px/1 'FontAwesome';
    }

    .slick-prev:hover:after,
    .slick-next:hover:after {
        color: #fff;
    }
    .productCarousel{
        margin: 0 -15px;
        .productCarousel-slide{
            padding: 0 15px;
        }
    }
    @media (min-width: 1200px){
        .item-right{
            padding-#{$left}: 0;
        }
    }
    .slick-dots{
        position: absolute;
        top: -45px;
        #{$right}: 10px;
        width: auto;
        @media (min-width: 992px){
            display: none;
        }
        > li{
           background: #222 !important;
           margin: 0 5px;
            width: 8px;
          height: 8px;
          padding: 0;
          transition: all 0.3s ease 0s;
          border-radius: 8px;
          float: none;
          display: inline-block;
          button {
            display: none;
          }
          &:hover,
          &.slick-active {
            width: 30px;
            background: $background !important;   
            span {
              box-shadow: none;
              -webkit-box-shadow: none;
              background: $background !important; 
            }
          }
        }
    }
    .products-list .product-grid .product-item-container{
        background-color: transparent;
        margin: 0 0 20px;
        
        padding: 0 15px;
       
        
        padding-bottom: 20px;
        @media (min-width: 569px){
            width: 63%;
            float: $left;
            border-bottom: 1px solid #ebebeb !important;
        }
        &:first-child{
           
            @media (min-width: 569px){
                width: 37%;
                border-#{$right}: 1px solid #ebebeb;
                float: $left;
            }
            border-bottom: none!important;
            padding-bottom: 0!important;
            .left-block{width: 100%; float: none;}
            .right-block{overflow: visible; clear: $left; margin-top: 15px;}
        }
        &:last-child{
             border-bottom: none!important;
            padding-bottom: 0!important;   
        }
        .product-item-photo{ text-align: $left }
        .product-card__gallery{
            visibility: visible!important;
            transform: translateX(0%)!important;
        }@media (min-width: 569px){
        .left-block{width: 44%; float: left;}
    }
        .right-block{overflow: hidden; clear: none;}

        .left-block{
            padding: 0;
            
            .sale-flag-discount {
                top: 15px;
                #{$right}: 30px;
            }
        }
        .right-block{
            background-color: transparent;
            padding: 0;
            text-align: $left;
            padding-left: 15px;
             .card-title > a {
                color: #222;
                font-size: 18px;
                text-transform: capitalize;
                font-weight: bold;
                &:hover{
                    color: $background;
                }
            }
            .ratings{ display: none; }
            .price-section{
                margin: 5px 0;
                .price--withoutTax {
                    font-size: 20px;
                }
            } 
            .description{ display: block; 
                @media (max-width: 991px){
                    display: none;
                }
            }
            .item-time-w{
                clear: both;
                margin-top: 15px;
                .time-title{
                    float: $left;
                    color: #222;
                    width: 35%;
                    span{
                        font-size: 20px;
                        font-weight: 700;
                        display: block;
                        width: 100%;
                    }
                }
            }
            .item-timer{
                background-color: transparent;
                .time-item{
                    background-color: transparent;
                    line-height: 100%;
                    float: $left;
                    text-align: center;
                    width: auto;
                    margin-#{$left}: 10px;
                    @media (max-width: 1650px){
                        &:first-child{
                            margin: 0;
                        }
                    }
                    .num-time{
                        border: none;
                        font-size: 14px;
                        color: #222;
                        font-weight: 700;
                        position: relative;
                        width: 40px;
                        height: 40px;                        
                        line-height: 40px;
                        text-align: center;
                        background-color: #eee;
                        border-radius: 100%;
                        &:after{
                            
                        }
                    }
                    .name-time{
                        color: #666;
                        font-size: 10px;
                        font-weight: 400;
                        text-transform: uppercase;
                        margin-top: 3px;
                    }
                    &.time-sec{
                        .num-time{
                            &:after{
                                display: none;
                            }
                        }
                    }
                }
            } 
        }
    } 
}
.sb-banner--blockBanner3{
    .b1{
        @media (min-width: 992px){
            margin-bottom: 30px;
        }
        @media only screen and (max-width: 991px) and (min-width: 576px){
            margin-bottom: 16px;
        }
    }
}
@media (max-width: 1465px) and (min-width: 1200px){
    .header-center .minilink-header > li.oder{ display: none; }
    .sb-banner--blockBannerLeft3{ display: none!important; }
    .sb-listing-tabs .ltabs-container .productCarousel{ margin: 0 -10px; }
    .sb-listingtabs--bigfirst .products-list .product-grid .product-item-container,
    .sb-listing-tabs .ltabs-container .productCarousel .productCarousel-slide{ padding: 0 10px; }
    .sb-listing-tabs .ltabs-container .productCarousel .productCarousel-slide .product-item-container{ margin-bottom: 20px; }
    .sb-listingtabs--bigfirst .products-list .product-grid .product-item-container:first-child{ padding: side-values(0 10px 0 0) }
    div.extraslider--home1 .products-list .product-list .product-item-container {
        min-height: 90px;
    }
    .sb-listingtabs--bigfirst .products-list .product-grid .product-item-container:first-child .right-block {
        padding: 42px 12px;
    }
}
.navPages-verticalCategories .megamenuToogle-wrapper:before,
.navPages-verticalCategories .megamenuToogle-wrapper:after{
    display: none;
}
.section-tags{
    background-color: #f9f9f9;
    padding: 13px 0;
    border-top: 1px solid #ebebeb;
    overflow: hidden;
    h5 {
    color: #222;
    float: $left;
    font-size: 13px;
    margin: 0;
    line-height: 100%;
    font-weight: bold;
    padding-#{$right}: 30px;
    text-transform: capitalize;
    }
    .menu-info-list li {
    float: $left;
    padding-#{$right}: 30px;
    line-height: 100%;
}
}
.section-slideshow{
    margin-top: 20px;
    .sb-loadeding{
        left: 15px;
        right: 15px;
    }
    @media (min-width: 992px){
        margin: 30px 0;
        .main-border {
            border: 1px solid #ebebeb;
            border-radius: 3px;
            padding: 20px;
        }
        .verticalCategories {
            top: 100%!important;
            position: relative;
        }
        .navPages-verticalCategories .megamenuToogle-wrapper{ color: #222; background: transparent; }
    }
}
@media (min-width: 992px){
    .verticalCategories ul{ margin: 0; }
    .navPages-verticalCategories .megamenuToogle-wrapper,
    .verticalCategories .navPages-item{ padding: 0!important; box-shadow: none!important;
        > .navPages-action{
            padding: 5px 0;
        }
    }
    .header-bottom{
        .navPages-verticalCategories .megamenuToogle-wrapper{
            background-color: transparent;
            color: #fff;
            padding: 0!important;
            .icon-caret-circle{
                float: none;
            }
        }
        .navPages-horizontal ul.navPages-list > li.navPages-item > .navPages-action{
            color: #fff;
        }
        .navPages-action svg{
            fill: #fff;
            stroke: #fff;
        }
        .verticalCategories.is-open{
            top: 100%!important;
        }
        .navPages-horizontal ul.navPages-list > li.navPages-item:first-child{
            >a{
                padding-#{$left}: 0;
                color: #fff;
            }
        }
    } 

}

.sb-listingtabs--slider{
    .sb-listing-tabs .ltabs-heading ul.tabs{ top: 2px; }
    .sb-listing-tabs .ltabs-heading .block-title{
        border-bottom: 2px solid #eee;
        display: inline-block;
        width: 100%;
        position: relative;
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 16px;
        color: #000;
        font-weight: 700;
        text-transform: uppercase;
        a{
            font-size: 16px;
            color: #222;
            font-weight: 700;
            text-transform: uppercase;
            margin: 0 0 5px;
            background-color: transparent;
            padding: 0;
            padding-bottom: 5px;
            bottom: 0;
            position: relative;
            width: auto;
            &:before {
                content: "";
                width: 100%;
                height: 2px;
                background: #ff9600;
                position: absolute;
                #{$left}: 0;
                bottom: -7px;
            }
        }
    }
}
.blog-tags{
    .block-title{
        display: inline-flex;
        width: 100%;
        margin-top: 0;
        margin-bottom: 0px;
        font-size: 18px;
        color: #222;
        font-weight: 700;
        text-transform: uppercase;
        position: relative;
        &:after {
            position: absolute;
            content: "";
            width: 100%;
            height: 2px;
            background-color: #eee;
            bottom: 0;
            left: 0;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }
        span{
            position: relative;
            font-size: 16px;
             color: #222;
            font-weight: 700;
            float: left;
            text-transform: uppercase;
            padding-bottom: 13px;
            bottom: 0;
            position: relative;
            &:after {
                position: absolute;
                content: "";
                width: 100%;
                height: 2px;
                background-color: $color-primary;;
                bottom: 0;
                #{$left}: 0;
                    z-index: 1;

            }
        }
    }
    .block-content{
        border: 1px solid #eee;
        border-top: none;
        margin-top: -1px;
        border-radius: 4px;
        clear: both;
        padding: 20px;
        .tag{
            border: none;
            float: none;
            margin: 0;
            border-radius: 3px;
            background: transparent!important;
        }
        a {
            font-size: 12px ;
            background-color: #eee;
            color: #222;
            display: inline-block;
            float: left;
            margin: 0 10px 10px 0;
            padding: 5px 20px;
            position: relative;
            transition: all 0.2s ease 0s;
            line-height: 100%;
            border-radius: 15px;
            &:hover{
                background-color: $color-primary;;
            }
        }
    }
}
.h3-listingtabs{
    .ltabs-container .ltabs-items-container{
        border: 1px solid #eee;
       
        margin-top: 10px;
        border-radius: 4px;
        clear: both;
        padding: 20px;
        @media (min-width: 768px){
            border-top: none;
             margin-top: -1px;
        }
    }
    &.sb-listingtabs--slider .sb-listing-tabs .ltabs-heading .block-title{ margin: 0; display: block;display: flex;}
    .product-layout{
        .product-item-container{
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            padding-bottom: 25px;
            margin-bottom: 25px!important;
            border-bottom: 1px solid #ebebeb!important;
            width: 100%;
            background: transparent;
            &:last-child{
                border: none!important;
                padding: 0;
                margin: 0!important;
            }
            &:hover{
                
                .right-block .wishlist,
                .right-block .compare{
                    webkit-transform: scale(1);
                    -moz-transform: scale(1);
                    -ms-transform: scale(1);
                    -o-transform: scale(1);
                    transform: scale(1);
                    opacity: 1;
                    transition: all 0.2s ease-in-out 0s;                    
                }
            }
            .left-block {
                padding:  0!important;
                @media (min-width: 768px){
                    width: 160px;
                    float: $left;
                }
            }
            .right-block{
                vertical-align: top;
                margin-top: 10px;
                @media (min-width: 768px){
                    margin-#{$left}: 180px;
                    padding: 0;
                }
                padding: 0 0 20px;
                position: relative;
                text-align: $left;
                background-color: transparent;
                    clear: none;
                .addToCart{
                    border: none;
                    display: inline-block;
                    margin-top: 5px;
                    padding: 0;
                    background-color: #666;
                    border-radius: 3px;
                    color: #fff;
                    height: 30px;
                    line-height: 30px;
                    position: relative;
                    text-align: center;
                    font-size: 12px;
                    padding: 0 10px;
                    .fa {
                        padding-#{$right}: 5px;
                    }
                    .action-link{
                        color: #fff;
                    }
                }
                .quickview{
                    display: none!important;
                }
                .wishlist,
                .compare{
                    border: none;
                    display: inline-block;
                    margin-top: 5px;
                    padding: 0;
                    background-color: #666;
                    border-radius: 3px;
                    color: #fff;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    position: relative;
                    text-align: center;
                    font-size: 12px;  
                    vertical-align: top;
                    -webkit-transform: scale(0);
                    -moz-transform: scale(0);
                    -ms-transform: scale(0);
                    -o-transform: scale(0);
                    transform: scale(0);
                    opacity: 0;
                    transition: all 0.2s ease-in-out 0s;
                    @media (min-width: 1200px){
                        display: inline-block!important;
                    }
                    span{ display: none; }
                    .form-check-input{
                        margin: 0;
                    } 
                    .form-check-label{
                        padding: 0;
                    }
                }
            }
        }    
    }
}
@media (max-width: 991px){
    .slideshow{
        margin-top: 10px;
    }
}
.listingtabs2{
    .sb-listing-tabs .ltabs-container .ltabs-items-container{
        padding-top: 20px;
        @media (min-width: 1200px){
            border: 1px solid #ebebeb;
            overflow: hidden;
            border-top: 0;
            padding-bottom: 30px;
            padding-top: 30px;
        }
    }
    .sb-listing-tabs{
        .block-title{ margin: 0; }
        .ltabs-heading ul.tabs{
            position: relative;
            top: auto;
            width: 100%;
            padding: 0;
            height: auto;
            border: 1px solid #ebebeb;
             @media (min-width: 568px){
            border-left: none;
        }
            .tab-title {
                margin: 0 auto;
                text-align: center;
            }
        }
        .ltabs-container .productCarousel .productCarousel-slide .product-item-container{ margin: 0; }
        .slick-arrow{ display: none!important; }
        @media (min-width: 568px){
            .ltabs-heading ul.tabs li.tab{
                width: 14.28%;
                border: medium none;
                float: left;
                margin: 0px;
                padding: 12px 0 12px;
                position: relative;
                border-left: 1px solid #ebebeb;
                text-align: center;
                &:before{display: none!important;}
                &:hover,
                &.is-active{
                    background-color: #f1f1f1;
                    &:after {
                        position: absolute;
                        right: 50%;
                        margin-right: -6px;
                        bottom: -9px;
                        content: "";
                        border-left: 8px solid transparent;
                        border-right: 8px solid transparent;
                        border-top: 8px solid #f1f1f1;
                    }
                }
                span{
                    color: #666;
                    display: block;
                    font-size: 14px;
                    font-weight: 400;
                    padding: 0;
                    margin-top: 6px;
                    text-transform: capitalize;
                    line-height: 100%;
                    text-align: center;
                }
            }
        }
        @media (max-width: 567px){
            .ltabs-heading ul.tabs{
                display: flex;
                overflow-x: scroll;
            }
            .ltabs-heading ul.tabs li.tab{
                min-width: 100px;
                border: medium none;
                float: left;
                margin: 0px;
                padding: 12px 0 12px;
                position: relative;
                border-left: 1px solid #ebebeb;
                text-align: center;
                &:hover,
                &.is-active{
                    background-color: #ebebeb;
                }
                span{
                    color: #666;
                    display: block;
                    font-size: 14px;
                    font-weight: 400;
                    padding: 0;
                    margin-top: 6px;
                    text-transform: capitalize;
                    line-height: 100%;
                    text-align: center;
                }
            }
        }
    }
}